{% extends '::base.html.twig' %}

{% block javascripts %}
{{ parent() }}
<script>
    // select refEnfant by default
    $('select.option-selected').find('option').attr('selected', 'selected');
    $('select.option-selected').parent('div').css('display' , 'none');
</script>
{% endblock %}

{% block body %}
    {# L'utilisateur est-il connecté ? #}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {# L'utilisateur est connecté ! #}

        {# L'utilisateur est-il admin ? #}
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EDUCATEUR') or is_granted('ROLE_PARENT')%}
            {# L'utilisateur est admin ou educateur ou parent! #}
            
            {% block stylesheets %}
            {{parent()}}
                    <style>
                    .panel-connexion {margin-top: 10%;}
                    </style>
            {% endblock %}
            <div class="row">
                    <div class="col-md-6 col-md-offset-3 col-sm-12">
                            <div class="panel panel-info panel-connexion">

                                    <div class="panel-heading">
                                            <h2 class="panel-title">Créer une activité</h2>
                                    </div>
                                    <div class="panel-body">

                                            {#{{ form(formAdd) }}#}

                                            {{form_start(formAdd)}}
                                            {{ form_errors(formAdd) }}

                                            <div class="form-group">
                                                    <div class="col-md-6 col-sm-6">
                                              {{ form_label(formAdd.titre, "Titre:") }}
                                                      {{ form_errors(formAdd.titre) }}
                                                      {{ form_widget(formAdd.titre, { 'attr': {'class': 'form-control', 'placeholder' : 'Titre'} }) }}
                                                    </div>
                                            </div>

                                            <div class="form-group" id="">
                                            <div class="col-md-6 col-sm-6">
                                              {{ form_label(formAdd.refPictogramme, "Pictogramme:") }}
                                              {{ form_errors(formAdd.refPictogramme) }}
                                              {{ form_widget(formAdd.refPictogramme, { 'attr': {'class': 'form-control'} }) }}
                                            </div>  
                                            </div>

                                            <div class="form-group hidden" id="">
                                                    <div class="col-md-6 col-sm-6">
                                              {{ form_label(formAdd.refEnfant, "Enfant") }}
                                              {{ form_errors(formAdd.refEnfant) }}
                                              {{ form_widget(formAdd.refEnfant, { 'attr': {'class': 'form-control'} }) }}
                                              </div>
                                            </div>  

                                            <div class="form-group">
                                                    <div class="col-md-6 col-sm-6">
                                              {{ form_label(formAdd.dateDebut, "Date début:") }}
                                              {{ form_errors(formAdd.dateDebut) }}
                                              {{ form_widget(formAdd.dateDebut, { 'attr': {'class': ''} }) }}
                                                    </div>
                                            </div>  

                                            <div class="form-group" id="">
                                                    <div class="col-md-6 col-sm-6">
                                              {{ form_label(formAdd.dateFin, "Date Fin:") }}
                                              {{ form_errors(formAdd.dateFin) }}
                                              {{ form_widget(formAdd.dateFin) }}
                                              </div>
                                            </div>
                                            <div class="form-group" id="">
                                                    <div class="col-md-6 col-sm-6 checkbox">
                                              {{ form_label(formAdd.statut, "L'activité est finie") }}
                                              {{ form_errors(formAdd.statut) }}
                                              {{ form_widget(formAdd.statut, { 'attr': {'class': ''} }) }}
                                              </div>
                                            </div>  
                                            <div class="form-group">
                                            <div class="col-md-12 col-sm-12">
                                              {{ form_label(formAdd.submit, "Ajouter") }}
                                              {{ form_widget(formAdd.submit, { 'attr': {'class': 'form-control btn-register'} }) }}
                                            </div> 
                                            </div>

                                                    {{ form_rest(formAdd) }}
                                                    {{ form_end(formAdd) }}

                                    </div>
                                    <a href="{{ path('planning') }}"  class="btn btn-back">
                                        Revenir à la liste
                                    </a>
                            </div>
                    </div>
            </div>
        {% endif %}
    {% else %}
        {# L'utilisateur n'est pas connecté ! #}
    {% endif %}
{% endblock %}