{% extends "::base.html.twig" %}

{% block title %}{{parent()}} - Niveau4{% endblock %}
{% block stylesheets %}
    {{parent()}}
<link href="{{ asset('/bundles/fo/css/jquery-ui-1.10.3.css') }}" rel="stylesheet" />
<link href="{{ asset('/bundles/fo/css/jquery-ui-1.10.4-smoothness.css') }}" rel="stylesheet" />
<link href="{{ asset('/bundles/fo/css/jquery.highlighttextarea.css') }}" rel="stylesheet" />
<style>

</style>
{% endblock %}

{% block body %}
<div class="col-lg-10 col-lg-offset-1">
    <div id="top-zone"></div>
    <h4><i style="color: #51a9c0">Séance enfant</i> | {{app.session.get('enfant').nom~" "~app.session.get('enfant').prenom}}</h4>
    {% if pptg is defined %}
		{% set taux = pptg %}
	{% else %}
		{% set taux = 0 %}
	{% endif %}
	
	<div class="progress">
	  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{taux}}" aria-valuemin="0" aria-valuemax="100" style="width: {{taux}}%;">
		Niveau {{app.session.get('currentNiveau')}}
	  </div>
	</div>
    
        {# ========== Partie supérieur ========== #}
    <div class="col-lg-12 panel-autiste" id="pool-pictos">


            {# we work here - theme #}
        <ul id="ul-theme" class="theme-gal ui-helper-reset ui-helper-clearfix">
                {% for theme in themes %}
            <li class="ui-widget-content ui-corner-tr">
                <div class="theme-picto-div" itemid="{{theme.id}}">
                    <img class="picto-image" src="{{ asset('/uploads/images/theme/'~theme.pictoUrl )}}" alt="{{theme.titre}}">
                    <p class="picto-p">{{theme.titre}}</p>
                </div>  
            </li>
                {% endfor %}
        </ul>

            {# we work here - theme-pictos toggle #}
        <div class="" id="themes-pictos-pool">               
                {# loop all the themes #}
                {% for theme in themes %}
            <div id="div-theme-toggle-{{theme.id}}" class="container toggle theme-pictos">
                <ul id="gallery" class="gallery ui-helper-reset ui-helper-clearfix ui-widget-content ui-state-default" themeid="{{theme.id}}">
                    {# loop all the pictos #}
                    {% for picto in pictos %}
                    
                        {% if  picto.refPictogramme is defined %}
                            {# if a pictos is under one themes #}
                            {% if picto.refPictogramme.refMot.refTheme %}
                                {# if the picto is under the current theme #}
                                {% if picto.refPictogramme.refMot.refTheme.id == theme.id%}
                                <li class="ui-widget-content ui-corner-tr" themeid = "{{picto.refPictogramme.refMot.refTheme.id}}">
                                    <div id="div-pictos-toggle{{picto.id}}" class="picto-unit" themeid="{{picto.refPictogramme.refMot.refTheme.id}}">
                                        <div class="picto-div">
                                            <img class="picto-image" src="{{ asset('/uploads/images/img-perso/'~picto.url )}}" alt="{{picto.refPictogramme.refMot.titre}}">
                                            <p class="picto-mot">{{picto.refPictogramme.refMot.titre}}</p>
                                            {# Ce picto porte une phrase proposée #}
                                            {% if  picto.refPictogramme.refPhrase%}
                                            <p class="picto-phrase hidden">{{picto.refPictogramme.refPhrase.contenu}}</p>
                                            {% endif %}
                                            {# Ce picto est un SUJET #}
                                            {% if  picto.refPictogramme.refMot.personne%}
                                            <p class="picto-personne hidden">{{picto.refPictogramme.refMot.personne}}</p>
                                            {% endif %}
                                            {# Ce picto porte une VERBE #}
                                            {% if  picto.refPictogramme.refMot.pps or  picto.refPictogramme.refMot.dps or picto.refPictogramme.refMot.tps or picto.refPictogramme.refMot.ppp or picto.refPictogramme.refMot.dpp or picto.refPictogramme.refMot.tpp %}
                                            <p class="picto-mot-conjugue hidden">{{picto.refPictogramme.refMot.pps ~ ','~picto.refPictogramme.refMot.dps~','~ picto.refPictogramme.refMot.tps ~','~ picto.refPictogramme.refMot.ppp ~ ','~ picto.refPictogramme.refMot.dpp ~ ','~ picto.refPictogramme.refMot.tpp}}</p>
                                            {% endif %}
                                            {# Ce picto porte une COMPLEMENT #}
                                            {% if  picto.refPictogramme.refMot.genre %}
                                            <p class="picto-mot-genre-complement hidden">{{picto.refPictogramme.refMot.genre}}</p>
                                            {% endif %}
                                            {# Ce picto porte un AJECTIF #}
                                            {% if  picto.refPictogramme.refMot.ms or  picto.refPictogramme.refMot.mp or picto.refPictogramme.refMot.fs or picto.refPictogramme.refMot.fp %}
                                            <p class="picto-mot-adj hidden">{{picto.refPictogramme.refMot.ms ~ ','~picto.refPictogramme.refMot.mp~','~ picto.refPictogramme.refMot.fs ~','~ picto.refPictogramme.refMot.fp}}</p>
                                            {% endif %}
                                        </div> 
                                    </div>
                                </li>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            {# if a pictos is under one themes #}
                            {% if picto.refMot.refTheme %}
                                {# if the picto is under the current theme #}
                                {% if picto.refMot.refTheme.id == theme.id%}
                                <li class="ui-widget-content ui-corner-tr" themeid = "{{picto.refMot.refTheme.id}}">
                                    <div id="div-pictos-toggle{{picto.id}}" class="picto-unit" themeid="{{picto.refMot.refTheme.id}}">
                                        <div class="picto-div">
                                            <img class="picto-image" src="{{ asset('/uploads/images/picto/'~picto.pictoUrl )}}" alt="{{picto.refMot.titre}}">
                                            <p class="picto-mot">{{picto.refMot.titre}}</p>
                                            {# Ce picto porte une phrase proposée #}
                                            {% if  picto.refPhrase%}
                                            <p class="picto-phrase hidden">{{picto.refPhrase.contenu}}</p>
                                            {% endif %}
                                            {# Ce picto est un SUJET #}
                                            {% if  picto.refMot.personne%}
                                            <p class="picto-personne hidden">{{picto.refMot.personne}}</p>
                                            {% endif %}
                                            {# Ce picto porte une VERBE #}
                                            {% if  picto.refMot.pps or  picto.refMot.dps or picto.refMot.tps or picto.refMot.ppp or picto.refMot.dpp or picto.refMot.tpp %}
                                            <p class="picto-mot-conjugue hidden">{{picto.refMot.pps ~ ','~picto.refMot.dps~','~ picto.refMot.tps ~','~ picto.refMot.ppp ~ ','~ picto.refMot.dpp ~ ','~ picto.refMot.tpp}}</p>
                                            {% endif %}
                                            {# Ce picto porte une COMPLEMENT #}
                                            {% if  picto.refMot.genre %}
                                            <p class="picto-mot-genre-complement hidden">{{picto.refMot.genre}}</p>
                                            {% endif %}
                                            {# Ce picto porte un AJECTIF #}
                                            {% if  picto.refMot.ms or  picto.refMot.mp or picto.refMot.fs or picto.refMot.fp %}
                                            <p class="picto-mot-adj hidden">{{picto.refMot.ms ~ ','~picto.refMot.mp~','~ picto.refMot.fs ~','~ picto.refMot.fp}}</p>
                                            {% endif %}
                                        </div> 
                                    </div>
                                </li>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                            
                    {% endfor %}
                </ul>
            </div>
                {% endfor %}
        </div>

    
        {# ========== Partie inférieur ========== #}
        <div class="col-lg-12 col-md-12">
            <div id="box" class="ui-widget-content ui-state-default" style="height: 100px">

            </div>
            <br/>
                {#        Phrase composée        #}
            <div id="div-phrase-composee" class="ui-widget-content ui-state-default ">
                <p>

                </p>
            </div>
            <br/>
        </div>

        <div id="zone-text" class="col-lg-12 col-md-12">
      
			<button class="btn btn-negation" id="btn-negation"></button>
            <button class="btn btn-play" id="btn-play"></button>                        
            <button class="btn btn-play-phrase" id="btn-play-phrase"></button>
			<button class="btn btn-save" id="btn-save"></button>
            {# !! NE PAS ENLEVER LE <p> !!#}
            <p></p>
        </div>
	</div>
</div>
{% endblock %}

{% block javascripts %}
    {{parent()}}
<script>
$(function(){
   /* 
    * To change this license header, choose License Headers in Project Properties.
    * To change this template file, choose Tools | Templates
    * and open the template in the editor.
    */

   $(function() {
   // there's the gallery and the box
       var $gallery = $("#gallery"),
               $box = $("#box"), // emplacement où les pictos seront mis
               $personne = 0, // Indicateur personne pour le sujet
               $conjuguer = 0, // Indicateur de conjuguation: 1 verbe conjuguée
               $firstVerbe = '', // valeur du première verbe après le sujet
               $genreComplement = 0, // Indicateur de la genre du complément
               $voyelles = ['a', 'e', 'i', 'o', 'u', 'y'],
               $numComplement = 0;
       // make the gallery items be draggable
       $(".gallery li").draggable({
           cancel: "a.ui-icon", // clicking an icon won't initiate dragging
           revert: "invalid", // when not dropped, the item will revert back to its initial position
           containment: ".content",
           helper: "clone",
           cursor: "move",
           snap: true,
           snapMode: 'inner',
           drag: function() {
               if ($(this).parent().parent().attr('id') === 'box') {
                   galleryDroppable($(this).attr('themeid'));
               }
           },
           stop: function() {
               // when the drop movement is done, however the galery container is not visible -- wrong theme
               if ($('#div-theme-toggle-' + $(this).attr('themeid')).css('display') === 'none') {
                   playSentence('No, essaie encore.');
               }

           }
       });
       // make the box be droppable, accepting the gallery items
       $box.droppable({
           accept: ".theme-pictos > .gallery > li",
           activeClass: "ui-state-highlight",
           snap: true,
           snapMode: 'inner',
           drop: function(event, ui) {
               dropPicto(ui.draggable);
           }
       });
       // make the gallery be droppable as well, accepting items from the box
       function galleryDroppable($themeId) {
           $('div.theme-pictos ul.gallery[themeid="' + $themeId + '"]').droppable({
               activeClass: "ui-state-highlight",
               accept: "#box ul li[themeid='" + $themeId + "']",
               drop: function(event, ui) {
                   restorerPicto(ui.draggable);
               }
           });
       }
       ;
       /*
        * fonction mettre les pictos dans la box / la 2ere partie
        * @returns {undefined}
        */
       function dropPicto($item) {
           $item.fadeOut(function() {
               var $themeId = $item.find('div').attr('themeId');
               var $list = $("ul", $box).length ?
                       $("ul", $box) :
                       // définir le style du ul afin de travailler avec bootstrap, et l'append to box
                       $("<ul class='gallery ui-helper-reset' id='ul-drop-box' style='position:relative; z-index:1;'/>").appendTo($box);
               // Animation pour append
               $item.appendTo($list).fadeIn(10, function() {
                   $item
                           .animate({width: "auto"})
                           .find("img")
                           .animate({height: "80px"});
                   // desactiver le drag des pictos, si le theme est SUJET, VERBE
                   if ($.inArray($themeId, ['1', '2', '3']) !== -1) {
                       $('#div-theme-toggle-' + $themeId + ' .gallery li').draggable('disable');
                   }

                   // Si ce picto est un COMPLEMENT qui a une genre: soit masculin s/p; féminin s/p
                   if ($item.find('.picto-div > .picto-mot-genre-complement').text()) {
                       $numComplement++;
                       ;
                       $item.find('.picto-unit').attr('complement', $numComplement);
                       // Set l'identifier à la genre du complément, de sorte que on peut décider avec quel adjectif à utiliser
                       $genreComplement = $item.find('.picto-unit > .picto-div > .picto-mot-genre-complement').text();
                   }

                   // Recuperer tous les mots des items dans la box
                   var $textString = '';
                   // Traitement du picto dropped dans la partie inférieur
                   $('#box > ul > li > .picto-unit').each(function(key, value) {
                       var isAdjectif = $(this).find('.picto-div > .picto-mot-adj').text(),
                               $parentArray = $('#box > ul > li > .picto-unit');
                       // Get le mot de ce pictogramme
                       var motPicto = $(this).find('.picto-div > .picto-mot').text();
                       // Si ce picto actuel porte un SUJET, c'est le quel; affecter le valeur à variable "personne"
                       if ($(this).find('.picto-div > .picto-personne').text()) {
                           $personne = $(this).find('.picto-div > .picto-personne').text();
                           $(this).attr('picto-personne', $personne);
                           var mot = motPicto;
                       }
                       // Si le picto actuel porte une VERBE, et c'est le PREMIERE VERBE, ajouter l'attribut "first-verbe"
                       if ($(this).find('.picto-div > .picto-mot-conjugue').text() && $conjuguer !== 1) {
                           $(this).attr('first-verbe', 1);
                           // Set l'identifier à vrai, de sorte que on ne va pas conjuguer la deuxième et d'autres verbes
                           $conjuguer = 1;
                       }
                       // Si ce picto est le PREMIERE VERBE,conjuguer le selon la variable "personne"
                       if ($(this).attr('first-verbe')) {
                           var $arrayConjugue = $(this).find('.picto-div > .picto-mot-conjugue').text().split(',');
                           if ($personne !== 0) {
                               // Recuperer la bonne forme conjuguée
                               mot = $arrayConjugue[$personne - 1];
                           } else {
                               mot = motPicto;
                           }

                           // Affecter ce valeur à variable "firstVerb"
                           $firstVerbe = mot;
                           // cast <spand> afin d'utiliser le bouton négation
                           mot = '<span id=\'spn-fv\'>' + mot + '</span>';
                       }
                       // Si le text est prédéfinit:
                       /*if (motPreDefined) {
                        mot = motPreDefined;
                        }*/
                       // D'autres cas
                       else {
                           mot = motPicto;
                       }

                       // === we work here 08022014===
                       //var isComplement = $(this).find('.picto-div > .picto-mot-genre-complement').text();

                       if (isAdjectif) {
                           var $arrayAdj = $(this).find('.picto-div > .picto-mot-adj').text().split(',');
                           // if this.prev is complément or this.next is complément 
                           // -- or this.prev is adj and this.prev.prev is complément --> si il y a un adverbe?
                           // -- or this.next is adj and this.next.next is complément --> si il y a un adverbe?
                           if ($($parentArray[key - 1]).find('.picto-div > .picto-mot-genre-complement').text()) {
                               $genreComplement = $($parentArray[key - 1]).find('.picto-div > .picto-mot-genre-complement').text();
                               mot = $arrayAdj[$genreComplement - 1];
                           }
                           if ($($parentArray[key + 1]).find('.picto-div > .picto-mot-genre-complement').text()) {
                               $genreComplement = $($parentArray[key + 1]).find('.picto-div > .picto-mot-genre-complement').text();
                               mot = $arrayAdj[$genreComplement - 1];
                           }
                       }


                       // Traitement de l'apostrophe
                       if (motPicto.substr(motPicto.length - 1) === '\'') {
                           $textString += mot;
                       }
                       else {
                           $textString += mot + ' ';
                       }

                   });
                   $textString = $textString.replace(/\s\s+/g, ' ');
                   //console.log($textString);
                   $textString = $.trim($textString);
                   // ========  Je --> J'  ========
                   // Si une verbe commence avec une voyelle
                   var $verbe1voyelle = $.inArray($firstVerbe.split('')[0], $voyelles);
                   // Si une verbe commence par un 'H' muet ensuite une voyelle: "habiter"
                   var $verbe1HVoyelle = function() {
                       if ($.inArray($firstVerbe.split('')[0], ['h']) !== -1 && $.inArray($firstVerbe.split('')[1], $voyelles) !== -1) {
                                return true;
                            } else {
                                return false;
                            }
                        };
                        // Chenger ex. "je ai" à "J'ai" 
                        if ($textString.indexOf('je ') && $verbe1voyelle !== -1
                                || $textString.indexOf('je ') && $verbe1HVoyelle === true
                                || $textString.indexOf('Je ') && $verbe1voyelle !== -1
                                || $textString.indexOf('Je ') && $verbe1HVoyelle === true) {
                            $textString = $textString.replace("je ", "J\'");
                        }

                        // Afficher le texte des pictos
                        $('#div-phrase-composee')
                                .find('p')
                                .html($textString);
                        // $('#div-phrase-composee-corr').find('input').val($('#div-phrase-composee').find('p').text());

                    });
                });
            }


            /*
             * Fonction restorer / re-mettre les pictos dans la 1ere partie
             * @returns {undefined}
             */
            function restorerPicto($item) {
                var themeId = $item.find('div').attr('themeId');
                //console.log(themeId);
                $item.fadeOut(function() {
                    // Si ce picto est le PREMIERE VERBE, enlever l'attribut "first-verbe"; remettre variable "$conjugue" à 0
                    if ($item.find('.picto-unit').attr('first-verbe')) {
                        $item.find('.picto-unit').removeAttr('first-verbe');
                        $conjuguer = 0;
                    }
                    // Si ce picto est un SUJET, remettre la variable "$personne" à 0;
                    if ($item.find('.picto-unit').attr('picto-personne')) {
                        $personne = 0;
                    }
                    // Si ce picto est un COMPLEMENT, remettre la variable "$genreComplement" à 0;
                    if ($item.find('.picto-unit > .picto-div > .picto-mot-genre-complement').text()) {
                        $genreComplement = 0;
                    }
                    $item
                            .appendTo($('#div-theme-toggle-' + themeId + ' ul'))
                            .fadeIn();
                    // Recuperer tous les mots des items dans la box
                    var $textString = '';
                    $('#box > ul > li > .picto-unit').each(function(key, value) {
                        var isAdjectif = $(this).find('.picto-div > .picto-mot-adj').text(),
                                $parentArray = $('#box > ul > li > .picto-unit');
                        // Get le mot de ce picto
                        var motPicto = $(this).find('.picto-div > .picto-mot').text();
                        //$textString += ' ' + $(this).text();  

                        // Si ce picto est le PREMIERE VERBE,conjuguer le selon la variable "personne"
                        if ($(this).attr('first-verbe')) {
                            if ($personne !== 0) {
                                var $arrayConjugue = $(this).find('.picto-div > .picto-mot-conjugue').text().split(',');
                                // Recuperer la bonne forme conjuguée
                                mot = $arrayConjugue[$personne - 1];
                                // cast <spand> afin d'utiliser le bouton négation
                                mot = '<span id=\'spn-fv\'>' + mot + '</span>';
                            } else {
                                mot = $(this).find('.picto-div > .picto-mot').text();
                            }

                        }
                        else {
                            var mot = motPicto;
                        }

                        if (isAdjectif) {
                            var $arrayAdj = $(this).find('.picto-div > .picto-mot-adj').text().split(',');
                            // if this.prev is complément or this.next is complément 
                            // -- or this.prev is adj and this.prev.prev is complément --> si il y a un adverbe?
                            // -- or this.next is adj and this.next.next is complément --> si il y a un adverbe?
                            if ($($parentArray[key - 1]).find('.picto-div > .picto-mot-genre-complement').text()) {
                                $genreComplement = $($parentArray[key - 1]).find('.picto-div > .picto-mot-genre-complement').text();
                                mot = $arrayAdj[$genreComplement - 1];
                            }
                            if ($($parentArray[key + 1]).find('.picto-div > .picto-mot-genre-complement').text()) {
                                $genreComplement = $($parentArray[key + 1]).find('.picto-div > .picto-mot-genre-complement').text();
                                mot = $arrayAdj[$genreComplement - 1];
                            }
                        }
                        //$textString += ' ' + mot;
                        // Traitement de l'apostrophe
                        if (motPicto.substr(motPicto.length - 1) === '\'') {
                            $textString += mot;
                        } else {
                            $textString += mot + ' ';
                        }
                    });
                    $textString = $textString.replace(/\s\s+/g, ' ');
                    //console.log($textString);

                    // Re-activer le drag des pictos, 
                    if ($.inArray(themeId, ['1', '2', '3']) !== -1) {
                        $('#div-theme-toggle-' + themeId + ' .gallery li').draggable('enable');
                    }

                    // ========  Je --> J'  ========                
                    // Si une verbe commence avec une voyelle
                    var $verbe1voyelle = $.inArray($firstVerbe.split('')[0], $voyelles);
                    // Si une verbe commence par un 'H' muet ensuite une voyelle: "habiter"
                    var $verbe1HVoyelle = function() {
                        if ($.inArray($firstVerbe.split('')[0], ['h']) !== -1 && $.inArray($firstVerbe.split('')[1], $voyelles) !== -1) {
                            return true;
                        } else {
                            return false;
                        }
                    };
                    // Chenger ex. "je ai" à "J'ai" 
                    if ($textString.indexOf('je ') && $verbe1voyelle !== -1
                            || $textString.indexOf('je ') && $verbe1HVoyelle === true
                            || $textString.indexOf('Je ') && $verbe1voyelle !== -1
                            || $textString.indexOf('Je ') && $verbe1HVoyelle === true) {
                        $textString = $textString.replace("je ", "J\'");
                    }

                    // Afficher le texte du picto
                    $('#div-phrase-composee')
                            .find('p')
                            .html($textString);
                    //$('#div-phrase-composee-corr').find('input').val($('#div-phrase-composee').find('p').text());

                    // Emettre "Bravo" si le picto est bien remis
                    playSentence('Bravo!');
                });
                // Clean text zone
                $('#zone-text')
                        .find('p')
                        .html('');
            }

            // ============= Reading & highlight ===================
            $('#btn-play').click(function() {
                // Copier texte vers la zone de lecture
                $('#zone-text')
                        .find('p')
                        .html($.trim($('#div-phrase-composee').find('p').text()));
                var myPhrase = $('#zone-text').find('p').html();
                // desactiv le boutton play si un mot existe
                if (myPhrase.length !== 0) {
                    // disable btn lirePhrase
                    $('#btn-play').attr('disabled', true);
                    $('#btn-play-phrase').attr('disabled', true);
                }
                // Plan audio
                audioPlay();
            });
            // ============= Read entaire sentence ===================
            $('#btn-play-phrase').click(function() {
                // Copier texte vers la zone de lecture
                $('#zone-text')
                        .find('p')
                        .html($.trim($('#div-phrase-composee').find('p').text()));
                var myPhrase = $('#zone-text').find('p').html();
                // desactiv le boutton play si un mot existe
                if (myPhrase.length !== 0) {
                    // disable btn lirePhrase
                    $('#btn-play').attr('disabled', true);
                    $('#btn-play-phrase').attr('disabled', true);
                }
                // Play audio, phrase entière
                playSentence(myPhrase);
                /*// Plan audio
                 var audio = new Audio();
                 // Utiliser la methode de notre site, epecher denvoyer le referer header.
                 audio.src = '{{ app.request.getBaseURL() }}/soundrequest?text_to_read=' + myPhrase;
                 audio.type = 'audio/mpeg';
                 // empecher denvoyer referer header
                 audio.rel = 'noreferrer';
                 audio.load();
                 audio.play(); */
            });
            // ============= sauvgarder phrase composée ===================
            $('#btn-save').click(function() {
                //// Copier texte vers la zone de lecture
                var myPhrase = $.trim($('#div-phrase-composee').find('p').text());
                if (!myPhrase.length) {
                    //alert('Veuillez composer une phrase.');
                    return;
                }
                savePhrase(myPhrase);
            });
            /*
             * Fonction de lire
             * @param {type} word
             * @returns {undefined}
             */
            function audioPlay() {
                // Diviser la phrase dans le textarea en mots
                var textString = $('#zone-text p').text().split(" ");
                // Sil na pas de texte disponible, lancer une alerte et sarreter
                if (!$.trim(textString).length) {
                    //alert('Veuillez choisir un pictogramme');
                    return;
                }
                //console.log(textString);
                // Initier lelement audio (pas de balise "<audio>")
                //var audio = document.createElement('audio');
                var audio = new Audio();
                // Initier lindex mot (0 pour le primer)
                var index = 0;
                // Initier la duree de temps
                var timeSpan = 0;
                /*
                 * Boucle de traitement des mots: LIRE, mettre en SURBRILLANCE
                 * @param {type} word
                 * @returns {undefined}
                 */
                function myLoop() {
                    // Boucler les action avec une pause indeterminee

                    // Effacer tout surbrillance
                    removeHighLight();
                    // Return when reaches the end of array
                    if (index === textString.length) {
                        //console.log('-- reading finished --');

                        if ($('#btn-play').attr('disabled') === 'disabled') {
                            // active btn lirePhrase
                            $('#btn-play').removeAttr('disabled');
                        }
                        if ($('#btn-play-phrase').attr('disabled') === 'disabled') {
                            // active btn lirePhrase
                            $('#btn-play-phrase').removeAttr('disabled');
                        }

                        return;
                    }

                    // Recuperer un element(mot) de lArray
                    var sWord = textString[index];
                    // Recuperer le longueur du mot (pour definir le temps)
                    var sWordLength = sWord.length;
                    // Utiliser la methode de notre site, epecher denvoyer le referer header.
                    audio.src = '{{ app.request.getBaseURL() }}/soundrequest?text_to_read=' + sWord;
                    audio.type = 'audio/mpeg';
                    // empecher denvoyer referer header
                    audio.rel = 'noreferrer';
                    audio.load();
                    audio.play();
                    // Mettre le mot actuel en surbrillance
                    hightLightWord(sWord);
                    // Quand un mot est lu, l'index s'incrémente, appele la function
                    audio.onended = function() {
                        // incrementer lindex
                        index++;
                        myLoop();
                    };
                }
                myLoop();
            }

            /**
             * Sauvgarder la phrase composée
             * @param {type} myPhrase
             * @returns {undefined}         */
            function savePhrase(myPhrase) {
                $.ajax({
                    url: "{{path('communication_save_phrase')}}",
                    data: {
                        my_phrase: myPhrase
                    },
                    dataType: 'json',
                    success: function(data)
                    {
                        if (data.result === 'success') {
                            $('div#top-zone').prepend(
                                    "<div class=\"alert alert-info fade in\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-hidden=\"true\">×</button>Phrase enregistrée à {{'now'|date('H:i')}}.</div>"
                                    );
                        }

                    }
                });
            }

            /*
             * Mettre un mot en surbrillance
             * @param {type} word
             * @returns {undefined}
             */
            function hightLightWord(word) {
                // active the highlight
                $('#zone-text p').highlight(word, false);
            }

            /*
             * Effacer la surbrillance
             */
            function removeHighLight() {
                $('#zone-text p').removeHighlight();
            }


            // ============ level 2 ==============
            // vvvvvvvvvvvv ====== vvvvvvvvvvvvvv
            // Cacher le div pictos par default
            $('.theme-pictos').hide();
            var $visible = false;
            // Afficher les pictos quand cliquer sur un theme
            $("#ul-theme > li").click(function() {
                //$('#modal-pictos').modal('show');
                var currentThemeId = $(this).find('div').attr('itemid');
                //console.log('thème ' + currentThemeId);
                $('.theme-pictos').hide();
                $('#div-theme-toggle-' + currentThemeId).toggle('fast');
                return false;
            });
            // ============ level 3 ==============
            // vvvvvvvvvvvv ====== vvvvvvvvvvvvvv
            $('#btn-edit-switch').click(function() {
                if ($('#text-phrase-composee').attr('disabled') === 'disabled') {
                    $('#text-phrase-composee').removeAttr('disabled');
                } else {
                    $('#text-phrase-composee').attr('disabled', 'disabled');
                }
            });
            // Bouton Négation
            var negation = 0;
            $('#btn-negation').click(function() {
                var verbeConjugue = $('#spn-fv').text(),
                        textComposee = $('#div-phrase-composee').find('p').html();
                if (verbeConjugue.length <= 0) {
                    return;
                }
                if (negation === 0) {
                    // Si il existe "J'"
                    if (textComposee.indexOf('J\'') !== -1) {
                        $('#div-phrase-composee').find('p').html(textComposee.replace('J\'', 'Je '));
                    }
                    // Traiter le verbe qui commence par une voyelle
                    if ($.inArray(verbeConjugue.split('')[0], $voyelles) !== -1) {
                        //console.log($.inArray(verbeConjugue.split('')[0], $voyelles ));
                        $('#spn-fv').text('n\'' + verbeConjugue + ' pas');
                    } else {
                        $('#spn-fv').text('ne ' + verbeConjugue + ' pas');
                    }

                    negation = 1;
                    //$('#div-phrase-composee-corr').find('input').val($('#div-phrase-composee').find('p').text());
                    return;
                } else {
                    // Si il existe ex. "Je n'ai pas"
                    if (textComposee.indexOf('Je') !== -1 && $.inArray($firstVerbe.split('')[0], $voyelles) !== -1) {
                        $('#div-phrase-composee').find('p').html(textComposee.replace('Je ', 'J\''));
                    }
                    $('#spn-fv').text($firstVerbe);
                    negation = 0;
                    //$('#div-phrase-composee-corr').find('input').val($('#div-phrase-composee').find('p').text());
                    return;
                }
            });
            function playSentence($phrase) {
                var audio = new Audio();
                audio.src = '{{ app.request.getBaseURL() }}/soundrequest?text_to_read=' + $phrase;
                audio.type = 'audio/mpeg';
                // empecher denvoyer referer header
                audio.rel = 'noreferrer';
                audio.load();
                audio.play();
                // end of audio play
                audio.onended = function() {
                    // re-active btn Lecture
                    if ($('#btn-play').attr('disabled') === 'disabled') {
                        $('#btn-play').removeAttr('disabled');
                    }
                    if ($('#btn-play-phrase').attr('disabled') === 'disabled') {
                        $('#btn-play-phrase').removeAttr('disabled');
                    }
                };
            }
            ;
        });
    });
</script>
{% endblock %}
