{% extends "::base.html.twig" %}

{% block title %}{{parent()}} - Planning{% endblock %}

{% block stylesheets %}    {{parent()}} 	
<link href="{{ asset('/bundles/fo/css/planning.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}    {{parent()}} 	
{% endblock %}

{% block body %}
	{# L'utilisateur est-il connecté ? #}
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {# L'utilisateur est connecté ! #}

            {# L'utilisateur est-il admin ? #}
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EDUCATEUR') or is_granted('ROLE_PARENT')%}
                {# L'utilisateur est admin ou educateur ou parent! #}
                <h3>Sélectionner un enfant</h3>
                <form action="{{ path('planning') }}" method="post" {{ form_enctype(form) }}>

                        {{ form_errors(form) }}

                        <div class="form-group">
                          {{ form_label(form.id, "Son nom, prénom et sa date de Naissance:") }}
                          {{ form_errors(form.id) }}
                          {{ form_widget(form.id, { 'attr': {'class': 'form-control'} }) }}
                        </div>

                        {{ form_rest(form) }}

                    <input type="submit" class="btn btn-primary" value="Sélectionner"/>
                </form>
            {% endif %}
        {% else %}
            {# L'utilisateur n'est pas connecté ! #}
        {% endif %}
{% endblock %}