{% extends "::base.html.twig" %}

{% block title %}{{parent()}} - Niveau1{% endblock %}
{% block stylesheets %}
    {{parent()}}
<link href="{{ asset('/bundles/fo/css/jquery-ui-1.10.3.css') }}" rel="stylesheet" />
<link href="{{ asset('/bundles/fo/css/jquery.highlighttextarea.css') }}" rel="stylesheet" />
<style>

</style>
{% endblock %}

{% block body %}
<div class="col-lg-10 col-lg-offset-1">
    <!--<div id="top-zone"></div>-->
    <h4><i style="color: #51a9c0">Scéance enfant</i> | {{app.session.get('enfant').nom~" "~app.session.get('enfant').prenom}}</h4>
    {% if pptg is defined %}
		{% set taux = pptg %}
	{% else %}
		{% set taux = 0 %}
	{% endif %}
	
	<div class="progress">
	  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{taux}}" aria-valuemin="0" aria-valuemax="100" style="width: {{taux}}%;">
		Niveau {{app.session.get('currentNiveau')}}
	  </div>
	</div>
	
<div class="col-lg-12 panel-autiste" id="pool-pictos">
	<div class="ui-widget ui-helper-clearfix">
        <ul id="gallery" class="gallery ui-helper-reset ui-helper-clearfix">
                {% for picto in pictos %}
                    <li class="ui-widget-content ui-corner-tr">
                        <div class="picto-div">
                            {% if  picto.refPictogramme is defined %}
                                <img class="img-responsive" src="{{ asset('/uploads/images/img-perso/'~picto.url )}}" alt="{{picto.refPictogramme.refMot.titre}}">
                                <p class="picto-p">{{picto.refPictogramme.refMot.titre}}</p>
                            {% else %}
                                <img class="picto-image" src="{{ asset('/uploads/images/picto/'~picto.pictoUrl )}}" alt="{{picto.refMot.titre}}">
                                <p class="picto-p">{{picto.refMot.titre}}</p>
                            {% endif %}
                        </div>              
                    </li>
                {% endfor %}
        </ul>

    </div>
        {# Partie inférieur #}
            <div id="box" class="ui-widget-content ui-state-default col-lg-7 col-md-7">
            </div>
            <br/>
                {#        Phrase composée        #}
            <div id="div-phrase-composee" class="ui-widget-content ui-state-default col-lg-7 col-md-7">
                <p>

                </p>
            </div>
        <div id="zone-text" class="col-lg-5 col-md-5">
            <button class="btn btn-primary" id="btn-play">Lecture</button>
			<button class="btn btn-primary" id="btn-save">Sauvgarder</button>
            <p></p>
        </div>
        
	</div>
</div>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {# <script src="{{ asset('/bundles/fo/js/google-tts.js') }}"></script>
    <script src="{{ asset('/bundles/fo/js/soundmanager2.js') }}"></script>
    <script src="{{ asset('/bundles/fo/js/jquery.highlighttextarea.js') }}"></script> #}
<script type="text/javascript">
    $(function() {
    // there's the gallery and the box
    var $gallery = $("#gallery"),
            $box = $("#box");


    // let the gallery items be draggable
    $("li", $gallery).draggable({
        cancel: "a.ui-icon", // clicking an icon won't initiate dragging
        revert: "invalid", // when not dropped, the item will revert back to its initial position
        containment: ".content",
        helper: "clone",
        cursor: "move",
        snap: true,
        snapMode: 'inner'
    });

    // make the box be droppable, accepting the gallery items
    $box.droppable({
        accept: "#gallery > li",
        activeClass: "ui-state-highlight",
        snap: true,
        snapMode: 'inner',
        drop: function(event, ui) {
            dropPicto(ui.draggable);
        }
    });

    // make the gallery be droppable as well, accepting items from the trash
    $gallery.droppable({
        accept: "#box li",
        activeClass: "ui-state-highlight",
        drop: function(event, ui) {
            restorerPicto(ui.draggable);
        }
    });

    /*
     * fonction mettre les pictos dans la box / la 2ere partie
     * @returns {undefined}
     */
    function dropPicto($item) {
        $item.fadeOut(function() {
            var $list = $("ul", $box).length ?
                    $("ul", $box) :
                    $("<ul class='gallery ui-helper-reset'  style='position:relative; z-index:1;'/>").appendTo($box);
            // Animation pour append
            $item.appendTo($list).fadeIn(function() {
                $item
                        .animate({width: "auto"})
                        .find("img")
                        .animate({height: "60px"});

                // desactiver le drag des pictos, 
                $("ul#gallery li").draggable('disable');

                // Recuperer tous les mots des items dans la box
                var $textArray = '';
                $('#box > ul > li > div > p').each(function() {
                    $textArray += $(this).text() + ' ';
                });
                $textArray = $.trim($textArray);

                // Afficher le texte des pictos
                /*$('#zone-text')
                 .find('p')
                 .html($textArray);*/
                $('#div-phrase-composee')
                        .find('p')
                        .html($textArray);
            });
        });
    }

    /*
     * Fonction restorer / re-mettre les pictos dans la 1ere partie
     * @returns {undefined}
     */
    function restorerPicto($item) {
        $item.fadeOut(function() {
            $item
                    .appendTo($gallery)
                    .fadeIn();

            // Recuperer tous les mots des items dans la box
            var $textArray = '';
            $('#box > ul > li > div > p').each(function() {
                $textArray += ' ' + $(this).text();
            });

            // re-activer le drag des pictos, 
            $("ul#gallery li").draggable('enable');
            // Afficher le texte du picto
            /*$('#zone-text')
             .find('p')
             .html($textArray);*/
            $('#div-phrase-composee')
                    .find('p')
                    .html($textArray);

            // activer le drag des pictos, 
            //$( "li", $gallery ).draggable('enable');
            
            // Clean text zone
            $('#zone-text')
                .find('p')
                .html('');
        });
    }

    // ============= Reading & highlight ===================
    $('#btn-play').click(function() {
        //// Copier texte vers la zone de lecture
        $('#zone-text')
                .find('p')
                .html($.trim($('#div-phrase-composee').find('p').text()));
        var myPhrase = $('#zone-text').find('p').html();
        // desactiv le boutton play si un mot existe
        if(myPhrase.length !== 0) {
            // disable btn lirePhrase
            $('#btn-play').attr('disabled', true);
        }
        audioPlay();
    });

    // ============= sauvgarder phrase composée ===================
    $('#btn-save').click(function() {
        //// Copier texte vers la zone de lecture
        var myPhrase = $.trim($('#div-phrase-composee').find('p').text());
        if (!myPhrase.length) {
            //alert('Veuillez composer une phrase.');
            return;
        }
        savePhrase(myPhrase);
    });


    /*
     * Fonction de lecture
     * @param {type} word
     * @returns {undefined}
     */
    function audioPlay() {
        // Diviser la phrase dans le textarea en mots
        var textArray = $('#zone-text p').text().split(" ");
        // Sil na pas de texte disponible, lancer une alerte et sarreter
        if (!$.trim(textArray).length) {
            //alert('Veuillez choisir un pictogramme');
            return;
        }
        //console.log(textArray);
        // Initier lelement audio (pas de balise "<audio>")
        //var audio = document.createElement('audio');
        var audio = new Audio();
        // Initier lindex mot (0 pour le primer)
        var index = 0;
        // Initier la duree de temps
        var timeSpan = 0;

        /*
         * Boucle de traitement des mots: LIRE, mettre en SURBRILLANCE
         * @param {type} word
         * @returns {undefined}
         */
        function myLoop() {
            // Boucler les action avec une pause indeterminee
            //setTimeout(function() {
            // Effacer tout surbrillance
            removeHighLight();
            // Return when reaches the end of array
            if (index === textArray.length) {
                // console.log('-- reading finished --');
                if ($('#btn-play').attr('disabled') === 'disabled') {
                    // active btn lirePhrase
                    $('#btn-play').removeAttr('disabled');
                }
                return;
            }

            // Recuperer un element(mot) de lArray
            var sWord = textArray[index];

            // Utiliser la methode de notre site, epecher denvoyer le referer header.
            audio.src = '{{ app.request.getBaseURL() }}/soundrequest?text_to_read=' + sWord;
            audio.type = 'audio/mpeg';
            // empecher denvoyer referer header
            audio.rel = 'noreferrer';
            audio.load();
            audio.play();

            // Mettre le mot actuel en surbrillance
            hightLightWord(sWord);

            // Quand un mot est lu, l'index s'incrémente, appele la function
            audio.onended = function() {
                // incrementer lindex
                index++;
                myLoop();
            };
            /*// incrementer lindex
             index++;
             myLoop();
             }, timeSpan);*/

        }
        myLoop();
    }

    /**
     * Sauvgarder la phrase composée
     * @param {type} myPhrase
     * @returns {undefined}         */
    function savePhrase(myPhrase) {
        $.ajax({
            url: "{{path('communication_save_phrase')}}",
            data: {
                my_phrase: myPhrase,
            },
            dataType: 'json',
            success: function(data)
            {
                if (data.result === 'success') {
                    $('div#top-zone').prepend(
                            "<div class=\"alert alert-info fade in\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-hidden=\"true\">×</button>Phrase enregistrée à {{'now'|date('H:i')}}.</div>"
                            );
                }

            }
        });
    }

    /*
     * Mettre un mot en surbrillance
     * @param {type} word
     * @returns {undefined}
     */
    function hightLightWord(word) {
        // active the highlight
        $('#zone-text p').highlight(word, false);
    }

    /*
     * Effacer la surbrillance
     */
    function removeHighLight() {
        $('#zone-text p').removeHighlight();
    }

});
</script>
{% endblock %}