{% extends "FoBundle:Gestion:index.html.twig" %}

{% block gst_contents %}
<div>
    <div>
        {#<a href="{{path('his_commu')}}"><button class="btn btn-link">Communication</button></a>
        <a href="{{path('his_social')}}"><button class="btn btn-link">Socialisation</button></a>#}
    </div>
</div>
<div class="col-lg-12">
    {% block details %}
    
        {#=====================#}
        <div class="bs-header" id="content">
            <div class="col-lg-12">
        {#<div>
            {% if app.session.get('enfant') != null  %}
                <a class="btn btn-sm btn-primary"  href="{{ path('histoire_reset_enfant') }}">Sélectionner un autre enfant</a> 
            {% endif %}
        </div>#}                    
                <div class="col-lg-12">
                    <h3>Historique de communication: {{app.session.get('enfant').nom|upper~" "~app.session.get('enfant').prenom|capitalize}}</h3>
                {% if list_his_commu%}
                    <table class="table table-bordered table-condensed table-striped table-hover">
                        <thead>
                            <tr class="btn-primary">
                                <td>#</td>
                                <td>Nom</td>
                                <td>Prénom</td>
                                <td>Date de nainssance</td>
                                <td>Niveau</td>
                                <td>Date</td>
                                <td>Phrase composée</td>
                            </tr>
                        </thead>
                        {% for i, his in list_his_commu %}
                        <tr> 
                            <td> {{ i+ 1 }} </td>
                            <td> {{ his.refEnfant.nom }} </td>
                            <td> {{ his.refEnfant.prenom }} </td>
                            <td> {{ his.refEnfant.dateDeNaissance|date('d m Y') }} </td>
                            <td> {{ his.refNiveau }} </td>
                            <td> {{ his.dateSaved | date('d/m/Y, H:i')}} </td>
                                {#  <td> {{ his.contenu | truncate(20, true, '...') }} </td>#}
                            <td> {{ his.contenu}} </td>
                        </tr>
                        {% endfor %}

                    </table>
                {% else %}
                    <h3>Il n'y a pas de record pour cet enfant.</h3>
                {% endif %}					
                </div>         
            </div>
        </div>
        
        
        {#=====================#}
        <div class="bs-header" id="content">
            <div class="col-lg-12">
        {#<div>
            {% if app.session.get('enfant') != null  %}
                <a class="btn btn-sm btn-primary"  href="{{ path('histoire_reset_enfant') }}">Sélectionner un autre enfant</a> 
            {% endif %}
        </div>#}                    
                <div class="col-lg-12">
                    <h3>Historique de socialisation: {{app.session.get('enfant').nom|upper~" "~app.session.get('enfant').prenom|capitalize}}</h3>
                {% if list_his_social%}
                    <table class="table table-bordered table-condensed table-striped table-hover">
                        <thead>
                            <tr class="btn-primary">
                                <td>#</td>
                                <td>Nom</td>
                                <td>Prénom</td>
                                <td>Date de nainssance</td>
                                <td>Niveau</td>
                                <td>Date</td>
                                <td>Evaluation</td>
                                <td>Observation</td>
                            </tr>
                        </thead>
                        {% for i, his in list_his_social %}
                        <tr> 
                            <td> {{ i+ 1 }} </td>
                            <td> {{ his.refEnfant.nom }} </td>
                            <td> {{ his.refEnfant.prenom }} </td>
                            <td> {{ his.refEnfant.dateDeNaissance|date('d m Y') }} </td>
                            <td> {{ his.refEnfant.refNiveau }} </td>
                            <td> {{ his.dateSaved | date('d/m/Y, H:i')}} </td>
                                {#  <td> {{ his.contenu | truncate(20, true, '...') }} </td>#}
                            <td> 
                                    {% if his.evaluation == 0 %}Non favorable{% endif %}
                                    {% if his.evaluation == 1 %}Bon{% endif %}
                                    {% if his.evaluation == 2 %}Très bon{% endif %}
                            </td>
                            <td>{{ his.observation }}</td>
                        </tr>
                        {% endfor %}

                    </table>
                {% else %}
                    <h3>Il n'y a pas de record pour cet enfant.</h3>
                {% endif %}					
                </div>         
            </div>
        </div>
    {% endblock %}
</div>
{% endblock %}