{% extends "FoBundle:Gestion:index.html.twig" %}
{% block stylesheets %}
	{{parent()}}
	<style>
	.btn-register { margin-bottom: 2px;}
	.panel-connexion {margin-top: 10px;}
	</style>
{% endblock %}

{% block gst_contents -%}
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 style="color:white">Liste des enfants
				<a href="{{ path('enfant_new') }}" class="btn btn-register pull-right"><i class="fa fa-plus"></i> Ajouter un enfant</a>
			</h3>
		</div>
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table table-striped table-condensed">
					<thead>
						<tr class="btn-primary">
							<th>Id</th>
							<th>Nom</th>
							<th>Prenom</th>
							<th>Datedenaissance</th>
							<th>Observation</th>
							<th>Avatar</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
					{% for entity in entities %}
						<tr>
							<td> <kbd><a href="{{ path('enfant_show', { 'id': entity.id }) }}" style="color:white; width:20px; text-decoration:none;">{{ entity.id }}</a></kbd></td>
							<td>{{ entity.nom }}</td>
							<td>{{ entity.prenom }}</td>
							<td>{% if entity.dateDeNaissance %}{{ entity.dateDeNaissance|date('d/m/Y') }}{% endif %}</td>
							<td>{{ entity.observation }}</td>
							<td>{{ entity.avatar }}</td>
							<td>
								<span class="btn-group">
									<a href="{{ path('enfant_show', { 'id': entity.id }) }}" class="btn btn-info"><i class="fa fa-eye"></i></a>
									<a href="{{ path('enfant_edit', { 'id': entity.id }) }}" class="btn btn-warning"><i class="fa fa-edit"></i></a>
								</span>
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
                                {# display navigation #}
                                <div class="navigation">
                                    {{ knp_pagination_render(entities) }}
                                </div>
			</div>
		</div>
	</div>
{% endblock %}
