{% extends "FoBundle:Gestion:index.html.twig" %}

{% block gst_contents -%}
{% block stylesheets %}
	{{parent()}}
    <style>
        .panel-connexion {margin-top: 10%;}
    </style>
{% endblock %}
        <div class="panel panel-info">

            <div class="panel-heading">
                <h2 class="panel-title">Un nouvel enfant</h2>
            </div>
            <div class="panel-body">
                <form action="{{ path('enfant_create') }}" method="post" {{ form_enctype(form) }}>
                    {{ form_start(form) }}
                    {{ form_errors(form) }}

                    <div class="form-group row">
                        <div class="col-md-6 col-sm-6">
                          {{ form_errors(form.nom) }}
                          {{ form_widget(form.nom, { 'attr': {'class': 'form-control', 'placeholder': 'Nom de l\'enfant'} }) }}
                        </div>
                        <div class="col-md-6 col-sm-6">
                          {{ form_errors(form.prenom) }}
                          {{ form_widget(form.prenom, { 'attr': {'class': 'form-control', 'placeholder': 'Prénom de l\'enfant'} }) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6 col-sm-6">
                            <i class="sprite birthday"></i>
                            {{ form_errors(form.dateDeNaissance) }}
                            {{ form_widget(form.dateDeNaissance, { 'attr': {'class': 'form-group'} }) }}
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <i class="sprite niveau"></i>
                            {{ form_errors(form.refNiveau) }}
                            {{ form_widget(form.refNiveau, { 'attr': {'class': 'form-group'} }) }}
                        </div>
                    </div>

                    <div class="form-group row">
                    <div class="col-md-12 col-sm-12">
                        {{ form_errors(form.observation) }}
                        {{ form_widget(form.observation, { 'attr': {'class': 'form-control', 'placeholder': 'Observation'} }) }}                  
                    </div>
                    </div>

                    <div class="form-group row">
                        <div id="file-upload" class="col-md-6 col-sm-6" style="margin-top:10px;">
                            {{ form_label(form.file, "Ajouter une photo de l'enfant:") }}                       
                            {{ form_errors(form.file ) }}                       
                            {{ form_widget(form.file , { 'attr': {'class': 'form-control'} }) }}                  
                        </div>
                        
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EDUCATEUR')%} 		
                            <div class="col-md-6 col-sm-6">                      
                                {{ form_label(form.refParent, "Parent:") }}                       
                                {{ form_errors(form.refParent) }}                       
                                {{ form_widget(form.refParent, { 'attr': {'class': 'form-control'} }) }}                  
                            </div> 
                        {% endif %} 
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_PARENT')%} 		
                            <div class="col-md-6 col-sm-6">                     
                                {{ form_label(form.refEducateur, "Educateur:") }}                       
                                {{ form_errors(form.refEducateur) }}                       
                                {{ form_widget(form.refEducateur, { 'attr': {'class': 'form-control'} }) }}                  
                            </div> 
                        {% endif %}
                    </div>

                    <div class="form-group row">
                        <div class="col-md-6 col-sm-6">
                            <input type="submit" class="btn-block btn btn-register" value="Ajouter" />
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <a href="{{ path('enfant') }}" class="btn btn-info btn-block"><i class="fa fa-reply"></i> Retour</a>
                        </div>
                    </div>
                    {{ form_rest(form) }}


                    {{ form_end(form) }}

                </form>
            </div>
        </div>
{% endblock %}

