{% extends "FoBundle:Gestion:index.html.twig" %}

{% block gst_contents -%}
{% block stylesheets %}
	{{parent()}}
<style>
    .btn-register { margin-bottom: 2px;}
    .panel-connexion {margin-top: 10px;}
</style>
{% endblock %}
<div class="panel panel-info">
    <div class="panel-heading">
        <h2 >Informations personnelles</h2>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table-responsive table table-striped table-condensed record_properties">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ entity.id }}</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td>{{ entity.nom }}</td>
                    </tr>
                    <tr>
                        <th>Prenom</th>
                        <td>{{ entity.prenom }}</td>
                    </tr>
                    <tr>
                        <th>Datedenaissance</th>
                        <td>{{ entity.dateDeNaissance|date('d/m/Y') }}</td>
                    </tr>
                    <tr>
                        <th>Observation</th>
                        <td>{{ entity.observation }}</td>
                    </tr>
                    <tr>
                        <th>Avatar</th>
                        <td>
                            {% if entity.avatar %}
                            <img class="thumbnail" style="width: 120px;" src="{{ asset('/uploads/images/enfant/'~entity.avatar) }}"/>
                            {% else %}
                            <img class="thumbnail" style="width: 120px;" src="{{ asset('/uploads/images/enfant/default_avatar.png') }}"/>
                            {% endif %}
                            
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <a href="{{ path('enfant_edit', { 'id': entity.id }) }}" class="btn btn-valid"><i class="fa fa-edit"></i> Editer</a>
        <a href="{{ path('enfant') }}" class="btn btn-default"><i class="fa fa-reply"></i> Revenir à la liste</a>
    </div>
</div>
    <!--<li>{{ form(delete_form) }}</li>-->
	{{form_start(delete_form)}}
        {{ form_errors(delete_form) }}
<div class="col-md-12 col-sm-12">

        {#{{ form(delete_form) }}#}
          {{ form_label(delete_form.submit, "Supprimer:") }}
          {{ form_widget(delete_form.submit, { 'attr': {'class': 'form-control delete'} }) }}
</div>
        {{ form_rest(delete_form) }}
        {{ form_end(delete_form) }}
</div>
{% endblock %}
