
{# {% extends "SonataUserBundle::layout.html.twig" %} #}

{% extends '::base.html.twig' %}

{% block body %}
    {# {% include "FOSUserBundle:Registration:register_content.html.twig" %} #}
	{% block stylesheets %}
	{{parent()}}
	<style>
	
	body {
			background: url({{ asset('/bundles/fo/img/bg_login.jpg') }}) no-repeat center bottom fixed #7fd5eb;
		}
	header { display: none; }
	</style>
{% endblock %}

{% block fos_user_content %}
	<div class="row">
		<div class="col-md-6 col-md-offset-6">
            <div class="panel panel-info panel-connexion">

                <div class="panel-heading">
                    <!--<h2 class="panel-title">{{ 'title_user_authentication'|trans({}, 'SonataUserBundle') }}</h2>-->
					<h1 class="titre"> Au Tour de l'espoir</h1>
					<img src="{{ asset('/bundles/fo/img/logo1.png') }}" alt="application comunication autistes" class="img-responsive"/>
                </div>

                <div class="panel-body">

                    {% if error %}
                        <div class="alert alert-danger alert-error">{{ error|trans({}, 'FOSUserBundle') }}</div>
                    {% endif %}

                    <form action="{{ path("fos_user_security_check") }}" method="post" role="form" class="form-horizontal">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

                        <div class="form-group">
                            <div class="col-md-8 col-sm-8">
                                <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}"  placeholder="Nom d'utilisateur" required="required"/>
                            </div>
							<div class="col-md-8 col-sm-8">
                                <input type="password" class="form-control" id="password" name="_password" required="required"  placeholder="Mot de passe"/>
                            </div>
							<div class="col-bt-connexion">
							<input type="submit" id="_submit" name="_submit" class="btn btn-login" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}"/>
							</div>
                        </div>
						
                        <div class="form-group">
						
							 <div class="col-sm-6">
								  <div class="checkbox control-group">
									<label>
									  <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                                        {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
									</label>
								  </div>
							</div>
							<div class="controls col-md-6">
                                <a href="{{ path('fos_user_resetting_request') }}">{{ 'forgotten_password'|trans({}, 'SonataUserBundle') }}</a>
                            </div>
                        </div>

                        <div class="form-group">
                            <!-- Register button -->
                            <div class="col-md-12">
                                <a href="{{ path('fos_user_registration_register') }}" id="_btn_register" name="_btn_register" class="btn btn-register btn-block">
                                    Inscrivez-vous
                                </a>
                                
                            </div>
                        </div>
                    </form>
                </div>
            </div>
		</div>
	</div>	
{% endblock fos_user_content %}
{% endblock %}
