{% extends "FoBundle:Gestion:index.html.twig" %}

{% block gst_contents -%}

    <h1>Enfant éditer</h1>
<div class="bg">
    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('enfant') }}" class="btn btn-back">
            Revenir à la liste
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
</div>
{% endblock %}
