{% extends "FoBundle:Gestion:index.html.twig" %}

{% block gst_contents -%}
    <h1>Liste Enfant</h1>
<div class="table-responsive">
    <table class="records_list table table-bordered table-condensed table-striped table-hover">
        <thead>
            <tr class="btn-primary">
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Datedenaissance</th>
                <th>Observation</th>
                <th>Avatar</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('enfant_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nom }}</td>
                <td>{{ entity.prenom }}</td>
                <td>{% if entity.dateDeNaissance %}{{ entity.dateDeNaissance|date('d/m/Y') }}{% endif %}</td>
                <td>{{ entity.observation }}</td>
                <td>{{ entity.avatar }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('enfant_show', { 'id': entity.id }) }}">visualiser</a>
                    </li>
                    <li>
                        <a href="{{ path('enfant_edit', { 'id': entity.id }) }}">éditer</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
        <ul class="col-lg-4 col-md-4">
        <li>
            <a href="{{ path('enfant_new') }}" class="btn btn-register">
                Ajouter un enfant
            </a>
        </li>
    </ul>
    {% endblock %}
