{% extends "FoBundle:Gestion:index.html.twig" %}

{% block gst_contents -%}
<h1>Ajouter Enfant</h1>
<div class="bg">
<form action="{{ path('enfant_create') }}" method="post" {{ form_enctype(form) }}>

                    {{ form_errors(form) }}

    <div class="form-group col-lg-6 col-md-6">
                      {{ form_label(form.nom, "Nom:") }}
                      {{ form_errors(form.nom) }}
                      {{ form_widget(form.nom, { 'attr': {'class': 'form-control'} }) }}
    </div>

    <div class="form-group col-lg-6 col-md-6">
                      {{ form_label(form.prenom, "Prénom:") }}
                      {{ form_errors(form.prenom) }}
                      {{ form_widget(form.prenom, { 'attr': {'class': 'form-control'} }) }}
    </div>

    <div class="form-group col-lg-6 col-md-6">
                      {{ form_label(form.dateDeNaissance, "Date de naissance:") }}
                      {{ form_errors(form.dateDeNaissance) }}
                      {{ form_widget(form.dateDeNaissance) }}
    </div>

    <div class="form-group col-lg-6 col-md-6">
                      {{ form_label(form.observation, "Observation:") }}
                      {{ form_errors(form.observation) }}
                      {{ form_widget(form.observation, { 'attr': {'class': 'form-control'} }) }}
    </div>

    <div class="form-group col-lg-6 col-md-6">
                      {{ form_label(form.refNiveau, "Niveau:") }}
                      {{ form_errors(form.refNiveau) }}
                      {{ form_widget(form.refNiveau, { 'attr': {'class': 'form-control'} }) }}
    </div>

    <div class="form-group col-lg-6 col-md-6">
                      {{ form_label(form.file, "Avatar:") }}
                      {{ form_errors(form.file) }}
                      {{ form_widget(form.file) }}
    </div>

    <div class="form-group col-lg-6 col-md-6">
                      {{ form_label(form.refParent, "Parent:") }}
                      {{ form_errors(form.refParent) }}
                      {{ form_widget(form.refParent, { 'attr': {'class': 'form-control'} }) }}
    </div>

    <div class="form-group col-lg-6 col-md-6">
                      {{ form_label(form.refEducateur, "Educateur:") }}
                      {{ form_errors(form.refEducateur) }}
                      {{ form_widget(form.refEducateur, { 'attr': {'class': 'form-control'} }) }}
    </div>

                    {{ form_rest(form) }}

    <input type="submit" class="btn btn-register" value="Ajouter"/>
</form>
</div>
<ul class="record_actions col-md-12 col-lg-12">
    <li>
        <a href="{{ path('enfant') }}" class="btn btn-back">
            Revenir à la liste
        </a>
    </li>
</ul>
{% endblock %}
