{% extends "FoBundle:Gestion:index.html.twig" %}

{% block gst_contents -%}
    <h1>Enfant</h1>
<div class="bg">
<div class="table-responsive">
    <table class="record_properties table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ entity.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ entity.prenom }}</td>
            </tr>
            <tr>
                <th>Datedenaissance</th>
                <td>{{ entity.dateDeNaissance|date('d/m/Y') }}</td>
            </tr>
            <tr>
                <th>Observation</th>
                <td>{{ entity.observation }}</td>
            </tr>
            <tr>
                <th>Avatar</th>
                <td>{{ entity.avatar }}</td>
            </tr>
        </tbody>
    </table>
</div>
        <ul class="record_actions">
    <li>
        <a href="{{ path('enfant') }}" class="btn btn-back">
            Revenir à la liste
        </a>
    </li>
    <li>
        <a href="{{ path('enfant_edit', { 'id': entity.id }) }}" class="btn btn-valid">
            Editer
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
</div>
{% endblock %}
