{% extends '::base.html.twig' %}
{% block body %}
{% block stylesheets %}
	{{parent()}}
	<style>
	.panel-connexion {margin-top: 7%;}
	</style>
{% endblock %}
<div class="row">
    {# L'utilisateur est-il connecté ? #}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {# L'utilisateur est connecté ! #}

        {# L'utilisateur est-il admin ? #}
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EDUCATEUR') or is_granted('ROLE_PARENT')%}
            {# L'utilisateur est admin ou educateur ou parent! #}
	<div class="col-md-12 col-sm-12">
		<div class="panel panel-info panel-connexion">
			
			<div class="panel-heading">
				<h2>Un nouvel enfant</h2>
			</div>
			<div class="panel-body">
				<form action="{{ path('home_add_enfant') }}" method="post" {{ form_enctype(formAdd) }}>
						{{ form_start(formAdd) }}
						{{ form_errors(formAdd) }}

						<div class="form-group">
							<div class="col-md-6 col-sm-6">
						  {{ form_errors(formAdd.nom) }}
						  {{ form_widget(formAdd.nom, { 'attr': {'class': 'form-control', 'placeholder': 'Nom de l\'enfant'} }) }}
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-6 col-sm-6">
						  {{ form_errors(formAdd.prenom) }}
						  {{ form_widget(formAdd.prenom, { 'attr': {'class': 'form-control', 'placeholder': 'Prénom de l\'enfant'} }) }}
							</div>
						</div>
						<div class="form-group">
						 <div class="col-md-6 col-sm-6">
							<i class="sprite birthday"></i>
						  {{ form_errors(formAdd.dateDeNaissance) }}
						  {{ form_widget(formAdd.dateDeNaissance, { 'attr': {'class': 'form-group'} }) }}
						</div>
						<div class="col-md-6 col-sm-6">
						  <i class="sprite niveau"></i>
						  {{ form_errors(formAdd.refNiveau) }}
						  {{ form_widget(formAdd.refNiveau, { 'attr': {'class': 'form-group'} }) }}
						</div>
						</div>
						
						<div class="form-group">
							<div class="col-md-12 col-sm-12">
						{{ form_errors(formAdd.observation) }}                       
						{{ form_widget(formAdd.observation, { 'attr': {'class': 'form-control', 'placeholder': 'Observation'} }) }}                  
							</div>
						</div>
						
						<div class="form-group">
							<div class="col-md-6 col-sm-6">
						{{ form_label(formAdd.file, "Ajouter une photo de l'enfant:") }}                       
						{{ form_errors(formAdd.file ) }}                       
						{{ form_widget(formAdd.file , { 'attr': {'class': 'form-control'} }) }}                  
							</div>
							{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EDUCATEUR')%} 		
							<div class="col-md-6 col-sm-6">                      
							{{ form_label(formAdd.refParent, "Parent:") }}                       
							{{ form_errors(formAdd.refParent) }}                       
							{{ form_widget(formAdd.refParent, { 'attr': {'class': 'form-control'} }) }}                  
							</div> 
							{% endif %} 
							{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_PARENT')%} 		
							<div class="col-md-6 col-sm-6">                     
							{{ form_label(formAdd.refEducateur, "Educateur:") }}                       
							{{ form_errors(formAdd.refEducateur) }}                       
							{{ form_widget(formAdd.refEducateur, { 'attr': {'class': 'form-control'} }) }}                  
							</div> {% endif %}
						</div>
						
						<div class="form-group">
							<div class="col-md-12 col-sm-12">
								<div class="btn-group">
									<button type="submit" class="btn btn-register btn-lg"><i class="fa fa-save"></i> Enregister</button>
									<a href="{{path('fo_homepage')}}" class="btn btn-info btn-lg"><i class="fa fa-reply"></i> Annuler</a>
								</div>
							</div>
						</div>
						{{ form_rest(formAdd) }}
						
						
						{{ form_end(formAdd) }}
						
				</form>
			</div>
        
		{% endif %}
    {% else %}
        {# L'utilisateur n'est pas connecté ! #}
    {% endif %}
	</div>
	</div>
	</div>
{% endblock %}