{% extends '::base.html.twig' %}
{% block body %}

		<div class="panel panel-info panel-connexion">
			{# L'utilisateur est-il connecté ? #}
			{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
				{# L'utilisateur est connecté ! #}
				{# L'utilisateur est-il admin ? #}
				{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EDUCATEUR') or is_granted('ROLE_PARENT')%}
					{# L'utilisateur est admin ou educateur ou parent! #}
					<div class="panel-body">
						<form action="{{ path('fo_homepage') }}" method="post" {{ form_enctype(formSelect) }}>

							{{ form_errors(formSelect) }}

							<div class="form-group">
							  {{ form_label(formSelect.id, "Séléctionner un enfant:") }}
							  {{ form_errors(formSelect.id) }}
							  {{ form_widget(formSelect.id, { 'attr': {'class': 'form-control'} }) }}
							</div>
							{# === Add a child === #}
							<div class="row">
								<div class="col-md-6" style="margin-bottom:5px">
									{{ form_rest(formSelect) }}
									<button type="submit" class="btn btn-valid btn-block">
										<i class="fa fa-check"></i>&nbsp;&nbsp; Séléctionner</button>
								</div>
								<div class="col-md-6" style="margin-bottom:5px">
									<a href="{{ path('home_add_enfant') }}" class="btn btn-register btn-block"><i class="fa fa-plus"></i>&nbsp;&nbsp;Ajouter un nouvel enfant</a>
									{% block addEnfant %}{% endblock %}
								</div>
							</div>
						</form>
					</div>
			{% endif %}
	    {% else %}
	        {# L'utilisateur n'est pas connecté ! #}
	    {% endif %}
	</div>
{% endblock %}
