{% extends '::base.html.twig' %}
{% block body %}
	<div class="jumbotron jumbotron-autiste">
		{% if enfant is defined %}
			{% if app.session.get('enfant') != null  %}
				{% set enfantId = app.session.get('enfant').getId() %}
			{% endif %}
			<div class="media">
				<span class="pull-left thumbnail" href="{{ path('enfant_edit', {'id':enfantId}) }}">
					{% if enfant.avatar != '' %}
						<img src="{{ asset('/uploads/images/enfant/'~enfant.avatar )}}" class="img-thumbnail img-responsive" style="max-width:250px !important"/>
					{% else %}
						<i class="fa fa-user" style=" font-size: 6em; padding: 2px 10px; "></i>
					{% endif %}
				</span>
				<div class="media-body">
					<h1 class="media-heading">Nom : {{enfant.nom|upper}} <br>Prénom : {{enfant.prenom|capitalize}}</h1>
					<p>{% set age = "now"|date('Y') - enfant.dateDeNaissance|date('Y') %}
					Date de naissance : {{enfant.dateDeNaissance|date('d/m/Y')}} ({{age}} ans)<br>
					Niveau {{app.session.get('currentNiveau')}}<br>
					{% if enfant.observation != null %}
					    {{ enfant.observation }} <br>
					{% endif %}
					Parent : {{ enfant.refParent.firstname }} {{ enfant.refParent.lastname }} ({{ enfant.refParent }})<br>
					Educateur : {{ enfant.refEducateur.firstname }} {{ enfant.refEducateur.lastname }} ({{ enfant.refEducateur }})</p>

				</div>
			</div>
					
		{% endif %}
	</div>
{% endblock %}