/* --- Font --- */
@font-face {
    Font-family : hobo ;
    Src :  url('/bundles/fo/fonts/HoboStd.otf') ;
}

@font-face {
    Font-family : boli ;
    Src :  url('/bundles/fo/fonts/mvboli.ttf') ;
}

/* --- Color --- */

@dark-green : #454d12;
@blue : #3499e3;


/* --- Default --- */
body {
    background: url('/bundles/fo/img/bg_app.jpg') no-repeat center bottom fixed #7fd5eb;
    padding-top: 50px;
    overflow-y: scroll;
}
ul, ol {
    list-style: none outside none;
    margin-bottom: 10px;
    margin-top: 0;
}

.fa{
    font-size: 1.2em;
}

.well-inverse{
    background-color: #333;
    border-color: rgb(0,0,0,.3);
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
}
.progress{
    border: 0;
    height: 12px;
    margin-bottom: 10px;
    background-color: rgba(0,0,0,0.1);
}
.progress-bar{
    line-height: 10px;
}
h3, h4 {color : #51A9C0; margin : 1em 0 ;}
.well h3, .well h4 {color : #F8F8F8;font-weight: bold;}
.star-count i{
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    font-size: 1em;
    color: rgba(255, 255, 255, 0.8);
    &.fa-star{
        color: rgba(91,192,222,.8);
    }
}

// Menu enfant
.menu-enfant{
    margin:0;
    padding: 0;
    li{
        &.divider{
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            border-top: 1px solid rgba(0,0,0,0.2);
            margin: 10px 0;
        }
        margin-bottom: 2px;
        a{
            text-decoration: none;
            color: white;
            display: block;
            padding: .4em .6em .4em;
            line-height: 1;
            color: #fff;
            background-color: #222;
            border:1px solid  rgba(0,0,0,0.1);
            font-weight: normal;
            border-radius: 4px;
            &:hover{
                color: rgba(255, 255, 255, 0.9);
                -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
                box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
            }
            i{
                font-size: 1.1em;
                margin-right: 10px;
            }
        }
    }
}

.toolbar{
    &:before{
        content: " ";
        display: table;
    }
    .items{
        background-color: rgba(248,250,236, 0.8) !important;
        color: #333;
        margin: 0;
        padding: 0;
        color: rgba(255,255,255,0.9);
        text-shadow: 0 1px 0 rgba(0,0,0,0.1);
        border: 0px;
        border-top: 3px solid rgba(0,0,0,0.05);
        border-radius: 0 0 4px 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
        li{
            height: 70px;
            font-size: 18px;
            font-weight: bold;
            line-height: 4;
            text-align: center;
            a{
                width: 100%;
                height: 100%;
                position: absolute;
                display: inline-block;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                text-decoration: none;
                color: #222;
                text-shadow: 1px 1px 0 rgba(255,255,255,0.2);
                box-shadow: 1px 0 0 rgba(255, 255, 255, 0.11);
                border: 1px solid transparent;
                display: inline-block;
                background-color: rgba(248,250,236, 0.8) !important;
                border: 1px solid rgba(0,0,0,0.01);
                &:hover{
                    color: #333;
                    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
                    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
                    opacity: .9;
                    -webkit-box-shadow: inset 0 -1px 10px 0 rgba(0,0,0,0.01);
                    box-shadow: inset 0 -1px 10px 0 rgba(0,0,0,0.01);
                }
            }
        }
    }
}

/* --- Login --- */

.titre {display: hidden;}

.rotate(@rotation) {
    -webkit-transform: rotate(@rotation);
    -moz-transform: rotate(@rotation);
    -ms-transform: rotate(@rotation);
    -o-transform: rotate(@rotation);
    transform: rotate(@rotation);
}
input {
    &:active,
        &:focus{
        outline: 0 !important;
    }
}
.jumbotron-autiste{
    background-color: #f3fbfd !important;
    h1, .h1 {
        font-size: 3em;
    }
    p{
        margin: 2px !important;
    }
    &:before {
        border-radius: 10px;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 23px;
        width: 100%;
        z-index: -1;
        background-color: rgba(255, 255, 255, 0.45);
        box-shadow: 0px -3px 0px 0px rgba(0,0,0,0.02) inset;
        .rotate(6deg);
    }
}
.panel
{
    margin-top: 0;
    position: relative;
    overflow: visible;
    background-color: #f3fbfd;
    text-align: left;
    border: 0;
    box-shadow: 0px -5px 0px 0px rgba(0,0,0,0.03) inset;
    .panel-heading {
        background-color: #428bca;
        border-color: #428bca;	
        color: #fff;
        font-weight: bold;
        h1 {display:none; text-align: center;}
        h2 {text-align: center;}
        img {margin: 1.3em auto;}
    }
    &:before {
        border-radius: 10px;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 23px;
        width: 100%;
        z-index: -1;
        background-color: rgba(255, 255, 255, 0.45);
        box-shadow: 0px -3px 0px 0px rgba(0,0,0,0.02) inset;
        .rotate(6deg);
    }

}


.panel-connexion{
    .panel-heading {
        background-color: rgba(0, 0, 0, 0) !important;
        border: 0 !important;
        color: #333;
        h1 {display:none; text-align: center;}
        h2 {text-align: center;}
        img {margin: 1.3em auto;}
    }
    .form-group {
        input {
            -webkit-box-shadow: inset 0 -1px 10px 0 rgba(0,0,0,0.1);
            box-shadow: inset 0 -1px 10px 0 rgba(0,0,0,0.1);
        }
        input[name="_username"] {
            border-radius: 4px 0 0 0;
            border-bottom: 0;
        }
        input[name="_password"] {
            border-radius: 0 0 0 4px;
            margin-top: -1px;
            border-top: 0;
        }
    }
}


.col-bt-connexion {
    float: right;
    position: absolute;
    right: 0;
    width: 37.333%;

    input {
        width:90%;
        height: 67px;
        float: left;
        position: relative;
        overflow: hidden;
        background: #83aa97 url("/bundles/fo/img/sprite-ico.png") no-repeat right 0;
        text-shadow: 0 1px 0 rgba(0,0,0,.1);
        border-radius: 0 4px 4px 0 ;
        color: #333;
        &:active,
            &:focus,
            &:hover{
            color: #333;
            background-color: #74a08a;
            background: #74a08a url("/bundles/fo/img/sprite-ico.png") no-repeat right 0;
        }

    }
}
.navbar{
    background-image: none !important;
    background-color: #f3fbfd !important;
    box-shadow: none !important;
    border: none !important;
    .navbar-nav{
        box-shadow: none !important;
        border: none !important;
        li{
            border-left: 1px solid rgba(255, 255, 255, 0.6);
            a{
                border-left: 1px solid rgba(0,0,0, 0.1);
            }
        }
    }
}
.gestion-nav {
    margin : 2em 0 ;
    li {
    }
    a {  
        background: #369ce7; /* Old browsers */
        background: -moz-radial-gradient(center, ellipse cover,  #369ce7 0%, #2982cb 100%); /* FF3.6+ */
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#369ce7), color-stop(100%,#2982cb)); /* Chrome,Safari4+ */
        background: -webkit-radial-gradient(center, ellipse cover,  #369ce7 0%,#2982cb 100%); /* Chrome10+,Safari5.1+ */
        background: -o-radial-gradient(center, ellipse cover,  #369ce7 0%,#2982cb 100%); /* Opera 12+ */
        background: -ms-radial-gradient(center, ellipse cover,  #369ce7 0%,#2982cb 100%); /* IE10+ */
        background: radial-gradient(ellipse at center,  #369ce7 0%,#2982cb 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#369ce7', endColorstr='#2982cb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        margin-left: 10px;
        color: white;
        font-weight: bold;
        border : 0 solid #fff;

        &:hover {
            background: #ffffff; /* Old browsers */
            background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #e7e7e7 100%); /* FF3.6+ */
            background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(100%,#e7e7e7)); /* Chrome,Safari4+ */
            background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#e7e7e7 100%); /* Chrome10+,Safari5.1+ */
            background: -o-radial-gradient(center, ellipse cover,  #ffffff 0%,#e7e7e7 100%); /* Opera 12+ */
            background: -ms-radial-gradient(center, ellipse cover,  #ffffff 0%,#e7e7e7 100%); /* IE10+ */
            background: radial-gradient(ellipse at center,  #ffffff 0%,#e7e7e7 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7e7e7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
            transition : color ease 1s;
            color: #369ce7;
        }
    }

}

.form-horizontal .control-label, .form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0px;
}

.btn{
    text-shadow: 0 1px 0px rgba(0,0,0,0.15);
    box-shadow: 0px -5px 0px 0px rgba(0,0,0,0.1) inset;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,0.1);
    border-bottom: 0;
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    &.active,
    &:focus,
        &:active{
        box-shadow: 0px -1px 0px 0px rgba(0,0,0,0.1) inset;
        border-color: rgba(0,0,0,0.08);
    }
    &:hover{
        box-shadow: 0px -4px 0px 0px rgba(0,0,0,0.1) inset;
        border-color: rgba(0,0,0,0.08);
    }
}
.btn-warning{
    background-color: #f36201 !important;
}
.btn-primary,
.btn-register{
    text-shadow: 0 1px 0px rgba(255,255,255,0.3);
    background-color: rgba(194,214,71, 1);
    color: #444;
    border-bottom: 0;
    &:focus,
        &:active,
        &.active,
        &:hover{
        color: #222;
        background-color: rgba(194,214,71, 0.9);
    }
}

.btn-valid {
    color: #fff;
    background-color: rgba(54,156,231, 1);
    border-color: #2982cb;
    &:hover{
        color: #F1F1F1;
        background-color: rgba(54,156,231, .9);
    }

}
.delete {
    background-color: #F36201 !important;
    border: 0 solid #FFFFFF !important;
    border-radius: 0 !important;
    color: #FFFFFF !important;
    font-weight: bold;
    margin-top: 1em !important;
}
.select {
    width: 100% !important;
}
label {margin-top :5px;}

#terreplurielle_bundle_fobundle_activite_dateDebut,
#terreplurielle_bundle_fobundle_activite_dateFin {
    select {margin-top : 0 !important;}
}
#terreplurielle_bundle_fobundle_activite_observation {margin : 12px 0;}
#terreplurielle_bundle_fobundle_activite_dateDeNaissance select, #terreplurielle_bundle_fobundle_activite_refNiveau,
#terreplurielle_bundle_fobundle_activite_refNiveau, #terreplurielle_bundle_fobundle_activite_dateDebut select,
#terreplurielle_bundle_fobundle_activite_dateFin select {
    margin-bottom: 0;
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    display: block;
    float: left;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    margin-left: 10px;
    margin-top: 10px;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 26.6667%;
}
#terreplurielle_bundle_fobundle_activite_file {
    padding : 0 0;
    margin-bottom: 1em;
}

/* --- icon sprite --- */

.sprite {
    float: left;
    height: 24px;
    margin-left: 0;
    margin-top: 17px;
    position: relative;
    width: 24px;
}

.birthday {background: url("/bundles/fo/img/sprite-ico2.png") no-repeat 0 0;}
.niveau{background: url("/bundles/fo/img/sprite-ico2.png") no-repeat scroll -24px 0px rgba(0, 0, 0, 0);}
.show {background: url("/bundles/fo/img/sprite-ico2.png") no-repeat scroll 0px -24px rgba(0, 0, 0, 0);margin-right: 9px;
       margin-top: 0;}
.edit {background: url("/bundles/fo/img/sprite-ico2.png") no-repeat scroll -24px -24px rgba(0, 0, 0, 0);margin-right: 9px;
       margin-right: 0; margin-top: 0;}

.btn-play, .btn-play-phrase, .btn-save, .btn-negation {width: 42px; height: 42px;}
.btn-play {background: url("/bundles/fo/img/sprite-ico3.png") no-repeat scroll 0px 0px rgba(0, 0, 0, 0);}
.btn-play-phrase {background: url("/bundles/fo/img/sprite-ico3.png") no-repeat scroll -43px 0px rgba(0, 0, 0, 0);}
.btn-save {background: url("/bundles/fo/img/sprite-ico3.png") no-repeat scroll 0px -44px rgba(0, 0, 0, 0);}
.btn-negation{background: url("/bundles/fo/img/sprite-ico3.png") no-repeat scroll -43px -43px rgba(0, 0, 0, 0)}

/* --- css autiste --- */
.panel-autiste {
    background-color: rgba(255, 255, 255, 0.9); 
    border-radius: 4px;
}
#gallery {
    margin-bottom: 10px;
    &:after{
        content: " ";
        display: table;
    }
}
#gallery, #ul-theme { 
    z-index: 1;
    position: relative;
    &:after,&:before{
        content: " ";
        display: block;
        width: 100%;
    }
}
.gallery.custom-state-active { 
    background: #eee; 
}
#gallery li, #ul-theme li { 
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.gallery li:hover { 
    cursor: move;
}
.gallery li, .theme-gal li { 
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    float: left;
    text-align: center; 
}
.theme-gal li:hover { 
    cursor: pointer;
}
.theme-pictos { }
.picto-mot, .picto-phrase {
    margin: auto;
}
/* --- Font --- */
@font-face {
    Font-family : hobo ;
    Src :  url('/bundles/fo/fonts/HoboStd.otf') ;
}

@font-face {
    Font-family : boli ;
    Src :  url('/bundles/fo/fonts/mvboli.ttf') ;
}

/* --- Color --- */

@dark-green : #454d12;
@blue : #3499e3;


/* --- Default --- */
body {
    background: url('/bundles/fo/img/bg_app.jpg') no-repeat center bottom fixed #7fd5eb;
    padding-top: 50px;
    overflow-y: scroll;
}
ul, ol {
    list-style: none outside none;
    margin-bottom: 10px;
    margin-top: 0;
}

.fa{
    font-size: 1.2em;
}

.well-inverse{
    background-color: #333;
    border-color: rgb(0,0,0,.3);
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
}
.progress{
    border: 0;
    height: 12px;
    margin-bottom: 10px;
    background-color: rgba(0,0,0,0.1);
}
.progress-bar{
    line-height: 10px;
}
h3, h4 {color : #51A9C0; margin : 1em 0 ;}
.well h3, .well h4 {color : #F8F8F8;font-weight: bold;}
.star-count i{
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    font-size: 1em;
    color: rgba(194,214,71,.5);
    &.fa-star{
        color: rgba(194,214,71,1);
    }
}

// Menu enfant
.menu-enfant{
    margin:0;
    padding: 0;
    li{
        &.divider{
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            border-top: 1px solid rgba(0,0,0,0.2);
            margin: 10px 0;
        }
        margin-bottom: 2px;
        a{
            text-decoration: none;
            color: white;
            display: block;
            padding: .4em .6em .4em;
            line-height: 1;
            color: #fff;
            background-color: #222;
            border:1px solid  rgba(0,0,0,0.1);
            font-weight: normal;
            border-radius: 4px;
            &:hover{
                color: rgba(255, 255, 255, 0.9);
                -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
                box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
            }
            i{
                font-size: 1.1em;
                margin-right: 10px;
            }
        }
    }
}

.toolbar{
    &:before{
        content: " ";
        display: table;
    }
    .items{
        background-color: rgba(248,250,236, 0.8) !important;
        color: #333;
        margin: 0;
        padding: 0;
        color: rgba(255,255,255,0.9);
        text-shadow: 0 1px 0 rgba(0,0,0,0.1);
        border: 0px;
        border-top: 3px solid rgba(0,0,0,0.05);
        border-radius: 0 0 4px 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
        li{
            height: 70px;
            font-size: 18px;
            font-weight: bold;
            line-height: 4;
            text-align: center;
            a{
                width: 100%;
                height: 100%;
                position: absolute;
                display: inline-block;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                text-decoration: none;
                color: #222;
                text-shadow: 1px 1px 0 rgba(255,255,255,0.2);
                box-shadow: 1px 0 0 rgba(255, 255, 255, 0.11);
                border: 1px solid transparent;
                display: inline-block;
                background-color: rgba(248,250,236, 0.8) !important;
                border: 1px solid rgba(0,0,0,0.01);
                &:hover{
                    color: #333;
                    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
                    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
                    opacity: .9;
                    -webkit-box-shadow: inset 0 -1px 10px 0 rgba(0,0,0,0.01);
                    box-shadow: inset 0 -1px 10px 0 rgba(0,0,0,0.01);
                }
            }
        }
    }
}

/* --- Login --- */

.titre {display: hidden;}

.rotate(@rotation) {
    -webkit-transform: rotate(@rotation);
    -moz-transform: rotate(@rotation);
    -ms-transform: rotate(@rotation);
    -o-transform: rotate(@rotation);
    transform: rotate(@rotation);
}
input {
    &:active,
        &:focus{
        outline: 0 !important;
    }
}
.jumbotron-autiste{
    background-color: #f3fbfd !important;
    h1, .h1 {
        font-size: 3em;
    }
    p{
        margin: 2px !important;
    }
    &:before {
        border-radius: 10px;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 23px;
        width: 100%;
        z-index: -1;
        background-color: rgba(255, 255, 255, 0.45);
        box-shadow: 0px -3px 0px 0px rgba(0,0,0,0.02) inset;
        .rotate(6deg);
    }
}
.panel
{
    margin-top: 0;
    position: relative;
    overflow: visible;
    background-color: #f3fbfd;
    text-align: left;
    border: 0;
    box-shadow: 0px -5px 0px 0px rgba(0,0,0,0.03) inset;
    .panel-heading {
        background-color: #428bca;
        border-color: #428bca;	
        color: #fff;
        font-weight: bold;
        h1 {display:none; text-align: center;}
        h2 {text-align: center;}
        img {margin: 1.3em auto;}
    }
    &:before {
        border-radius: 10px;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 23px;
        width: 100%;
        z-index: -1;
        background-color: rgba(255, 255, 255, 0.45);
        box-shadow: 0px -3px 0px 0px rgba(0,0,0,0.02) inset;
        .rotate(6deg);
    }

}


.panel-connexion{
    .panel-heading {
        background-color: rgba(0, 0, 0, 0) !important;
        border: 0 !important;
        color: #333;
        h1 {display:none; text-align: center;}
        h2 {text-align: center;}
        img {margin: 1.3em auto;}
    }
    .form-group {
        input {
            -webkit-box-shadow: inset 0 -1px 10px 0 rgba(0,0,0,0.1);
            box-shadow: inset 0 -1px 10px 0 rgba(0,0,0,0.1);
        }
        input[name="_username"] {
            border-radius: 4px 0 0 0;
            border-bottom: 0;
        }
        input[name="_password"] {
            border-radius: 0 0 0 4px;
            margin-top: -1px;
            border-top: 0;
        }
    }
}


.col-bt-connexion {
    float: right;
    position: absolute;
    right: 0;
    width: 37.333%;

    input {
        width:90%;
        height: 67px;
        float: left;
        position: relative;
        overflow: hidden;
        background: #83aa97 url("/bundles/fo/img/sprite-ico.png") no-repeat right 0;
        text-shadow: 0 1px 0 rgba(0,0,0,.1);
        border-radius: 0 4px 4px 0 ;
        color: #333;
        &:active,
            &:focus,
            &:hover{
            color: #333;
            background-color: #74a08a;
            background: #74a08a url("/bundles/fo/img/sprite-ico.png") no-repeat right 0;
        }

    }
}
.navbar{
    background-image: none !important;
    background-color: #f3fbfd !important;
    box-shadow: none !important;
    border: none !important;
    .navbar-nav{
        box-shadow: none !important;
        border: none !important;
        li{
            border-left: 1px solid rgba(255, 255, 255, 0.6);
            a{
                border-left: 1px solid rgba(0,0,0, 0.1);
            }
        }
    }
}
.gestion-nav {
    margin : 2em 0 ;
    li {
    }
    a {  
        background: #369ce7; /* Old browsers */
        background: -moz-radial-gradient(center, ellipse cover,  #369ce7 0%, #2982cb 100%); /* FF3.6+ */
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#369ce7), color-stop(100%,#2982cb)); /* Chrome,Safari4+ */
        background: -webkit-radial-gradient(center, ellipse cover,  #369ce7 0%,#2982cb 100%); /* Chrome10+,Safari5.1+ */
        background: -o-radial-gradient(center, ellipse cover,  #369ce7 0%,#2982cb 100%); /* Opera 12+ */
        background: -ms-radial-gradient(center, ellipse cover,  #369ce7 0%,#2982cb 100%); /* IE10+ */
        background: radial-gradient(ellipse at center,  #369ce7 0%,#2982cb 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#369ce7', endColorstr='#2982cb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        margin-left: 10px;
        color: white;
        font-weight: bold;
        border : 0 solid #fff;

        &:hover {
            background: #ffffff; /* Old browsers */
            background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #e7e7e7 100%); /* FF3.6+ */
            background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(100%,#e7e7e7)); /* Chrome,Safari4+ */
            background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#e7e7e7 100%); /* Chrome10+,Safari5.1+ */
            background: -o-radial-gradient(center, ellipse cover,  #ffffff 0%,#e7e7e7 100%); /* Opera 12+ */
            background: -ms-radial-gradient(center, ellipse cover,  #ffffff 0%,#e7e7e7 100%); /* IE10+ */
            background: radial-gradient(ellipse at center,  #ffffff 0%,#e7e7e7 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7e7e7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
            transition : color ease 1s;
            color: #369ce7;
        }
    }

}

.form-horizontal .control-label, .form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0px;
}

.btn{
    text-shadow: 0 1px 0px rgba(0,0,0,0.15);
    box-shadow: 0px -5px 0px 0px rgba(0,0,0,0.1) inset;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,0.1);
    border-bottom: 0;
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    &.active,
    &:focus,
        &:active{
        box-shadow: 0px -1px 0px 0px rgba(0,0,0,0.1) inset;
        border-color: rgba(0,0,0,0.08);
    }
    &:hover{
        box-shadow: 0px -4px 0px 0px rgba(0,0,0,0.1) inset;
        border-color: rgba(0,0,0,0.08);
    }
}
.btn-warning{
    background-color: #f36201 !important;
}
.btn-primary,
.btn-register{
    text-shadow: 0 1px 0px rgba(255,255,255,0.3);
    background-color: rgba(194,214,71, 1);
    color: #444;
    border-bottom: 0;
    &:focus,
        &:active,
        &.active,
        &:hover{
        color: #222;
        background-color: rgba(194,214,71, 0.9);
    }
}

.btn-valid {
    color: #fff;
    background-color: rgba(54,156,231, 1);
    border-color: #2982cb;
    &:hover{
        color: #F1F1F1;
        background-color: rgba(54,156,231, .9);
    }

}
.delete {
    background-color: #F36201 !important;
    border: 0 solid #FFFFFF !important;
    border-radius: 0 !important;
    color: #FFFFFF !important;
    font-weight: bold;
    margin-top: 1em !important;
}
.select {
    width: 100% !important;
}
label {margin-top :5px;}

#terreplurielle_bundle_fobundle_activite_dateDebut,
#terreplurielle_bundle_fobundle_activite_dateFin {
    select {margin-top : 0 !important;}
}
#terreplurielle_bundle_fobundle_activite_observation {margin : 12px 0;}
#terreplurielle_bundle_fobundle_activite_dateDeNaissance select, #terreplurielle_bundle_fobundle_activite_refNiveau,
#terreplurielle_bundle_fobundle_activite_refNiveau, #terreplurielle_bundle_fobundle_activite_dateDebut select,
#terreplurielle_bundle_fobundle_activite_dateFin select {
    margin-bottom: 0;
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    display: block;
    float: left;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    margin-left: 10px;
    margin-top: 10px;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 26.6667%;
}
#terreplurielle_bundle_fobundle_activite_file {
    padding : 0 0;
    margin-bottom: 1em;
}

/* --- icon sprite --- */

.sprite {
    float: left;
    height: 24px;
    margin-left: 0;
    margin-top: 17px;
    position: relative;
    width: 24px;
}

.birthday {background: url("/bundles/fo/img/sprite-ico2.png") no-repeat 0 0;}
.niveau{background: url("/bundles/fo/img/sprite-ico2.png") no-repeat scroll -24px 0px rgba(0, 0, 0, 0);}
.show {background: url("/bundles/fo/img/sprite-ico2.png") no-repeat scroll 0px -24px rgba(0, 0, 0, 0);margin-right: 9px;
       margin-top: 0;}
.edit {background: url("/bundles/fo/img/sprite-ico2.png") no-repeat scroll -24px -24px rgba(0, 0, 0, 0);margin-right: 9px;
       margin-right: 0; margin-top: 0;}

.btn-play, .btn-play-phrase, .btn-save, .btn-negation {width: 42px; height: 42px;}
.btn-play {background: url("/bundles/fo/img/sprite-ico3.png") no-repeat scroll 0px 0px rgba(0, 0, 0, 0);}
.btn-play-phrase {background: url("/bundles/fo/img/sprite-ico3.png") no-repeat scroll -43px 0px rgba(0, 0, 0, 0);}
.btn-save {background: url("/bundles/fo/img/sprite-ico3.png") no-repeat scroll 0px -44px rgba(0, 0, 0, 0);}
.btn-negation{background: url("/bundles/fo/img/sprite-ico3.png") no-repeat scroll -43px -43px rgba(0, 0, 0, 0)}

/* --- css autiste --- */
.panel-autiste {
    background-color: rgba(255, 255, 255, 0.9); 
    border-radius: 4px;
}
#gallery {
    margin-bottom: 10px;
    min-height: 120px;
    &:after{
        content: " ";
        display: table;
    }
}
#gallery, #ul-theme { 
    z-index: 1;
    position: relative;
    &:after,&:before{
        content: " ";
        display: block;
        width: 100%;
    }
}
.gallery.custom-state-active { 
    background: #eee; 
}
#gallery li, #ul-theme li { 
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.gallery li:hover { 
    cursor: move;
}
.gallery li, .theme-gal li { 
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    float: left;
    text-align: center; 
}
.theme-gal li:hover {
    cursor: pointer;
}
.theme-pictos { }
.picto-mot, .picto-phrase {
    margin: auto;
}
#box {
    padding: 8px 0;
    min-height: 80px;
    margin-bottom: 20px;
    border: 3px dashed rgba(0,0,0,0.1) !important;
    background: rgba(0,0,0, 0.05) !important;
    position: relative;
    margin-top: 10px;
    &:before,&:after{
        content: " ";
        display: table;
        width: 100%;
        clear: both;
    }
}
.picto-div,
.theme-picto-div {
    text-align: center;
    min-height: 160px;
    max-height: 160px;
    padding: 10px;
    img{
        height: 120px;
        width: 120px;
    }
}
.ui-state-default,
.choice-theme{
    margin-bottom: 10px;
    background: none repeat scroll 0 0 #f5f5f5 !important;
    border: 1px solid #e3e3e3 !important;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}
.ui-state-default{
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5) !important;
}
.panel-autiste .thumbnail{
    background-color: rgba(248,250,236,0.8) !important;
    border-radius: 0;
    margin-bottom: 0px;
    font-family: boli;
    font-size: 20px;
    text-align: center;
    position: relative;
}
.picto-image{}
.picto-p {}
.zone-text {
    display: inline-block;
}
#zone-text {
    text-align: center;
    button{
        i{
            font-size: 1.2em;
        }
        &:nth-of-type(3) {
            border-radius: 0 4px 4px 0;
        }
    }
    &.n3{
        button{
            &:nth-of-type(3) {
                border-radius: 0;
            }
            &:nth-of-type(4) {
                border-radius: 0 4px 4px 0;
            }
        }
    }
}

.highlight { 
    background-color: yellow; 
}

#div-phrase-composee {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #47C5E5;
    font-family: hobo;
    font-size: 18px;
    // margin-top: 1em;
    min-height: 30px;
    text-align: center;	
    p {
        margin: 5px 0 !important;
    }
}

// ======= niveau II ========
.toggler { 
    width: 50%; 
    height: 200px; 
}
#button { 
    padding: .5em 1em; 
    text-decoration: none; 
}
#effect { 
    width: 80%; 
    height: 180px; 
    padding: 0.4em; 
    position: relative; 
    margin: auto;
}
#effect h3 { 
    margin: 0; 
    padding: 0.4em; 
    text-align: center; 
}   

.ui-widget-content {
    border: 1px solid #AAAAAA;
    color: #222222;
    background: white;
    border: 0 solid #AAAAAA;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    background: none repeat scroll 0 0 #FFFFFF;
    color: gray;
}
.bg {background-color: white; padding: 1em;}
/* --- Footer --- */

footer{
    z-index: 0;
    margin-top: 1em;
    padding: 20px 0;
}
/*{ 
        padding: 8px 0;
        min-height: 80px;
        margin-bottom: 20px;
        border: 3px dashed rgba(0,0,0,0.1) !important;
        background: rgba(0,0,0, 0.05) !important;
        position: relative;
        margin-top: 10px;
        &:before,&:after{
                content: " ";
                display: table;
                width: 100%;
                clear: both;
        }
}*/
.picto-div {
    min-height: 160px;
    max-height: 160px;
    min-width: 100px;
    padding: 10px;
    img{
        max-height: 100px;
    }
}
.ui-state-default,
.choice-theme{
    margin-bottom: 10px;
    background: none repeat scroll 0 0 #f5f5f5 !important;
    border: 1px solid #e3e3e3 !important;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}
.ui-state-default{
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5) !important;
}
.panel-autiste .thumbnail{
    background-color: rgba(248,250,236,0.8) !important;
    border-radius: 0;
    margin-bottom: 0px;
    font-family: boli;
    font-size: 20px;
    text-align: center;
    position: relative;
}
.picto-image{}
.picto-p {}
.zone-text {
    display: inline-block;
}
#zone-text {
    text-align: center;
    button{
        i{
            font-size: 1.2em;
        }
        &:nth-of-type(3) {
            border-radius: 0 4px 4px 0;
        }
    }
    &.n3{
        button{
            &:nth-of-type(3) {
                border-radius: 0;
            }
            &:nth-of-type(4) {
                border-radius: 0 4px 4px 0;
            }
        }
    }
}

.highlight { 
    background-color: yellow; 
}
.theme-picto-div {
    text-align: center;
    min-height: 160px;
    max-height: 160px;
    min-width: 100px;
    padding: 10px;
    img{
        max-height: 100px;
    }
}

#div-phrase-composee {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #47C5E5;
    font-family: hobo;
    font-size: 18px;
    // margin-top: 1em;
    min-height: 30px;
    text-align: center;	
    p {
        margin: 5px 0 !important;

    }
}

// ======= niveau II ========
.toggler { 
    width: 50%; 
    height: 200px; 
}
#button { 
    padding: .5em 1em; 
    text-decoration: none; 
}
#effect { 
    width: 80%; 
    height: 180px; 
    padding: 0.4em; 
    position: relative; 
    margin: auto;
}
#effect h3 { 
    margin: 0; 
    padding: 0.4em; 
    text-align: center; 
}   

.ui-widget-content {
    border: 1px solid #AAAAAA;
    color: #222222;
    background: white;
    border: 0 solid #AAAAAA;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    background: none repeat scroll 0 0 #FFFFFF;
    color: gray;
}
.bg {background-color: white; padding: 1em;}
/* --- Footer --- */

footer{
    z-index: 0;
    margin-top: 1em;
    padding: 20px 0;
}

/* --- Bouton help --- */
#div-button-help{
    padding: 19px;
    margin-bottom: 20px;
}