{% extends '::base.html.twig' %}
{% block body %}

<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<div class="panel panel-info panel-connexion">
			{# L'utilisateur est-il connecté ? #}
			{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
				{# L'utilisateur est connecté ! #}

				{# L'utilisateur est-il admin ? #}
				{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EDUCATEUR') or is_granted('ROLE_PARENT')%}
					{# L'utilisateur est admin ou educateur ou parent! #}
					
			<div class="panel-heading">
				<h2 class="panel-title">Sélectionnez un enfant</h2>
			</div>
			<div class="panel-body">
				<form action="{{ path('fo_homepage') }}" method="post" {{ form_enctype(formSelect) }}>

						{{ form_errors(formSelect) }}

						<div class="form-group">
						  {{ form_label(formSelect.id, "Son nom, prénom et sa date de Naissance:") }}
						  {{ form_errors(formSelect.id) }}
						  {{ form_widget(formSelect.id, { 'attr': {'class': 'form-control'} }) }}
						</div>

						{{ form_rest(formSelect) }}
						<input type="submit" class="btn btn-valid" value="Valider le choix"/>
					
				</form>
					<hr/>
					{# === Add a child === #}
					<a href="{{ path('home_add_enfant') }}"><input type="button" class="btn btn-register" value="Ajouter un nouvel enfant"/></a>
					<div>
						{% block addEnfant %}{% endblock %}
					</div>
					{% endif %}
			</div>
		</div>
	</div>
</div>
    {% else %}
        {# L'utilisateur n'est pas connecté ! #}
    {% endif %}
{% endblock %}