{% extends '::base.html.twig' %}
{% block body %}


    <div class="row">
		{% if enfant is defined %}
        {# ===== Avatar ===== #}
		<div class="media col-md-10 col-md-offset-2">
		  <span class="pull-left col-md-2 col-sm-3 col-xs-4 col-lg-2">
			{% if enfant.avatar != '' %}
                <img src="{{ asset('/uploads/images/enfant/'~enfant.avatar )}}" class="img-thumbnail img-responsive"/>
            {% else %}
                <img src="{{ asset('/uploads/images/enfant/default_avatar.png')}}"/>
            {% endif %}
		  </span>
			  <div class="media-body">
					<div class="col-md-4 col-lg-9 col-xs-12 col-sm-12">
					<h4>{{enfant.prenom|capitalize}} {{enfant.nom|upper}}</h4>
					<h5>
						{% set age = "now"|date('Y') - enfant.dateDeNaissance|date('Y') %}
						{{age}} ans ({{enfant.dateDeNaissance|date('d/m/Y')}})
					</h5>
					</div>
					<div class="col-md-9 col-lg-4 col-xs-12 col-sm-12">
						{% if pptg is defined %}
							{% set taux = pptg %}
						{% else %}
							{% set taux = 0 %}
						{% endif %}
						
						<div class="progress progress-striped active">
						  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{taux}}" aria-valuemin="0" aria-valuemax="100" style="width: {{taux}}%;">
							Niveau {{app.session.get('currentNiveau')}}
						  </div>
						</div>
					</div>
			  </div>
		  
		</div>
        
        {# ===== Info basic ===== #}
            <hr />
		 <div class="col-md-5 col-md-offset-7 col-md-6 col-md-offset-8">
			<div class="col-lg-7">
			{% if app.session.get('enfant') != null  %}
				<a href="{{ path('fo_reset_enfant') }}" class="btn btn-valid">Sélectionner un autre enfant</a> 
			</div>
			<div class="col-lg-7">
				{% set enfantId = app.session.get('enfant').getId() %}         
					<a href="{{ path('enfant_edit', {'id':enfantId}) }}"><button class="btn btn-register">Editer informations</button></a> 
			{% endif %}
			</div>
		 </div>
        {# ===== Actions ===== #}
        {#<div class="col-md-12 inline">
            <a href="{{ path('communication') }}"><button class="btn btn-link">Echange</button></a>
            <a href="{{ path('planning') }}"><button class="btn btn-link">Emploi du temps</button></a>
            <a href="{{ path('socialisation') }}"><button class="btn btn-link">Exercices</button></a>
            <a href="{{ path('gestion') }}"><button class="btn btn-link">Gestion</button></a>
        </div>#}
        {% endif %}
    </div>
{% endblock %}