{% extends "FoBundle:Gestion:index.html.twig" %}

{% block javascripts %}
{{ parent() }}
<script>
    $('#file-upload').find('input').change(function(){
        var fileName = $(this).val().split('/').pop().split('\\').pop();;
        var inputText =  $('#file-name').find('input');
        
        inputText.removeAttr('readonly');
        inputText.val(fileName);
        inputText.attr('readonly', 'readonly');

        console.log(inputText.val());
    });
</script>
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	<style>
	.panel-connexion {margin-top: 5%;}
	</style>
{% endblock %}

{% block gst_contents -%}
<div class="panel panel-info panel-connexion">
	
	<div class="panel-heading">
		<h2 class="panel-title">Editer un pictogramme</h2>
	</div>
	<div class="panel-body">
		{#{{ form(edit_form) }}#}
		{{form_start(edit_form)}}
		{{ form_errors(edit_form) }}

		<div class="form-group hidden">
		  {{ form_label(edit_form.refEnfant, "Pour enfant:") }}
		  {{ form_errors(edit_form.refEnfant) }}
		  {{ form_widget(edit_form.refEnfant, { 'attr': {'class': 'form-control'} }) }}	
		</div>  

		<div class="form-group">
		  {{ form_label(edit_form.refPictogramme, "Mot:") }}
		  {{ form_errors(edit_form.refPictogramme) }}
		  {{ form_widget(edit_form.refPictogramme, { 'attr': {'class': 'form-control'} }) }}
		</div>  
		
		<div class="form-group" id="file-upload">
		  {{ form_label(edit_form.file, "Fichier image:") }}
		  {{ form_errors(edit_form.file) }}
		  {{ form_widget(edit_form.file) }}
		</div> 

		<div class="form-group" id="file-name">
		  {{ form_label(edit_form.url, "Nom d'image:") }}
		  {{ form_errors(edit_form.url) }}
		  {{ form_widget(edit_form.url, { 'attr': {'class': 'form-control'} }) }}
		</div>
		  
		<hr>
		<div class="row">
			<div class="col-sm-4">
				<div class="form-group" id="">
				  {{ form_label(edit_form.submit, "Mettre à jour:") }}
				  {{ form_widget(edit_form.submit, { 'attr': {'class': 'btn btn-register btn-block'} }) }}  
				</div>
				{#{{form_start(delete_form)}}
				{{ form_errors(delete_form) }}#}
			</div>
			<div class="col-sm-4">
				<div class="form-group" id="">
				{#{{ form(delete_form) }}#}
				  {{ form_label(delete_form.submit, "Supprimer:") }}
				  {{ form_widget(delete_form.submit, { 'attr': {'class': 'btn btn-warning btn-block'} }) }}
				</div>
				{#{{ form_rest(delete_form) }}
				{{ form_end(delete_form) }}#}
			</div>
			<div class="col-sm-4">
				<a href="{{ path('image') }}"  class="btn btn-info btn-block"><i class="fa fa-reply"></i> Revenir à la liste</a>
				{{ form_rest(edit_form) }}
				{{ form_end(edit_form) }}
			</div>
		</div>


	</div>
</div>
{% endblock %}

