{% extends "FoBundle:Gestion:index.html.twig" %}
{% block stylesheets %}
	{{parent()}}
	<style>
	.btn-register { margin-bottom: 2px;}
	.panel-connexion {margin-top: 10px;}
	</style>
{% endblock %}

{% block gst_contents -%}
	<div class="panel panel-info">
		<div class="panel-heading">
			<h2 class="panel-title">Liste des pictogrammes</h2>
			<a href="{{ path('image_new') }}" class="btn btn-register"><i class="fa fa-plus"></i> Ajouter un pictogramme</a>
		</div>
		<div class="panel-body">
			<div class="table-responsive">
				<table class="records_list table table-responsive table-bordered table-condensed table-striped">
					<thead>
						<tr class="btn-primary">
							<th>Id</th>
							<th>Image</th>
							<th>Pour Mot</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
					{% for entity in entities %}
						<tr>
							<td><a href="{{ path('image_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
							<td>
								<img src="{{ asset('/uploads/images/img-perso/'~entity.url )}}" class="img-thumbnail img-responsive" style=" width: 25%; height: auto; " />
							</td>
							<td>{{ entity.refPictogramme.refMot }}</td>
							<td>
								<span class="btn-group">
									<a href="{{ path('image_show', { 'id': entity.id }) }}" class="btn btn-info"><i class="fa fa-eye"></i></a>
									<a href="{{ path('image_edit', { 'id': entity.id }) }}" class="btn btn-warning"><i class="fa fa-edit"></i></a>
								</span>
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
                                {# display navigation #}
                                <div class="navigation">
                                    {{ knp_pagination_render(entities) }}
                                </div>
			</div>
		</div>
	</div>
{% endblock %}
