{% extends "FoBundle:Gestion:index.html.twig" %}

{% block javascripts %}
{{ parent() }}
<script>
    $('#file-upload').find('input').attr('required', 'required');
    $('#file-upload').find('input').change(function(){
        var fileName = $(this).val().split('/').pop().split('\\').pop();;
        var inputText =  $('#file-name').find('input');
        
        inputText.removeAttr('readonly');
        inputText.val(fileName);
        inputText.attr('readonly', 'readonly');
    });
</script>
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	<style>
	.panel-connexion {margin-top: 5%;}
	</style>
{% endblock %}

{% block gst_contents -%}
<div class="panel panel-info">
	
	<div class="panel-heading">
		<h2 class="panel-title">Ajouter un pictogramme</h2>
	</div>
	<div class="panel-body">

		{#{{ form(form) }}#}

		{{form_start(form)}}
		{{ form_errors(form) }}

			<div class="form-group hidden">
			  {{ form_label(form.refEnfant, "Pour enfant:") }}
			  {{ form_errors(form.refEnfant) }}
			  {{ form_widget(form.refEnfant, { 'attr': {'class': 'form-control'} }) }}
			</div>

			<div class="form-group">
			  {{ form_label(form.refPictogramme, "Mot:") }}
			  {{ form_errors(form.refPictogramme) }}
			  {{ form_widget(form.refPictogramme, { 'attr': {'class': 'form-control'} }) }}
			</div>

			<div class="form-group" id="file-upload">
			  {{ form_label(form.file, "Fichier image:") }}
			  {{ form_errors(form.file) }}
			  {{ form_widget(form.file) }}
			</div>  

			<div class="form-group hidden" id="file-name">
			  {{ form_label(form.url, "Nom d'image:") }}
			  {{ form_errors(form.url) }}
			  {{ form_widget(form.url, { 'attr': {'class': 'form-control'} }) }}
			</div>

			<hr>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						{{ form_label(form.submit, "Ajouter") }}
						{{ form_widget(form.submit, { 'attr': {'class': 'btn btn-register btn-block'} }) }}
					</div>
				</div>
				<div class="col-sm-6">
					<a href="{{ path('image') }}"  class="btn btn-info btn-block"><i class="fa fa-reply"></i> Revenir à la liste</a>
				</div>
			</div>
		{{ form_rest(form) }}
		{{ form_end(form) }}
	</div>
</div>
{% endblock %}
