{% extends "FoBundle:Gestion:index.html.twig" %}
{% block stylesheets %}
	{{parent()}}
	<style>
	.btn-register { margin-bottom: 2px;}
	.panel-connexion {margin-top: 10px;}
	</style>
{% endblock %}

{% block gst_contents -%}
<div class="panel panel-info panel-connexion">
	<div class="panel-heading">
		<h2 class="panel-title">Détails du pictogramme</h2>
	</div>
	<div class="panel-body">
		<div class="table-responsive">
			<table class="record_properties table">
				<tbody>
					<tr>
						<th>Id</th>
						<td>{{ entity.id }}</td>
					</tr>
					<tr>
						<th>Image</th>
						<td><div  class="col-md-6 thumbnail" style="max-width: 100px;"><img src="{{ asset('/uploads/images/img-perso/'~entity.url) }}"/></div></td>
					</tr>
					<tr>
						<th>Pour mot</th>
						<td>{{entity.refPictogramme.refMot}}</td>
					</tr>
				</tbody>
			</table>

			<div class="row">
				<div class="col-md-4">
					<a href="{{ path('image') }}" class="btn btn-default btn-block"><i class="fa fa-reply"></i> Revenir vers la liste</a>
				</div>
				<div class="col-md-4">
					<a href="{{ path('image_edit', { 'id': entity.id }) }}" class="btn btn-valid btn-block"><i class="fa fa-pencil-square-o"></i>  Editer</a>
				</div>
				<div class="col-md-4">
					{{form_start(delete_form)}}
					{{ form_errors(delete_form) }}
					{{ form_label(delete_form.submit, "Supprimer:") }}
					{{ form_widget(delete_form.submit, { 'attr': {'class': 'btn btn-warning btn-block'} }) }}
					{{ form_rest(delete_form) }}
					{{ form_end(delete_form) }}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
