@media(max-width:767px) {  
	.col-bt-connexion { 
		width: 100% !important;
		padding-left: 15px;
		padding-right: 15px;
		position: relative !important;}
	.col-bt-connexion input { height: 44px; width: 100% !important;}
	
	.panel-connexion {padding-top: 1em;}
	
	.ul-menu {
	 display: inline-block;
    left: 0 !important;
    position: fixed !important;
    width: 153px;
}
#terreplurielle_bundle_fobundle_activite_dateDeNaissance select, #terreplurielle_bundle_fobundle_activite_refNiveau {
    margin-left: 2px;
    padding: 6px 4px;
    width: 28%;
}
	}
	
