{% extends "FoBundle:Gestion:index.html.twig" %}

{% block javascripts %}
{{ parent() }}
<script>
    // select refEnfant by default
    $('select.option-selected').find('option').attr('selected', 'selected');
    $('select.option-selected').parent('div').css('display' , 'none');
</script>
{% endblock %}

{% block gst_contents -%}
{% block stylesheets %}
	{{parent()}}
	<style>
	.panel-connexion {margin-top: 10%;}
	</style>
{% endblock %}
		<div class="panel panel-info">
			
			<div class="panel-heading">
				<h2 class="panel-title">Editer l'activité</h2>
			</div>
			<div class="panel-body">

				{{form_start(edit_form)}}
				{{ form_errors(edit_form) }}

				<div class="form-group row">
					<div class="col-md-6 col-sm-6">
						{{ form_label(edit_form.titre, "Titre:") }}
						{{ form_errors(edit_form.titre) }}
						{{ form_widget(edit_form.titre, { 'attr': {'class': 'form-control', 'placeholder' : 'Titre'} }) }}
					</div>
					<div id="">
						<div class="col-md-6 col-sm-6">
							{{ form_label(edit_form.refPictogramme, "Pictogramme:") }}
							{{ form_errors(edit_form.refPictogramme) }}
							{{ form_widget(edit_form.refPictogramme, { 'attr': {'class': 'form-control'} }) }}
						</div>  
					</div>
				</div>
				
				
				<div class="form-group hidden" id="">
					<div class="col-md-6 col-sm-6">
				  {{ form_label(edit_form.refEnfant, "Enfant") }}
				  {{ form_errors(edit_form.refEnfant) }}
				  {{ form_widget(edit_form.refEnfant, { 'attr': {'class': 'form-control option-selected'} }) }}
				  </div>
				</div>  
				
				<div class="form-group row">
					<div class="col-md-6 col-sm-6">
						{{ form_label(edit_form.dateDebut, "Date début:") }}
						{{ form_errors(edit_form.dateDebut) }}
						{{ form_widget(edit_form.dateDebut, { 'attr': {'class': ''} }) }}
					</div>
					<div id="">
						<div class="col-md-6 col-sm-6">
						{{ form_label(edit_form.dateFin, "Date Fin:") }}
						{{ form_errors(edit_form.dateFin) }}
						{{ form_widget(edit_form.dateFin) }}
						</div>
					</div>
				</div>  

				<div class="form-group" id="">
					<div class="checkbox">
						{{ form_label(edit_form.statut, "L'activité est INDISPONIBLE") }}
						{{ form_errors(edit_form.statut) }}
						{{ form_widget(edit_form.statut, { 'attr': {'class': ''} }) }}
					</div>
				</div>  

				<div class="form-group">
					<div class="col-sm-4">
						{{ form_label(edit_form.submit, "Mettre à jour:") }}
						{{ form_widget(edit_form.submit, { 'attr': {'class': 'btn btn-block btn-register'} }) }}
					</div> 

					{{ form_rest(edit_form) }}
					{{ form_end(edit_form) }}
					<div class="col-md-4">
                                                {{form_start(delete_form)}}
                                                {{ form_errors(delete_form) }}
                                                {{ form_label(delete_form.submit, "Supprimer:") }}
                                                {{ form_widget(delete_form.submit, { 'attr': {'class': 'btn btn-warning btn-block'} }) }}
                                                {{ form_rest(delete_form) }}
                                                {{ form_end(delete_form) }}
                                        </div>
					<div class="col-sm-4">
						<a href="{{ path('activite') }}"  class="btn btn-default btn-block"><i class="fa fa-reply"></i> Revenir à la liste</a>
					</div>
				</div>
			
			</div>
		</div>
{% endblock %}

