{% extends "FoBundle:Gestion:index.html.twig" %}
{% block stylesheets %}
	{{parent()}}
	<style>
	.btn-register { margin-bottom: 2px;}
	.panel-connexion {margin-top: 10px;}
	</style>
{% endblock %}

{% block gst_contents -%}
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 style="color:white">Liste des Activités 
				<a href="{{ path('activite_new') }}" class="btn btn-register pull-right"><i class="fa fa-plus"></i> Créer une activité</a>
			</h3>
		</div>
		<div class="panel-body">

			<div class="table-responsive">
				<table class="table table-striped table-condensed">
					<thead>
						<tr class="btn-primary">
							<th>Id</th>
                                                        <th>Titre</th>
							<th>Date début</th>
							<th>Date fin</th>
							<th>Statut</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
					{% for entity in entities %}
						<tr>
                                                    <td><kbd><a href="{{ path('activite_show', { 'id': entity.id }) }}" style="color:white; width:20px; text-decoration:none;">{{ entity.id }}</a></kbd></td>
							<td>{{ entity.titre }}</td>
							<td>{% if entity.dateDebut %}{{ entity.dateDebut|date('d/m/Y') }} à {{ entity.dateDebut|date('H:i') }}{% endif %}</td>
							<td>{% if entity.dateFin %}{{ entity.dateFin|date('d/m/Y') }} à {{ entity.dateFin|date('H:i') }}{% endif %}</td>
							<td>
								{%set le_statut = entity.statut %}
                                                        	{% if le_statut == 1 %} 
                                                                	Indisponible
                                                        	{% elseif le_statut == 0 %}
                                                                	Disponible
                                                        	{% endif %}
							</td>
							<td>
								<span class="btn-group">
									<a href="{{ path('activite_show', { 'id': entity.id }) }}" class="btn btn-info"><i class="fa fa-eye"></i></a>
									<a href="{{ path('activite_edit', { 'id': entity.id }) }}" class="btn btn-warning"><i class="fa fa-edit"></i></a>
								</span>
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
                                {# display navigation #}
                                <div class="navigation">
                                    {{ knp_pagination_render(entities) }}
                                </div>
			</div>
		</div>
	</div>
{% endblock %}
