{% extends "FoBundle:Gestion:index.html.twig" %}

{% block javascripts %}
{{ parent() }}
<script>
    // select refEnfant by default
    $('select.option-selected').find('option').attr('selected', 'selected');
    $('select.option-selected').parent('div').css('display', 'none');
</script>
{% endblock %}

{% block gst_contents -%}
{% block stylesheets %}
	{{parent()}}
<style>
    .panel-connexion {margin-top: 10%;}
</style>
{% endblock %}

<div class="sonata-user-show">
    <div class="panel panel-info">

        <div class="panel-heading">
            <h2 class="panel-title">Créer une activité</h2>
        </div>
        <div class="panel-body">

                        {#{{ form(form) }}#}

                        {{form_start(form)}}
                        {{ form_errors(form) }}

            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                          {{ form_label(form.titre, "Titre:") }}
                                  {{ form_errors(form.titre) }}
                                  {{ form_widget(form.titre, { 'attr': {'class': 'form-control', 'placeholder' : 'Titre'} }) }}
                </div>
            </div>

            <div class="col-md-6 col-sm-6">
                <div class="form-group" id="">
                          {{ form_label(form.refPictogramme, "Pictogramme:") }}
                          {{ form_errors(form.refPictogramme) }}
                          {{ form_widget(form.refPictogramme, { 'attr': {'class': 'form-control'} }) }}
                </div>  
            </div>

            <div class="">
                <div class="form-group hidden" id="">
                          {{ form_label(form.refEnfant, "Enfant") }}
                          {{ form_errors(form.refEnfant) }}
                          {{ form_widget(form.refEnfant, { 'attr': {'class': 'form-control option-selected'} }) }}
                </div>
            </div>  
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                          {{ form_label(form.dateDebut, "Date début:") }}
                          {{ form_errors(form.dateDebut) }}
                          {{ form_widget(form.dateDebut, { 'attr': {'class': ''} }) }}
                    </div>
                </div>  

                <div class="col-md-6 col-sm-6">
                    <div class="form-group" id="">
                          {{ form_label(form.dateFin, "Date Fin:") }}
                          {{ form_errors(form.dateFin) }}
                          {{ form_widget(form.dateFin) }}
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="form-group checkbox" id="">
                          {{ form_label(form.statut, "L'activité est INDISPONIBLE") }}
                          {{ form_errors(form.statut) }}
                          {{ form_widget(form.statut, { 'attr': {'class': ''} }) }}
                </div>
            </div>  

            <div class="form-group row">
                <div class="col-sm-6">
                          {{ form_label(form.submit, "Ajouter") }}
                          {{ form_widget(form.submit, { 'attr': {'class': 'form-control btn-register'} }) }}
                </div>
                <div class="col-sm-6">
                    <a href="{{ path('activite') }}"  class="btn btn-block btn-info"><i class="fa fa-reply">
                        </i> Revenir sur le planning 
                    </a>
                </div>
            </div>

                                {{ form_rest(form) }}
                                {{ form_end(form) }}

        </div>
    </div>
</div>
{% endblock %}
