{% extends "FoBundle:Gestion:index.html.twig" %}

{% block gst_contents -%}
{% block stylesheets %}
	{{parent()}}
	<style>
	.btn-register { margin-bottom: 2px;}
	.panel-connexion {margin-top: 10px;}
	</style>
{% endblock %}
<div class="panel panel-info">
	<div class="panel-heading">
		<h2 class="panel-title">Les détails de l'activité </h2>
	</div>
	<div class="panel-body">
		<div class="table-responsive">

			<table class="table-responsive table table-striped table-condensed record_properties">
				<tbody>
					<tr>
						<th>Id</th>
						<td>{{ entity.id }}</td>
					</tr>
					<tr>
						<th>Titre</th>
						<td>{{ entity.titre }}</td>
					</tr>
					<tr>
						<th>Datedebut</th>
						<td>{{ entity.dateDebut|date('d/m/Y') }} à {{ entity.dateDebut|date('H:i') }}</td>
					</tr>
					<tr>
						<th>Datefin</th>
						<td>{{ entity.dateFin|date('d/m/Y') }} à {{ entity.dateFin|date('H:i') }}</td>
					</tr>
					<tr>
						<th>Statut</th>
						<td>
							{%set le_statut = entity.statut %}
                                                    	{% if le_statut == 1 %}
                                                        	Indisponible
                                                    	{% elseif le_statut == 0 %}
                                                        	Disponible
                                                    	{% endif %}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-4">
				<a href="{{ path('activite_edit', { 'id': entity.id }) }}"  class="btn btn-valid btn-block"><i class="fa fa-edit"></i>  Editer</a>
			</div>
			<div class="col-md-4">
				{{form_start(delete_form)}}
				{{ form_errors(delete_form) }}
				{{ form_label(delete_form.submit, "Supprimer:") }}
				{{ form_widget(delete_form.submit, { 'attr': {'class': 'btn btn-warning btn-block'} }) }}
				{{ form_rest(delete_form) }}
				{{ form_end(delete_form) }}
			</div>
			<div class="col-md-4">
				<a href="{{ path('activite') }}"  class="btn btn-default btn-block"><i class="fa fa-reply"></i> Revenir à la liste</a>
			</div>
		</div>
	</div>
</div>
        <ul class="record_actions">
    <li>
        
    </li>
    <li>
		
        
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
