<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Autiste de terre plurielle{% endblock %}</title>
        {% block stylesheets %}            
            <link href="{{ asset('/bundles/fo/css/bootstrap.min.css') }}" rel="stylesheet" />
            <link href="{{ asset('/bundles/fo/css/bootstrap-responsive.min.css') }}" rel="stylesheet" />
{#             {% stylesheets '@bootstrap_less' combine=true %}
                <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
             {% endstylesheets %} #}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <style type="text/css">
            body{
                margin-top: 50px;
            }
        </style>
    </head>
    <body>
        <header class="navbar navbar-default navbar-fixed-top bs-docs-nav" role="banner">
            <div class="container">
                {# Si un utilisateur est connecté, afficher des liens à droite #}
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <ul class="nav navbar-nav navbar-right">
                        {% if is_granted('ROLE_ADMIN') %}
                                <li><a href="{{ path('sonata_admin_dashboard') }}" target="_self">Administration <i class="glyphicon glyphicon-wrench"></i></a></li>
                        {% endif %}
                        <li class="dropdown">
                        <a href="#"  class="dropdown-toggle" data-toggle="dropdown">{{ app.user.username | capitalize }} <i class="glyphicon glyphicon-chevron-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('fos_user_profile_show') }}">Profil <i class="glyphicon glyphicon-user"></i></a></li>
                            <!-- <li class="divider"></li> -->
                            <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion <i class="glyphicon  glyphicon-log-out"></i></a></li>
                        </ul>
                        </li>
                    </ul>
                {% endif %}
                <nav class="navbar-collapse bs-navbar-collapse" role="navigation">
                    <ul class="nav navbar-nav">
                        <li class=""><a href="{{ path('fo_homepage') }}">Accueil</a></li>
                        <li class=""><a href="{{ path('communication') }}">Communication</a></li>
                        <li class=""><a href="{{ path('planning_view') }}">Planning</a></li>
                        <li class=""><a href="{{ path('socialisation') }}">Socialisation</a></li>
                        {#  si Enfant est selectionné et enregistré dans la session  #}
                        {% if app.session.get('enfant') %}
                        <li class="dropdown">
                        <a href="#"  class="dropdown-toggle" data-toggle="dropdown">Historique </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('his_commu') }}">Communication </a></li>
                            <!-- <li class="divider"></li> -->
                            <li><a href="{{ path('his_social') }}">Socialisation </a></li>
                        </ul>
                        </li>
                        {% endif %}
                        {# Gestion front office #}
                        <li class="dropdown">
                        <a href="#"  class="dropdown-toggle" data-toggle="dropdown">Gestion </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('ges_enfant') }}">Enfant </a></li>
                            <!-- <li class="divider"></li> -->
                            <li><a href="{{ path('ges_activite') }}">Activité </a></li>
                        </ul>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {# User logged in #}
                        {# Defined in upper block #}    
                        {% else %}
                        {# User NOT logged in #}
                            <li><a href="{{ path('fos_user_security_login') }}">Connexion <i class="glyphicon  glyphicon-log-in"></i></a></li>
                            <li><a href="{{ path('fos_user_registration_register') }}">Inscription <i class="glyphicon glyphicon-user"></i></a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </header>
        
        <br >

        <div class="container">
            <div id="flash-message">
                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="alert alert-info alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        {{ flashMessage }}
                    </div>
                {% endfor %}
            </div>
            
            {% block body %}{% endblock %}
        </div>
        <hr>
        <div id="footer">
            <div class="container">
            <p class="text-muted">By Umanteam</p>
            </div>
        </div>
        {% block javascripts %}
{#             {% javascripts '@jquery_js' '@bootstrap_js' filter='?yui_js' combine=true %}
                 <script src="{{ asset_url }}"></script>
              {% endjavascripts %} #}
            <script src="{{ asset('/bundles/fo/js/jquery-1.9.1.js') }}"></script>
            <script src="{{ asset('/bundles/fo/js/jquery-ui-1.10.3.js') }}"></script>
            <script src="{{ asset('/bundles/fo/js/jquery-highlight1.js') }}"></script>
            <script src="{{ asset('/bundles/fo/js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>