<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Autiste de terre plurielle{% endblock %}</title>
        {% block stylesheets %}            
            <link href="{{ asset('/bundles/fo/css/bootstrap.theme.min.css') }}" rel="stylesheet" />
            <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
            <link href="{{ asset('/bundles/fo/css/bootstrap.min.css') }}" rel="stylesheet" />
            {# <link href="{{ asset('/bundles/fo/css/bootstrap-responsive.min.css') }}" rel="stylesheet" /> #}
			<link href="{{ asset('/bundles/fo/css/custom-responsive.css') }}" rel="stylesheet" />
			<link href="{{ asset('/bundles/fo/css/normalize.css') }}" rel="stylesheet" />
			<link href="{{ asset('/bundles/fo/css/custom.css') }}" rel="stylesheet" />
			<link href="{{ asset('/bundles/fo/css/normalize.css') }}" rel="stylesheet" />
			<link href="{{ asset('/bundles/fo/css/icons.css') }}" rel="stylesheet" />
			{% stylesheets debug=false filter='lessphp' '@FoBundle/Resources/public/less/global.less'%}
				<link rel="stylesheet" media="screen" href="{{ asset_url }}" />
			{% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
		<div class="container">
			
            <div id="flash-message">
                {# notice flash message #}
                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="alert alert-info alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                {# success flash message #}
                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                {# warning flash message #}
                {% for flashMessage in app.session.flashbag.get('warning') %}
                    <div class="alert alert-warning alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                {# danger flash message #}
                {% for flashMessage in app.session.flashbag.get('danger') %}
                    <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        {{ flashMessage }}
                    </div>
                {% endfor %}
            </div>

			{% block navblock %}
				{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                <div class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="{{ path('fo_homepage') }}" >Autiste de terre pluriel</a>
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li ><a href="{{ path('fo_homepage') }}" ><i class="fa fa-home"></i> Accueil</a></li>
                                <li><a href="{{ path('fos_user_profile_edit') }}"><i class="fa fa-pencil-square-o"></i> {{ app.user.username | capitalize }}</a></li>
                                {% if is_granted('ROLE_ADMIN') %}
                                <li><a href="{{ path('sonata_admin_dashboard') }}" target="blanck"><i class="fa fa-tachometer"></i> Paneau d'administration</a></li>
                                {% endif %}
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-power-off"></i> Déconnexion</a></li>
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div><!--/.container-fluid -->
                </div>
	            {% endif %}
            {% endblock %}
            <div class="row">
                <div class="col-md-3">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <div id="block-info-enfant" class="well well-inverse">
                        {% block side %}
                            {# {% if enfant is defined %} #}
                            {% block infoenfant %}
                                {% if pptg is defined %} {% set taux = pptg %} {% else %} {% set taux = 0 %} {% endif %}
                                
                                
                                {% if app.session.get('enfant') != null  %}
                                    
                                    {% set _enfant = app.session.get('enfant') %}
                                    {% set enfantId = _enfant.id %}
                                    {% set enfantNom = _enfant.nom %}
                                    {% set enfantPrenom = _enfant.prenom %}
                                    {% set age = "now"|date('Y') - _enfant.dateDeNaissance|date('Y') %} 
                                    {% set dateDeNaissance = _enfant.dateDeNaissance|date('d/m/Y') %}

                                    {% if _enfant.avatar != '' %}
                                        {% set _enfantImg = _enfant.avatar %}
                                    {% else %}
                                        {% set _enfantImg = "default_avatar.png" %}
                                    {% endif %}

                                    <div class="media">
                                        <a class="pull-left" href="{{ path('enfant_edit', {'id':enfantId}) }}">
                                            <img src="{{ asset('/uploads/images/enfant/'~_enfantImg )}}" class="img-thumbnail img-responsive" style="max-width:95px !important"/>
                                        </a>
                                        <div class="media-body">
                                            <h4 class="media-heading">{{ enfantPrenom|capitalize }} {{ enfantNom|upper }}</h4>
                                            {{age}} ans
                                        </div>
                                    </div>
                                    <br>
                                    {% if app.session.get('currentNiveau') != null  %}
                                        {% set enfantNiveau = app.session.get('currentNiveau') %}
                                        <strong>Niveau </strong>
                                        {% if enfantNiveau == '1' %}
                                            <span class="star-count"><i class="fa fa-star"></i></span>
                                            <span class="star-count"><i class="fa fa-star-o"></i></span>
                                            <span class="star-count"><i class="fa fa-star-o"></i></span>
                                            <span class="star-count"><i class="fa fa-star-o"></i></span>
                                        {% elseif enfantNiveau == '2' %}
                                            <span class="star-count"><i class="fa fa-star"></i></span>
                                            <span class="star-count"><i class="fa fa-star"></i></span>
                                            <span class="star-count"><i class="fa fa-star-o"></i></span>
                                            <span class="star-count"><i class="fa fa-star-o"></i></span>
                                        {% elseif enfantNiveau == '3' %}
                                            <span class="star-count"><i class="fa fa-star"></i></span>
                                            <span class="star-count"><i class="fa fa-star"></i></span>
                                            <span class="star-count"><i class="fa fa-star"></i></span>
                                            <span class="star-count"><i class="fa fa-star-o"></i></span>
                                        {% elseif enfantNiveau == '4' %}
                                            <span class="star-count"><i class="fa fa-star"></i></span>
                                            <span class="star-count"><i class="fa fa-star"></i></span>
                                            <span class="star-count"><i class="fa fa-star"></i></span>
                                            <span class="star-count"><i class="fa fa-star"></i></span>
                                        {% else %}
                                            <span class="star-count"><i class="fa fa-star-o"></i></span>
                                            <span class="star-count"><i class="fa fa-star-o"></i></span>
                                            <span class="star-count"><i class="fa fa-star-o"></i></span>
                                            <span class="star-count"><i class="fa fa-star-o"></i></span>
                                        {% endif %}

                                        <a href="{{ path('enfant_edit', {'id':enfantId}) }}" class="label label-primary pull-right"><i class="fa fa-edit"></i> Editer</a>

                                        {% if taux != 0 %}
                                           {#  <div class="progress progress-striped active">
                                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{taux}}" aria-valuemin="0" aria-valuemax="100" style="width: {{taux}}%;">
                                                </div>
                                            </div> #}
                                        {% endif %}
                                    {% endif %}
                                <hr>
                                    {% endif %}
                            {% endblock %}

                        <span class="label" id="hide-show-menu">
                        <i class="fa fa-bars"></i> Menu</span>
                        <ul class="menu-enfant" style="display:none;">
                            <li class="divider"></li>
                            <li ><a href="{{ path('communication') }}" ><i class="fa fa-comments-o"></i> Echange</a></li>
                            <li ><a href="{{ path('planning') }}"><i class="fa fa-calendar-o"></i> Planning</a></li>
                            <li ><a href="{{ path('socialisation') }}"  ><i class="fa fa-puzzle-piece"></i>  Exercices</a></li>
                            <li ><a href="{{ path('gestion') }}"  ><i class="fa fa-list-alt"></i> Liste des enfants</a></li>
                            <li ><a href="{{ path('activite') }}" ><i class="fa fa-tasks"></i>Activités</a></li>
                            <li ><a href="{{ path('historique') }}" ><i class="fa fa-folder-o"></i> Historiques</a></li>
                            <li ><a href="{{ path('pictogramme') }}" ><i class="fa fa-picture-o"></i> Pictogrammes</a></li>
                            <li ><a href="{{ path('image') }}" ><i class="fa fa-picture-o"></i> Pictogrammes personnels</a></li>
                            <li class="divider"></li>
                        </ul>
                        <br>
                        <a href="{{ path('fo_reset_enfant') }}" class="btn btn-primary btn-sm btn-block"><i class="fa fa-mail-reply-all"></i> Evaluer un autre enfant</a>
                        {% endblock %}
                    </div>
                    {% block btnHelp %}{% endblock %}
                {% endif %}
                </div>
                <div class="col-md-9">
                    {% block body %}{% endblock %}
                </div>
            </div>
		</div>
		<footer>
        	<div class="container">
        		<p class="text-right">réalisé par : <a href="{{ asset('http://www.umanteam.com/') }}"> Umanteam SAS</a></p>
        	</div>
        </footer>
        {% block javascripts %}
            <script src="{{ asset('/bundles/fo/js/jquery-1.9.1.js') }}"></script>
            <script src="{{ asset('/bundles/fo/js/jquery-ui-1.10.3.js') }}"></script>
            <script src="{{ asset('/bundles/fo/js/jquery-highlight1.js') }}"></script>
            <script src="{{ asset('/bundles/fo/js/bootstrap.min.js') }}"></script>
			<script src="{{ asset('/bundles/fo/js/classie.js') }}"></script>
			<script src="{{ asset('/bundles/fo/js/borderMenu.js') }}"></script>
            <script src="{{ asset('/bundles/fo/js/modernizr.custom.js') }}"></script>
			<script src="{{ asset('/bundles/fo/js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>
