{% extends "FoBundle:Gestion:index.html.twig" %}

{% block gst_contents -%}
{% block stylesheets %}
	{{parent()}}
	<style>
	.panel-connexion {margin-top: 10%;}
	</style>
{% endblock %}

<div class="row">
	<div class="col-md-6 col-md-offset-3 col-sm-12">
		<div class="panel panel-info panel-connexion">
			
			<div class="panel-heading">
				<h2 class="panel-title">Editer les informations de l'enfant</h2>
			</div>
			<div class="panel-body">
					{#    {{ form(edit_form) }}#}
						
						{{form_start(edit_form)}}
						{{ form_errors(edit_form) }}
						
					{#    {{ form(edit_form) }}#}
				
				<div class="form-group">
					<div class="col-md-6 col-sm-6">
					  {{ form_errors(edit_form.nom) }}
					  {{ form_widget(edit_form.nom, { 'attr': {'class': 'form-control'} }) }}
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-6 col-sm-6">
					  {{ form_errors(edit_form.prenom) }}
					  {{ form_widget(edit_form.prenom, { 'attr': {'class': 'form-control'} }) }}
					</div>
				</div> 
				<div class="form-group">
					<div class="col-md-6 col-sm-6">
						<i class="sprite birthday"></i>
					  {{ form_errors(edit_form.dateDeNaissance) }}
					  {{ form_widget(edit_form.dateDeNaissance, { 'attr': {'class': ''} }) }}
					</div>
					<div class="col-md-6 col-sm-6">
						<i class="sprite niveau"></i>
					  {{ form_errors(edit_form.refNiveau) }}
					  {{ form_widget(edit_form.refNiveau, { 'attr': {'class': ''} }) }}
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-12 col-sm-12">
					  {{ form_errors(edit_form.observation) }}
					  {{ form_widget(edit_form.observation, { 'attr': {'class': 'form-control', 'placeholder' : 'observation'} }) }}
					</div>
				</div> 
				<div class="form-group">
					
					<div class="col-md-6 col-sm-6">
					  {{ form_label(edit_form.file, "Ajouter une photo de l'enfant:") }}
					  {{ form_errors(edit_form.file) }}
					  {{ form_widget(edit_form.file, { 'attr': {'class': ''} }) }}
					</div>
					<div class="col-md-6 col-sm-6">
					  {{ form_label(edit_form.refParent, "Parent:") }}
					  {{ form_errors(edit_form.refParent) }}
					  {{ form_widget(edit_form.refParent, { 'attr': {'class': 'form-control'} }) }}
					</div>
					<div class="col-md-6 col-sm-6">
					  {{ form_label(edit_form.refEducateur, "Educateur:") }}
					  {{ form_errors(edit_form.refEducateur) }}
					  {{ form_widget(edit_form.refEducateur, { 'attr': {'class': 'form-control'} }) }}
					</div>
				</div> 
				<div class="form-group">
				<div class="col-md-12 col-sm-12">
					  {{ form_label(edit_form.submit, "Mettre à jour:") }}
					  {{ form_widget(edit_form.submit, { 'attr': {'class': 'form-control btn-register'} }) }}
					</div>
				</div> 
				<div class="form-group">
				{{form_start(delete_form)}}
					{{ form_errors(delete_form) }}
					<div class="col-md-12 col-sm-12">
					
					{#{{ form(delete_form) }}#}
					  {{ form_label(delete_form.submit, "Supprimer:") }}
					  {{ form_widget(delete_form.submit, { 'attr': {'class': 'form-control delete'} }) }}
					</div>
				{{ form_rest(delete_form) }}
				{{ form_end(delete_form) }}
				</div>
				{{ form_rest(edit_form) }}
				{{ form_end(edit_form) }}
			</div>
				<a href="{{ path('enfant') }}" class="btn btn-back">Revenir à la liste</a>
		</div>
	</div>
</div>
{% endblock %}
