{% extends "FoBundle:Gestion:index.html.twig" %}

{% block gst_contents -%}

{% block stylesheets %}
	{{parent()}}
	<style>
	.btn-register { margin-bottom: 2px;}
	.panel-connexion {margin-top: 10px;}
	</style>
{% endblock %}
<div class="row">
	<div class="col-md-10 col-md-offset-1 col-sm-12">
		<div class="panel panel-info panel-connexion">
			
			<div class="panel-heading">
				<h2 class="panel-title">Liste des enfants</h2>
				<a href="{{ path('enfant_new') }}" class="btn btn-register">Ajouter un enfant</a>
			</div>
			<div class="panel-body">
	
				<div class="table-responsive">
					<table class="table table-striped table-condensed">
						<thead>
							<tr class="btn-primary">
								<th>Id</th>
								<th>Nom</th>
								<th>Prenom</th>
								<th>Datedenaissance</th>
								<th>Observation</th>
								<th>Avatar</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
						{% for entity in entities %}
							<tr>
								<td><a href="{{ path('enfant_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
								<td>{{ entity.nom }}</td>
								<td>{{ entity.prenom }}</td>
								<td>{% if entity.dateDeNaissance %}{{ entity.dateDeNaissance|date('d/m/Y') }}{% endif %}</td>
								<td>{{ entity.observation }}</td>
								<td>{{ entity.avatar }}</td>
								<td>
								<ul>
									<li>
										<a href="{{ path('enfant_show', { 'id': entity.id }) }}"><i class="sprite show"></i></a>
									</li>
									<li>
										<a href="{{ path('enfant_edit', { 'id': entity.id }) }}"><i class="sprite edit"></i></a>
									</li>
								</ul>
								</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
    {% endblock %}
