{% extends "FoBundle:Gestion:index.html.twig" %}

{% block gst_contents -%}
{% block stylesheets %}
	{{parent()}}
	<style>
	.panel-connexion {margin-top: 10%;}
	</style>
{% endblock %}
    <h1>Enfant</h1>
<div class="bg">
<div class="table-responsive">
    <table class="record_properties table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ entity.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ entity.prenom }}</td>
            </tr>
            <tr>
                <th>Datedenaissance</th>
                <td>{{ entity.dateDeNaissance|date('d/m/Y') }}</td>
            </tr>
            <tr>
                <th>Observation</th>
                <td>{{ entity.observation }}</td>
            </tr>
            <tr>
                <th>Avatar</th>
                <td>{{ entity.avatar }}</td>
            </tr>
        </tbody>
    </table>
</div>
        <ul class="record_actions">
    <li>
        <a href="{{ path('enfant') }}" class="btn btn-back">
            Revenir à la liste
        </a>
    </li>
    <li>
        <a href="{{ path('enfant_edit', { 'id': entity.id }) }}" class="btn btn-valid">
            Editer
        </a>
    </li>
    <!--<li>{{ form(delete_form) }}</li>-->
	
	{{form_start(delete_form)}}
        {{ form_errors(delete_form) }}
        <div class="col-md-12 col-sm-12">
		
        {#{{ form(delete_form) }}#}
          {{ form_label(delete_form.submit, "Supprimer:") }}
          {{ form_widget(delete_form.submit, { 'attr': {'class': 'form-control delete'} }) }}
        </div>
        {{ form_rest(delete_form) }}
        {{ form_end(delete_form) }}
</ul>
</div>
{% endblock %}
