{% extends '::base.html.twig' %}
{% block body %}
{% block stylesheets %}
	{{parent()}}
	<style>
	.panel-connexion {margin-top: 10%;}
	</style>
{% endblock %}
	{# {% include "FOSUserBundle:Registration:register_content.html.twig" %} #}
	<div class="row">
		<div class="col-md-6 col-md-offset-3 col-sm-12">
		<div class="panel panel-info">
			
			<div class="panel-heading">
				<h2 class="panel-title">Inscription</h2>
			</div>
			<div class="panel-body">
				<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register form-horizontal">
						{{ form_start(form) }}
					{#{{ form_widget(form) }}#}
						{{ form_errors(form) }}
							<div class="form-group">
								<div class="col-md-6 col-sm-12">
									{{ form_errors(form.username) }}
									{{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder': 'Identifiant' } }) }}
									
								</div>
								<div class="col-md-6 col-sm-12">
									{{ form_errors(form.email) }}
									{{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'Adresse mail'} }) }}
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-6 col-sm-12">
									{{ form_errors(form.plainPassword.first) }}
									{{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder': 'Mot de passe'} }) }}
								</div>
								<div class="col-md-6 col-sm-12">
									{{ form_errors(form.plainPassword.second) }}
									{{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder': 'Confirmation mot de passe'} }) }}
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-6 col-sm-12">
									{{ form_errors(form.Lastname) }}
									{{ form_widget(form.Lastname, { 'attr': {'class': 'form-control' , 'placeholder': 'Nom'} }) }}
								</div>
								<div class="col-md-6 col-sm-12">
									{{ form_errors(form.Firstname) }}
									{{ form_widget(form.Firstname, { 'attr': {'class': 'form-control', 'placeholder': 'Prénom'} }) }}
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-12 col-sm-12 ">
									{{ form_label(form.roles.0, 'rôle: ') }}
									{{ form_errors(form.roles.0) }}
									{{ form_widget(form.roles.0, { 'attr': {'class': 'form-control select', 'placeholder': 'Rôle'} }) }}
								</div>
							</div>
							
							<div class="form-group">
								<div class="col-md-6 col-sm-12">
									<input type="submit" value="S'inscrire" class="btn btn-block btn-register"/>
								</div>
								<div class="col-md-6 col-sm-12">
									<a href="{{path('fos_user_security_login')}}" class="btn btn-block btn-back">
                                                                                <i class="fa fa-reply"></i>
                                                                                Retour
                                                                        </a>
								</div>
							</div>
                                                        {{ form_rest(form) }}
							{{ form_end(form) }}
				</form>
				
			</div>
				
			
		</div>
		</div>
	</div>
{% endblock %}