{% extends "::base.html.twig" %}

{% block title %}{{parent()}} - Planning{% endblock %}

{% block stylesheets %}    {{parent()}}
<link href="{{ asset('/bundles/fo/css/planning.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}    {{parent()}}
    <script src="{{ asset('/bundles/fo/js/planning.js') }}"></script>
{% endblock %}

{% block body %}
	<div id="content">
		<div class="container bg">
                        {#{% if app.session.get('enfant') != null  %}
                            <a class="btn btn-sm btn-primary"  href="{{ path('fo_reset_enfant') }}">Sélectionner un autre enfant</a> 
                        {% endif %}#}
			<div class="navbar navbar-default" role="navigation">
					<div class="navbar-header">
                                            <a class="navbar-brand" href="">Emploi du temps {{ limite_planning_message }} - {{app.session.get('enfant').prenom|capitalize~" "~app.session.get('enfant').nom|upper}}</a>
					</div>
					<div class="">
						<ul class="nav navbar-nav navbar-right">
							<li class="dropdown">
								<a href="" class="dropdown-toggle" data-toggle="dropdown"><b class="glyphicon glyphicon-cog"></b>Modifier l'affichage </a>
								<ul class="dropdown-menu">
									<li class=""><a href="{{ path('planning_view', {'limite_planning' : 'jour'}) }}">Journée</a></li>
					                <li class=""><a href="{{ path('planning_view', {'limite_planning' : 'week'}) }}">Semaine</a></li>
					                <li class=""><a href="{{ path('planning_view', {'limite_planning' : 'mois'}) }}">Mois</a></li>
								</ul>
							</li>
						</ul>
					</div><!--/.nav-collapse -->
			</div>
			{% set index_activity = 1 %}
			{% set trans_days = {'Mon': 'Lundi', 'Tue': 'Mardi','Wed': 'Mercredi', 'Thu': 'Jeudi', 'Fri': 'Vendredi', 'Sat': 'Samedi', 'Sun': 'Dimanche'} %}
			

			<div class="container">	
				<div class="btn-group" id="limite_planning">
					<a class="btn btn-default {{ limite_planning|active_link('jour') }}" id="jour" href="{{ path('planning_view', {'limite_planning' : 'jour'}) }}"> Jour  </a>
					<a class="btn btn-default {{ limite_planning|active_link('week') }}" id="week" href="{{ path('planning_view', {'limite_planning' : 'week'}) }}"> Semaine  </a>
					<a class="btn btn-default {{ limite_planning|active_link('mois') }}" id="month" href="{{ path('planning_view', {'limite_planning' : 'mois'}) }}"> Mois  </a>
				</div>
				<br >
				
				{% if limite_planning == "jour" %}
					<br >
					<div class="btn-group" id="interval_planning">
						{% for n, d in days_list %}
							<a data-toggle="buttons" role="{{n}}" class="btn btn-default {% if days_list2[n]  is defined %}active{% endif %}" id='{{d}}'> {{ d|replace(trans_days) }}  </a>
						{% endfor %}
					</div>
					<a id="valider" class="btn btn-valid">Valider</a>	
					<p class="result"></p>
				{% endif %}
				
			</div>
				
			<br >

			{% for m, days in dates %}
				{% if loop.last %} {% set  last_loop = true %} {% endif %}
			    <div class='month' id='{{m}}'>
			    	<table class='table table-bordered table-condensed planning'>
			    		<thead>
                                                <tr class='btn-primary'>
                                                        <td>#</td>
                                                        {% if limite_planning == "jour" %}
                                                                {% if days_list2 %}
                                                                            {% for d in days_list2 %}
                                                                                <td>{{ d|replace(trans_days) }}</td>
                                                                            {% endfor %}
                                                                {% else %}
                                                                    <td style="width:90%;"> {{ 'now'|date('D')|replace(trans_days) }} </td>
                                                                {% endif %}
                                                        {% else %}
                                                            {% for d in days_list %}
                                                                {# afficher jours de la semaine #}
                                                                <td>{{ d|replace(trans_days) }}</td>
                                                            {% endfor %}
                                                        {% endif %}

                                                </tr>
                                        </thead>
                                        <tbody>
                                                <tr>
                                                        <td>{#Activité {{index_activity}}#} </td>
                                                        {% for d, w in days %}

                                                                {% set time = 'now'|date('Y')~'-'~m~'-'~d %}

                                                                {% if d == 1 %}
                                                                        <td colspan="{{w-1}}"></td>
                                                                {% endif %}
                                                            <td class="bnt btn-default 
                                                                    {% if 'now'|date('d/m/Y') == time|date('d/m/Y') %} 
                                                                        info 
                                                                    {% elseif 'now'|date('d/m/Y') > time|date('d/m/Y') %} 
                                                                        warning 
                                                                    {% endif %}" 
                                                            > 
                                                            {#   show the dates  #}
                                                            {{ time|date('d/m/Y') }} 
                                                                    {#   show the activities  #}
                                                                    {% for row_time_start, activite in activites_v2 %}
                                                                            {% for row in activite %}

                                                                                    {#{% if row_time_start|date('Y-n-j') == time|date('Y-n-j')  %}#}
                                                                                    {% if row.dateDebut |date('Ymd') <= time|date('Ymd') and row.dateFin |date('Ymd') >= time|date('Ymd') %}
{#                                                                                    {% if row.dateDebut |date('Y-n-j') <= time|date('Y-n-j') and row.dateFin |date('Y-n-j') >= time|date('Y-n-j') %}#}
                                                                                        <a class="btn btn-info btn-block" id="{{row.id}}" >
                                                                                                {% if row.refPictogramme.imgUrl is not empty %}
                                                                                                        {% set img = row.refPictogramme.imgUrl %}
                                                                                                        <img id="{{ row.dateDebut | date('Y-m-d H:i:s') }}" class="picto-image" src="{{ asset('/uploads/images/img-perso/'~img )}}" alt="{{row.titre}}">
                                                                                                {% else %}
                                                                                                        {% set img =  row.refPictogramme.pictoUrl  %}
                                                                                                        <img id="{{ row.dateDebut | date('Y-m-d H:i:s') }}" class="picto-image" src="{{ asset('/uploads/images/picto/'~img )}}" alt="{{row.titre}}">
                                                                                                {% endif %}

                                                                                                <p id="{{ row.dateFin | date('Y-m-d H:i:s') }}" >{{ row.titre }}</p>
                                                                                        </a>
                                                                                    {% endif %}
                                                                            {% endfor %}
                                                                    {% endfor %}
                                                            </td>
                                                            {% if w == 7 and limite_planning == 'mois' %}
                                                            {% set index_activity = index_activity + 1 %}
                                                </tr>
                                                <tr><td>{#Activité {{index_activity}}#} </td>
                                                            {% endif %}
                                                        {% endfor %}
                                                </tr>
                                        </tbody>
			    	</table>

			    </div>
			{% endfor %}

                        {# === Add a child === #}
                        <a href="{{ path('planning_add_activite') }}"><input type="button" class="btn btn-valid" value="Ajouter"/></a>
		
	</div>
{% endblock %}