{% extends '::base.html.twig' %}

{% block javascripts %}
{{ parent() }}
<script>
    // select refEnfant by default
    $('select.option-selected').find('option').attr('selected', 'selected');
    $('select.option-selected').parent('div').css('display' , 'none');
</script>
{% endblock %}

{% block body %}
    {# L'utilisateur est-il connecté ? #}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {# L'utilisateur est connecté ! #}

        {# L'utilisateur est-il admin ? #}
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EDUCATEUR') or is_granted('ROLE_PARENT')%}
            {# L'utilisateur est admin ou educateur ou parent! #}
            <h3>Ajouter une activité</h3>
            {{ form(formAdd) }}
            <a href="{{path('planning')}}"><button class="btn btn-link" >Anuler</button></a>
        {% endif %}
    {% else %}
        {# L'utilisateur n'est pas connecté ! #}
    {% endif %}
{% endblock %}