{% extends "::base.html.twig" %}

{% block title %}{{parent()}} - Niveau4{% endblock %}
{% block stylesheets %}
	{{parent()}}
<link href="{{ asset('/bundles/fo/css/jquery-ui-1.10.3.css') }}" rel="stylesheet" />
<link href="{{ asset('/bundles/fo/css/jquery-ui-1.10.4-smoothness.css') }}" rel="stylesheet" />
<link href="{{ asset('/bundles/fo/css/jquery.highlighttextarea.css') }}" rel="stylesheet" />
<style>

</style>
{% endblock %}

{% block body %}
	<div id="top-zone"></div>
		{# ========== Partie supérieur ========== #}
	<div class="panel panel-autiste" id="pool-pictos">
		<div class="panel-heading">
			<h3 class="panel-title">Séance de communication </h3>
		</div>
		<div class="panel-body">
			{# we work here - theme #}
			<span class="label label-info" style="margin:2px;"> Choisissez sur un thème <i class="fa fa-hand-o-down">  </i></span>
	        <br><br>
			<ul id="ul-theme" class="theme-gal ui-helper-reset ui-helper-clearfix">
				{% for theme in themes %}
					<li class="ui-widget-content ui-corner-tr">
						<div class="theme-picto-div thumbnail" itemid="{{theme.id}}">
							<img class="picto-image" src="{{ asset('/uploads/images/theme/'~theme.pictoUrl )}}" alt="{{theme.titre}}">
							<p class="picto-p">{{theme.titre}}</p>
						</div>  
					</li>
				{% endfor %}
			</ul>
			<hr>

			{# we work here - theme-pictos toggle #}
			<div class="" id="themes-pictos-pool">               
				{# loop all the themes #}
				{% for theme in themes %}
				<div id="div-theme-toggle-{{theme.id}}" class="toggle theme-pictos">
					<ul id="gallery" class="gallery alert alert-success ui-helper-reset ui-helper-clearfix ui-widget-content ui-state-default" themeid="{{theme.id}}">
						{# loop all the pictos #}
						{% for picto in pictos %}
						
							{% if  picto.refPictogramme is defined %}
								{# if a pictos is under one themes #}
								{% if picto.refPictogramme.refMot.refTheme %}
									{# if the picto is under the current theme #}
									{% if picto.refPictogramme.refMot.refTheme.id == theme.id%}
									<li class="ui-widget-content ui-corner-tr" themeid = "{{picto.refPictogramme.refMot.refTheme.id}}">
										<div id="div-pictos-toggle{{picto.id}}" class="picto-unit" themeid="{{picto.refPictogramme.refMot.refTheme.id}}">
											<div class="picto-div thumbnail">
												<img class="picto-image" src="{{ asset('/uploads/images/img-perso/'~picto.url )}}" alt="{{picto.refPictogramme.refMot.titre}}">
												<p class="picto-mot">{{picto.refPictogramme.refMot.titre}}</p>
												{# Ce picto porte une phrase proposée #}
												{% if  picto.refPictogramme.refPhrase%}
												<p class="picto-phrase hidden">{{picto.refPictogramme.refPhrase.contenu}}</p>
												{% endif %}
												{# Ce picto est un SUJET #}
												{% if  picto.refPictogramme.refMot.personne%}
												<p class="picto-personne hidden">{{picto.refPictogramme.refMot.personne}}</p>
												{% endif %}
												{# Ce picto porte une VERBE #}
												{% if  picto.refPictogramme.refMot.pps or  picto.refPictogramme.refMot.dps or picto.refPictogramme.refMot.tps or picto.refPictogramme.refMot.ppp or picto.refPictogramme.refMot.dpp or picto.refPictogramme.refMot.tpp %}
												<p class="picto-mot-conjugue hidden">{{picto.refPictogramme.refMot.pps ~ ','~picto.refPictogramme.refMot.dps~','~ picto.refPictogramme.refMot.tps ~','~ picto.refPictogramme.refMot.ppp ~ ','~ picto.refPictogramme.refMot.dpp ~ ','~ picto.refPictogramme.refMot.tpp}}</p>
												{% endif %}
												{# Ce picto porte une COMPLEMENT #}
												{% if  picto.refPictogramme.refMot.genre %}
												<p class="picto-mot-genre-complement hidden">{{picto.refPictogramme.refMot.genre}}</p>
												{% endif %}
												{# Ce picto porte un AJECTIF #}
												{% if  picto.refPictogramme.refMot.ms or  picto.refPictogramme.refMot.mp or picto.refPictogramme.refMot.fs or picto.refPictogramme.refMot.fp %}
												<p class="picto-mot-adj hidden">{{picto.refPictogramme.refMot.ms ~ ','~picto.refPictogramme.refMot.mp~','~ picto.refPictogramme.refMot.fs ~','~ picto.refPictogramme.refMot.fp}}</p>
												{% endif %}
											</div> 
										</div>
									</li>
									{% endif %}
								{% endif %}
							{% else %}
								{# if a pictos is under one themes #}
								{% if picto.refMot.refTheme %}
									{# if the picto is under the current theme #}
									{% if picto.refMot.refTheme.id == theme.id%}
									<li class="ui-widget-content ui-corner-tr" themeid = "{{picto.refMot.refTheme.id}}">
										<div id="div-pictos-toggle{{picto.id}}" class="picto-unit" themeid="{{picto.refMot.refTheme.id}}">
											<div class="picto-div thumbnail">
												<img class="picto-image" src="{{ asset('/uploads/images/picto/'~picto.pictoUrl )}}" alt="{{picto.refMot.titre}}">
												<p class="picto-mot">{{picto.refMot.titre}}</p>
												{# Ce picto porte une phrase proposée #}
												{% if  picto.refPhrase%}
												<p class="picto-phrase hidden">{{picto.refPhrase.contenu}}</p>
												{% endif %}
												{# Ce picto est un SUJET #}
												{% if  picto.refMot.personne%}
												<p class="picto-personne hidden">{{picto.refMot.personne}}</p>
												{% endif %}
												{# Ce picto porte une VERBE #}
												{% if  picto.refMot.pps or  picto.refMot.dps or picto.refMot.tps or picto.refMot.ppp or picto.refMot.dpp or picto.refMot.tpp %}
												<p class="picto-mot-conjugue hidden">{{picto.refMot.pps ~ ','~picto.refMot.dps~','~ picto.refMot.tps ~','~ picto.refMot.ppp ~ ','~ picto.refMot.dpp ~ ','~ picto.refMot.tpp}}</p>
												{% endif %}
												{# Ce picto porte une COMPLEMENT #}
												{% if  picto.refMot.genre %}
												<p class="picto-mot-genre-complement hidden">{{picto.refMot.genre}}</p>
												{% endif %}
												{# Ce picto porte un AJECTIF #}
												{% if  picto.refMot.ms or  picto.refMot.mp or picto.refMot.fs or picto.refMot.fp %}
												<p class="picto-mot-adj hidden">{{picto.refMot.ms ~ ','~picto.refMot.mp~','~ picto.refMot.fs ~','~ picto.refMot.fp}}</p>
												{% endif %}
											</div> 
										</div>
									</li>
									{% endif %}
								{% endif %}
							{% endif %}
								
						{% endfor %}
					</ul>
					<p class="label label-info" style="margin:2px;"> 
                        <i class="fa fa-arrows"></i> Glisser le pictogramme dans la zone indiquée ci-dessous <i class="fa fa-arrow-down"></i>
                    </p>
				</div>
				{% endfor %}
			</div>
				
			{# ========== Partie inférieur ========== #}
			<div class="alert alert-info">
				<div id="box" class="ui-widget-content ui-state-default"></div>
			</div>

			<div class="row">
				<div class="col-md-9">
					{#        Phrase composée        #}
					<div id="div-phrase-composee" class="ui-widget-content ui-state-default"><p></p></div>
				</div>
				<div class="col-md-3">
					<div id="zone-text" class="btn-group n3">
						<a class="btn btn-warning" id="btn-negation"><i class="fa fa-ban"></i></a>
						<a class="btn btn-default" id="btn-play"><i class="fa fa-step-forward"></i></a>                        
						<a class="btn btn-info" id="btn-play-phrase"><i class="fa fa-play"></i></a>
						<a class="btn btn-primary" id="btn-save"><i class="fa fa-save"></i></a>
						{# !! NE PAS ENLEVER LE <p> !!#}
						<p style="width:100%; display:block; white-space: pre-wrap;"></p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
{{parent()}}
	<script src="{{ asset('/bundles/fo/js/comm-nivo3.js') }}"></script>
{% endblock %}
