{% extends "::base.html.twig" %}

{% block title %}{{parent()}} - Niveau3{% endblock %}
{% block stylesheets %}
	{{parent()}}
<link href="{{ asset('/bundles/fo/css/jquery-ui-1.10.3.css') }}" rel="stylesheet" />
<link href="{{ asset('/bundles/fo/css/jquery-ui-1.10.4-smoothness.css') }}" rel="stylesheet" />
<link href="{{ asset('/bundles/fo/css/jquery.highlighttextarea.css') }}" rel="stylesheet" />
<style>

</style>
{% endblock %}

{% block body %}
<div id="top-zone"></div>
        {# ========== Partie supérieur ========== #}
<div class="panel panel-autiste" id="pool-pictos">
    <div class="panel-heading">
        <h3 class="panel-title">Séance de communication </h3>
    </div>
    <div class="panel-body">
                {# we work here - theme #}
        <span class="label label-info" style="margin:2px;"> Choisissez sur un thème <i class="fa fa-hand-o-down">  </i></span>
        <br><br>
        <ul id="ul-theme" class="theme-gal ui-helper-reset ui-helper-clearfix">
                        {% for theme in themes %}
            <li class="ui-widget-content ui-corner-tr" itemid="{{theme.id}}">
                <div class="theme-picto-div thumbnail" itemid="{{theme.id}}">
                    <img class="picto-image" src="{{ asset('/uploads/images/theme/'~theme.pictoUrl )}}" alt="{{theme.titre}}">
                    <p class="picto-p">{{theme.titre}}</p>
                </div>  
            </li>
                        {% endfor %}
        </ul>
        <hr>

                {# we work here - theme-pictos toggle all the pictos under one theme #}
        <div class="" id="themes-pictos-pool">               
                        {# loop all the themes #}
                        {% for theme in themes %}
            <div id="div-theme-pictos-toggle-{{theme.id}}" class="toggle theme-pictos" themeId="{{theme.id}}" themeName="{{theme.titre}}">
                <ul id="gallery-theme{{theme.id}}" class="gallery alert alert-success ui-helper-reset ui-helper-clearfix ui-widget-content ui-state-default" themeId="{{theme.id}}">
                                        {# loop all the pictos #}
                                        {% for picto in pictos %}

                                                {% if  picto.refPictogramme is defined %}
                                                        {# if a pictos is under one themes #}
                                                        {% if picto.refPictogramme.refMot.refTheme %}
                                                                {# if the picto is under the current theme #}
                                                                {% if picto.refPictogramme.refMot.refTheme.id == theme.id%}
                    <li class="ui-widget-content ui-corner-tr" themeId = "{{picto.refPictogramme.refMot.refTheme.id}}">
                        <div id="div-pictos-toggle{{picto.id}}" class="picto-unit" themeId="{{picto.refPictogramme.refMot.refTheme.id}}" themeName="{{picto.refPictogramme.refMot.refTheme.titre}}" motId="{{picto.refPictogramme.refMot.id}}">
                            <div class="picto-div thumbnail">
                                <img class="picto-image" src="{{ asset('/uploads/images/img-perso/'~picto.url )}}" alt="{{picto.refPictogramme.refMot.titre}}">
                                <p class="picto-mot">{{picto.refPictogramme.refMot.titre}}</p>
                                                                                        {# Ce picto porte une phrase proposée #}
                                                                                        {% if  picto.refPictogramme.refPhrase%}
                                <p class="picto-phrase hidden">{{picto.refPictogramme.refPhrase.contenu}}</p>
                                                                                        {% endif %}
                                                                                        {# Ce picto est un SUJET #}
                                                                                        {% if  picto.refPictogramme.refMot.personne%}
                                <p class="picto-personne hidden">{{picto.refPictogramme.refMot.personne}}</p>
                                                                                        {% endif %}
                                                                                        {# Ce picto porte une VERBE #}
                                                                                        {% if  picto.refPictogramme.refMot.pps or  picto.refPictogramme.refMot.dps or picto.refPictogramme.refMot.tps or picto.refPictogramme.refMot.ppp or picto.refPictogramme.refMot.dpp or picto.refPictogramme.refMot.tpp %}
                                <p class="picto-mot-conjugue hidden">{{picto.refPictogramme.refMot.pps ~ ','~picto.refPictogramme.refMot.dps~','~ picto.refPictogramme.refMot.tps ~','~ picto.refPictogramme.refMot.ppp ~ ','~ picto.refPictogramme.refMot.dpp ~ ','~ picto.refPictogramme.refMot.tpp}}</p>
                                                                                        {% endif %}
                                                                                        {# Format PASSÉ COMPOSÉ du VERBE #}
                                                                                        {% if  picto.refPictogramme.refMot.pc %}
                                <p class="picto-mot-conjugue-passe-compose hidden">{{picto.refPictogramme.refMot.pc}}</p>
                                                                                        {% endif %}
                                                                                        {# Ce picto porte une COMPLEMENT #}
                                                                                        {% if  picto.refPictogramme.refMot.genre %}
                                <p class="picto-mot-genre-complement hidden">{{picto.refPictogramme.refMot.genre}}</p>
                                                                                        {% endif %}
                                                                                        {# Format PLURIEL du COMPLEMENT #}
                                                                                        {% if  picto.refPictogramme.refMot.plur %}
                                <p class="picto-mot-genre-complement-pluriel hidden">{{picto.refPictogramme.refMot.plur}}</p>
                                                                                        {% endif %}
                                                                                        {# Ce picto porte un AJECTIF #}
                                                                                        {% if  picto.refPictogramme.refMot.ms or  picto.refPictogramme.refMot.mp or picto.refPictogramme.refMot.fs or picto.refPictogramme.refMot.fp %}
                                <p class="picto-mot-adj hidden">{{picto.refPictogramme.refMot.ms ~ ','~picto.refPictogramme.refMot.mp~','~ picto.refPictogramme.refMot.fs ~','~ picto.refPictogramme.refMot.fp}}</p>
                                                                                        {% endif %}
                            </div> 
                        </div>
                    </li>
                                                                {% endif %}
                                                        {% endif %}
                                                {% else %}
                                                        {# if a pictos is under one themes #}
                                                        {% if picto.refMot.refTheme %}
                                                                {# if the picto is under the current theme #}
                                                                {% if picto.refMot.refTheme.id == theme.id%}
                    <li class="ui-widget-content ui-corner-tr" themeId = "{{picto.refMot.refTheme.id}}">
                        <div id="div-pictos-toggle{{picto.id}}" class="picto-unit" themeId="{{picto.refMot.refTheme.id}}" themeName="{{picto.refMot.refTheme.titre}}" motId="{{picto.refMot.id}}">
                            <div class="picto-div thumbnail">
                                <img class="picto-image" src="{{ asset('/uploads/images/picto/'~picto.pictoUrl )}}" alt="{{picto.refMot.titre}}">
                                <p class="picto-mot">{{picto.refMot.titre}}</p>
                                                                                        {# Ce picto porte une phrase proposée #}
                                                                                        {% if  picto.refPhrase%}
                                <p class="picto-phrase hidden">{{picto.refPhrase.contenu}}</p>
                                                                                        {% endif %}
                                                                                        {# Ce picto est un SUJET #}
                                                                                        {% if  picto.refMot.personne%}
                                <p class="picto-personne hidden">{{picto.refMot.personne}}</p>
                                                                                        {% endif %}
                                                                                        {# Ce picto porte une VERBE #}
                                                                                        {% if  picto.refMot.pps or  picto.refMot.dps or picto.refMot.tps or picto.refMot.ppp or picto.refMot.dpp or picto.refMot.tpp %}
                                <p class="picto-mot-conjugue hidden">{{picto.refMot.pps ~ ','~picto.refMot.dps~','~ picto.refMot.tps ~','~ picto.refMot.ppp ~ ','~ picto.refMot.dpp ~ ','~ picto.refMot.tpp}}</p>
                                                                                        {% endif %}
                                                                                        {# Format PASSÉ COMPOSÉ du VERBE #}
                                                                                        {% if  picto.refMot.pc %}
                                <p class="picto-mot-conjugue-passe-compose hidden">{{picto.refMot.pc}}</p>
                                                                                        {% endif %}
                                                                                        {# Ce picto porte une COMPLEMENT #}
                                                                                        {% if  picto.refMot.genre %}
                                <p class="picto-mot-genre-complement hidden">{{picto.refMot.genre}}</p>
                                                                                        {% endif %}
                                                                                        {# Format PLURIEL du COMPLEMENT #}
                                                                                        {% if  picto.refMot.plur %}
                                <p class="picto-mot-genre-complement-pluriel hidden">{{picto.refMot.plur}}</p>
                                                                                        {% endif %}
                                                                                        {# Ce picto porte un AJECTIF #}
                                                                                        {% if  picto.refMot.ms or  picto.refMot.mp or picto.refMot.fs or picto.refMot.fp %}
                                <p class="picto-mot-adj hidden">{{picto.refMot.ms ~ ','~picto.refMot.mp~','~ picto.refMot.fs ~','~ picto.refMot.fp}}</p>
                                                                                        {% endif %}
                            </div> 
                        </div>
                    </li>
                                                                {% endif %}
                                                        {% endif %}
                                                {% endif %}

                                        {% endfor %}
                </ul>
                <p class="label label-info" style="margin:2px;"> 
                    <i class="fa fa-arrows"></i> Glisser le pictogramme dans la zone indiquée ci-dessous <i class="fa fa-arrow-down"></i>
                </p>
            </div>
                        {% endfor %}

                        {# ========== Partie inférieur ========== #}
            <!--div class="alert alert-info">
                <div id="box" class="ui-widget-content ui-state-default">
                                {# List used to drop pictos #}
                    <ol class='gallery ui-helper-reset' id='ol-drop-box' style='height: 160px; position:relative; z-index:1;'></ol>
                </div>
            </div-->
            <div class="alert alert-info">
                <div id="box" class="ui-widget-content ui-state-default">
                    <ol class="gallery ui-helper-reset ui-droppable ui-sortable" id="ol-drop-box" style="height: 160px; position:relative; z-index:1;">
                        <!-- do not remove this -->
                        <li class="hidden" id="li-dumb-insert"></li>
                    </ol>
                </div>
            </div>

            
        </div>
        <!-- setence area and button group -->
        <div class="row ">
            <div class="col-md-9">
                                        {#        Phrase composée        #}
                <div id="div-phrase-composee" class="ui-widget-content ui-state-default">
                    <p id="p-text-sentence"></p>
                </div>
            </div>
            <div class="col-md-3">
                <div id="zone-text" class="btn-group n3l1">                      
                    <button class="btn btn-info" id="btn-play-phrase"><i class="fa fa-play"></i></button>
                    <button class="btn btn-default" id="btn-play-words"><i class="fa fa-step-forward"></i></button>  

                </div>
                <div id="zone-text" class="btn-group n3l2">
                    <button class="btn btn-warning" id="btn-negation"><i class="fa fa-ban"></i></button>
                    <button class="btn btn-default" id="btn-reset" ><i class="fa ps-ranger"></i></button>
                    <button class="btn btn-primary" id="btn-save"><i class="fa fa-save"></i></button>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{# === help button === #}
{% block btnHelp %}
<div id="div-button-help">
    <a class="btn-block" id="btn-help">
        <img src="{{ asset('/bundles/fo/img/bt_aide.png') }}" />
    </a>
</div>
{% endblock %}

{% block javascripts %}
	{{parent()}}
<script src="{{ asset('/bundles/fo/js/jquery.ui.touch-punch.min.js') }}"></script>
<script>
    /**
     * Function get auto fill pour niveau 3
     * @param {Integer} id1
     * @param {Integer} id2
     * @returns {String}
     */
    function getNv3AutoFill(id1, id2) {

        $.ajax({
            url: "{{path('communication_get_nv3_auto_fill')}}",
            data: {
                param_verbeId: id1,
                param_complementId: id2
            },
            type: 'POST',
            dataType: 'json',
            success: function(data)
            {
                if (data.result === 'success') {
                    autoFillWord = data.afw;
                    // Find the first word for this function (normalement verbe)
                    nodeWord1 = $('p#p-text-sentence').find('span[id="'+ id1 +'"]');
                    autoFillWordNode = '<span class="auto-fill">' + autoFillWord + ' </span>';
                    // Si la fin d'un mot contient une apostrophe lui même
                    if ($(autoFillWordNode).text().slice(-2) === '\' '
                            && $(autoFillWordNode).text().slice(-1) === ' ') {
                        // supprimer l'espace
                        autoFillWordNode = '<span class="auto-fill">' + autoFillWord + '</span>';
                    }
                    // Insert the word auto-fill between these two nodes
                    $(autoFillWordNode).insertAfter($(nodeWord1));            
                    console.log(autoFillWord);        
                } else if (data.result === 'fail'){
                    return;
                }
            }
        });
        console.log('executed');
    }


    /**
     * Sauvgarder la phrase composée
     * @param {type} myPhrase
     * @returns {undefined}         */
    function savePhrase(myPhrase) {
        $.ajax({
            url: "{{path('communication_save_phrase')}}",
            data: {
                my_phrase: myPhrase
            },
            dataType: 'json',
            success: function(data)
            {
                if (data.result === 'success') {
                    $('div#top-zone').prepend(
                            "<div class=\"alert alert-info fade in\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-hidden=\"true\">×</button>Phrase enregistrée à {{'now'|date('H:i')}}.</div>"
                            );
                }

            }
        });
    }
</script>
<script src="{{ asset('/bundles/fo/js/comm-nivo3.js') }}"></script>
	<script src="{{ asset('/bundles/fo/js/jquery.ui.touch-punch.min.js') }}"></script>
{% endblock %}
