{% extends "::base.html.twig" %}

{% block title %}{{parent()}} - Niveau2{% endblock %}
{% block stylesheets %}
    {{parent()}}
    <link href="{{ asset('/bundles/fo/css/jquery-ui-1.10.3.css') }}" rel="stylesheet" />
    <link href="{{ asset('/bundles/fo/css/jquery-ui-1.10.4-smoothness.css') }}" rel="stylesheet" />
    <link href="{{ asset('/bundles/fo/css/jquery.highlighttextarea.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
<div id="top-zone"></div>

{% if pptg is defined %}
    {% set taux = pptg %}
{% else %}
    {% set taux = 0 %}
{% endif %}


{# ========== Partie supérieur ========== #}
<div class="panel panel-autiste" id="pool-pictos">
    <div class="panel-heading">
        <h3 class="panel-title">Séance de communication </h3>
    </div>
    <div class="panel-body">
        {# we work here - theme #}
        <div class="choice-theme">
            <span class="label label-info" style="margin:2px;"> Choisissez sur un thème <i class="fa fa-hand-o-down">  </i></span>
            <br><br>
            <ul id="ul-theme" class="theme-gal ui-helper-reset ui-helper-clearfix">
                {% for theme in themes %}
                <li class="ui-widget-content ui-corner-tr">
                    <div class="theme-picto-div thumbnail" itemid="{{theme.id}}">
                        <img class="picto-image" src="{{ asset('/uploads/images/theme/'~theme.pictoUrl )}}" alt="{{theme.titre}}">
                        <p class="picto-p">{{theme.titre}}</p>
                    </div>  
                </li>
                {% endfor %}
            </ul>
        </div>

        {# we work here - theme-pictos toggle #}
        <div id="themes-pictos-pool">              
            {# loop all the themes #}
            {% for theme in themes %}
                <div id="div-theme-toggle-{{theme.id}}" class="toggle theme-pictos">
                    <ul id="gallery" class="alert alert-info gallery ui-helper-reset ui-helper-clearfix ui-state-default" themeid="{{theme.id}}">
                        {# loop all the pictos #}
                        {% for picto in pictos %}
                            {# ======= si utilise image personalisée======= #}
                            {% if  picto.refPictogramme is defined %}
                                {# if a pictos is under one themes #}
                                {% if picto.refPictogramme.refMot.refTheme %}
                                    {# if the picto is under the current theme #}
                                    {% if picto.refPictogramme.refMot.refTheme.id == theme.id %}   
                                        <li class="ui-widget-content ui-corner-tr" themeid = "{{picto.refPictogramme.refMot.refTheme.id}}">
                                            <div id="div-pictos-toggle{{picto.refPictogramme.id}}" class="picto-unit" themeid="{{picto.refPictogramme.refMot.refTheme.id}}">
                                                <div class="picto-div thumbnail">
                                                    <img class="picto-image" src="{{ asset('/uploads/images/img-perso/'~picto.url )}}" alt="{{picto.refPictogramme.refMot.titre}}">
                                                    <p class="picto-mot">{{picto.refPictogramme.refMot.titre}}</p>
                                                    {% if  picto.refPictogramme.refPhrase%}
                                                        <p class="picto-phrase hidden">{{picto.refPictogramme.refPhrase.contenu}}</p>
                                                    {% endif %}
                                                </div> 
                                            </div>
                                        </li>
                                    {% endif %}
                                {% endif %}
                            {% else %} 
                                {# ======= picto général ======= #}
                                {# if a pictos is under one themes #}
                                {% if picto.refMot.refTheme %}
                                    {# if the picto is under the current theme #}
                                    {% if picto.refMot.refTheme.id == theme.id %}               
                                        <li class="ui-widget-content ui-corner-tr" themeid = "{{picto.refMot.refTheme.id}}">
                                            <div id="div-pictos-toggle{{picto.id}}" class="picto-unit" themeid="{{picto.refMot.refTheme.id}}">
                                                <div class="picto-div thumbnail">
                                                    <img class="picto-image" src="{{ asset('/uploads/images/picto/'~picto.pictoUrl )}}" alt="{{picto.refMot.titre}}">
                                                    <p class="picto-mot">{{picto.refMot.titre}}</p>
                                                    {% if  picto.refPhrase%}
                                                        <p class="picto-phrase hidden">{{picto.refPhrase.contenu}}</p>
                                                    {% endif %}
                                                </div> 
                                            </div>
                                        </li>
                                    {% endif %}
                                {% endif %}  
                            {% endif %} 
                        {% endfor %}
                    </ul>
                    <p class="label label-info" style="margin:2px;"> 
                        <i class="fa fa-arrows"></i> Glisser le pictogramme dans la zone indiquée ci-dessous <i class="fa fa-arrow-down"></i>
                    </p>
                </div>
            {% endfor %}
        </div>

        {# ========== Partie inférieur ========== #}
        <div class="alert alert-info">
            <div class="part-2">
                <div id="box" class="ui-widget-content ui-state-default">
                    {# ==== Ajout fixe picto "je veux" ===== #}
                    <ul class='gallery ui-helper-reset'  style='position:relative; z-index:1;'>
                        <li class="picto-fixe-je-veux" themeid="-1" style="display: list-item;">
                            <div id="div-pictos-toggle52" class="picto-unit" themeid="-1">
                                <div class="picto-div thumbnail">
                                    <img class="picto-image" src="/uploads/images/picto/vouloir-icon.png" alt="je veux" style="height: 120px;">
                                    <p class="picto-mot">Je veux</p>
                                </div> 
                            </div>
                        </li>
                    </ul>{# ==== FIN Ajout fixe picto "je veux" ===== #}
                </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        {# Phrase composée #}
                        <div id="div-phrase-composee" class="ui-widget-content ui-state-default "><p>Je veux <span></span></p></div>
                    </div>
                    <div class="col-md-3">
                        <div id="zone-text" class="btn-group n3l1">                      
                            <button class="btn btn-info" id="btn-play-phrase"><i class="fa fa-play"></i></button>
                            <button class="btn btn-default" id="btn-play-words"><i class="fa fa-step-forward"></i></button>  

                        </div>
                        <div id="zone-text" class="btn-group n2l2">
                            <button class="btn btn-default" id="btn-reset" ><i class="fa ps-ranger"></i></button>
                            <button class="btn btn-primary" id="btn-save"><i class="fa fa-save"></i></button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{parent()}}
{# <script src="{{ asset('/bundles/fo/js/google-tts.js') }}"></script>
<script src="{{ asset('/bundles/fo/js/soundmanager2.js') }}"></script> #}
<script>
    /**
     * Sauvgarder la phrase composée
     * @param {type} myPhrase
     * @returns {undefined}         */
    function savePhrase(myPhrase) {
        $.ajax({
            url: "{{path('communication_save_phrase')}}",
            data: {
                my_phrase: myPhrase
            },
            dataType: 'json',
            success: function(data)
            {
                if (data.result === 'success') {
                    $('div#top-zone').prepend(
                            "<div class=\"alert alert-info fade in\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-hidden=\"true\">×</button>Phrase enregistrée à {{'now'|date('H:i')}}.</div>"
                            );
                }

            }
        });
    }
</script>
<script src="{{ asset('/bundles/fo/js/comm-nivo2.js') }}"></script>
<script src="{{ asset('/bundles/fo/js/jquery.ui.touch-punch.min.js') }}"></script>
{% endblock %}
