{% extends "::base.html.twig" %}

{% block title %}{{parent()}} - Niveau1{% endblock %}
{% block stylesheets %}
    {{parent()}}
<link href="{{ asset('/bundles/fo/css/jquery-ui-1.10.3.css') }}" rel="stylesheet" />
<link href="{{ asset('/bundles/fo/css/jquery.highlighttextarea.css') }}" rel="stylesheet" />
<style>

</style>
{% endblock %}

{% block body %}
<div class="">
    <div id="top-zone"></div>
    
    {% if pptg is defined %}
		{% set taux = pptg %}
	{% else %}
		{% set taux = 0 %}
	{% endif %}
    
    {% set enfantId = app.session.get('enfant').getId() %}
	
    <div class="panel panel-primary panel-autiste" id="pool-pictos">
        <div class="panel-heading">
            <h3 class="panel-title"><strong>Séance de communication</strong></h3>
        </div>
        <div class="panel-body">
        	<div class="ui-widget ui-helper-clearfix">
                <ul id="gallery" class="alert alert-info gallery ui-helper-reset ui-helper-clearfix">
                    {% for picto in pictos %}
                        <li class="ui-widget-content ui-corner-tr">
                            <div class="picto-div thumbnail">
                                {% if  picto.refPictogramme is defined %}
                                    <img class="img-responsive" src="{{ asset('/uploads/images/img-perso/'~picto.url )}}" alt="{{picto.refPictogramme.refMot.titre}}">
                                    <p class="picto-p">{{picto.refPictogramme.refMot.titre}}</p>
                                {% else %}
                                    <img class="picto-image" src="{{ asset('/uploads/images/picto/'~picto.pictoUrl )}}" alt="{{picto.refMot.titre}}">
                                    <p class="picto-p">{{picto.refMot.titre}}</p>
                                {% endif %}
                            </div>              
                        </li>
                    {% endfor %}
                </ul>
                <p class="label label-info" style="margin:2px;"> 
                    <i class="fa fa-arrows"></i> Glisser le pictogramme dans la zone indiquée ci-dessous <i class="fa fa-arrow-down"></i>
                </p>
            </div>
            {# Partie inférieur #}
            <div id="box" class="ui-widget-content ui-state-default"></div>
            <div class="row">
                <div class="col-md-9">
                    {# Phrase composée #}
                    <div id="div-phrase-composee" class="ui-widget-content ui-state-default "><p></p></div>
                </div>
                <div class="col-md-3">
                    
                    <div id="zone-text" class="btn-group n3l1">                      
                        <button class="btn btn-info" id="btn-play" style="border-radius: 4px 4px 4px 4px;"><i class="fa fa-play"></i></button> 

                    </div>
                    <div id="zone-text" class="btn-group n3l2">
                        <button class="btn btn-primary" id="btn-save"><i class="fa fa-save"></i></button>

                    </div>
                </div>
            </div>
        </div>
	</div>
</div>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script>
        /**
         * Sauvgarder la phrase composée
         * @param {type} myPhrase
         * @returns {undefined}         */
        function savePhrase(myPhrase) {
            $.ajax({
                url: "{{path('communication_save_phrase')}}",
                data: {
                    my_phrase: myPhrase
                },
                dataType: 'json',
                success: function(data)
                {
                    if (data.result === 'success') {
                        $('div#top-zone').prepend(
                                "<div class=\"alert alert-info fade in\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-hidden=\"true\">×</button>Phrase enregistrée à {{'now'|date('H:i')}}.</div>"
                                );
                    }

                }
            });
        }
    </script>
    <script src="{{ asset('/bundles/fo/js/comm-nivo1.js') }}"></script>
    <script src="{{ asset('/bundles/fo/js/jquery.ui.touch-punch.min.js') }}"></script>
{% endblock %}
