{% extends "FoBundle:Gestion:index.html.twig" %}

{% block gst_contents %}
<div>
    <div>
        <a href="{{path('his_commu')}}"><button class="btn btn-link">Communication</button></a>
        <a href="{{path('his_social')}}"><button class="btn btn-link">Socialisation</button></a>
    </div>
</div>
<div class="col-lg-12">
    {% block details %}{% endblock %}
</div>
{% endblock %}