{% extends "FoBundle:Gestion:index.html.twig" %}

{% block javascripts %}
{{ parent() }}
<script>
    $('#file-upload').find('input').change(function(){
        var fileName = $(this).val().split('/').pop().split('\\').pop();;
        var inputText =  $('#file-name').find('input');
        
        inputText.removeAttr('readonly');
        inputText.val(fileName);
        inputText.attr('readonly', 'readonly');
        
        console.log(inputText.val());
    });
</script>
{% endblock %}

{% block gst_contents -%}
    <h1>Image éditer</h1>

    {#{{ form(edit_form) }}#}
    {{form_start(edit_form)}}
    {{ form_errors(edit_form) }}

        <div class="form-group hidden">
          {{ form_label(edit_form.refEnfant, "Pour enfant:") }}
          {{ form_errors(edit_form.refEnfant) }}
          {{ form_widget(edit_form.refEnfant, { 'attr': {'class': 'form-control'} }) }}
        </div>  

        <div class="form-group">
          {{ form_label(edit_form.refPictogramme, "Mot:") }}
          {{ form_errors(edit_form.refPictogramme) }}
          {{ form_widget(edit_form.refPictogramme, { 'attr': {'class': 'form-control'} }) }}
        </div>  

        <div class="form-group" id="file-upload">
          {{ form_label(edit_form.file, "Fichier image:") }}
          {{ form_errors(edit_form.file) }}
          {{ form_widget(edit_form.file) }}
        </div>  

        <div class="form-group" id="file-name">
          {{ form_label(edit_form.url, "Nom d\image:") }}
          {{ form_errors(edit_form.url) }}
          {{ form_widget(edit_form.url, { 'attr': {'class': 'form-control'} }) }}
        </div>  

        <div class="form-group" id="">
          {{ form_label(edit_form.submit, "Mettre à jour:") }}
          {{ form_widget(edit_form.submit, { 'attr': {'class': 'form-control'} }) }}
        </div>  

    {{ form_rest(edit_form) }}
    {{ form_end(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('image') }}">
            Revenir à la liste
        </a>
    </li>
    <li>
        {{form_start(delete_form)}}
        {{ form_errors(delete_form) }}
        
        {#{{ form(delete_form) }}#}
        <div class="form-group">
          {{ form_label(delete_form.submit, "Supprimer:") }}
          {{ form_widget(delete_form.submit, { 'attr': {'class': 'form-control'} }) }}
        </div>
        
        {{ form_rest(delete_form) }}
        {{ form_end(delete_form) }}
    </li>
</ul>
{% endblock %}
