{% extends '::base.html.twig' %}
{% block body %}
<div class="container">
    <div class="sonata-user-show">
        {# menu left #}
        <div class="col-md-2 col-lg-2">
            <div id="cms-block-5329cee5a26ba" class="cms-block cms-block-element">
                <div class="list-group">
                    <a href="{{ path('enfant') }}" class="list-group-item ">Enfant</a>                    

                    <a href="{{ path('activite') }}" class="list-group-item ">Activité</a>                    

                    <a href="{{ path('historique') }}" class="list-group-item ">Historique</a>   
                    
                    <a href="{{ path('image') }}" class="list-group-item ">pictogramme personnalisé</a>          
                </div>
            </div>
        </div>
        
        {# contents #}
        <div class="col-md-10 col-lg-10">
                {% block gst_contents %}{% endblock %}
        </div>

    </div>
</div>
{% endblock %}
