{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends "ApplicationSonataUserBundle:Profile:action.html.twig" %}

{% block sonata_profile_title %}Authentication utilisateur - Éditer{% endblock %}

{% block sonata_profile_content %}

{#{% sonata_template_box 'Ceci is the user authentication edition template. Feel free to override it.' %}#}

<div class="panel panel-warning">
    <div class="panel-body">
        <div class="col-lg-6">
            <h4>{{ 'title_user_edit_authentication'|trans({}, 'SonataUserBundle') }}</h4>
            <form action="{{ path('sonata_user_profile_edit_authentication') }}" method="POST" class="form-horizontal">
                {#{{ form_widget(form) }}#}
                <div class="form-group">
                    {{ form_label(form.username, "Nom d'utilisateur:") }}
                    {{ form_errors(form.username) }}
                    {{ form_widget(form.username, { 'attr': {'class': 'form-control'} }) }}
                </div> 

                <div class="form-group">
                    {{ form_label(form.email, "Adresse e-mail:") }}
                    {{ form_errors(form.email) }}
                    {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
                </div> 

                <div class="form-group">
                    {{ form_label(form.current_password, "Mot de passe actuel:") }}
                    {{ form_errors(form.current_password) }}
                    {{ form_widget(form.current_password, { 'attr': {'class': 'form-control'} }) }}
                </div> 
                {{ form_rest(form) }}

                <div>
                    <input type="submit" name="submit" class="btn btn-primary pull-right" value="{{ 'sonata_user_submit'|trans({}, 'SonataUserBundle') }}" />
                </div>
            </form>
        </div>
        <div class="col-lg-6">
            <h4>{{ 'sonata_change_password_link'|trans({}, 'SonataUserBundle') }}</h4>
            {% render url("sonata_user_change_password") %}
        </div>
    </div>
</div>
{% endblock %}