{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends "ApplicationSonataUserBundle:Profile:action.html.twig" %}

{% block sonata_profile_title %}
    {{ "title_user_account" | trans({}, 'SonataUserBundle')}} - {{ "title_user_edit_profile" | trans({}, 'SonataUserBundle')}}
{% endblock %}

{% block sonata_profile_content %}
    {#{% sonata_template_box 'Ceci is the user profile edition template. Feel free to override it.' %}#}

    {{ form_errors(form) }}

    {% form_theme form _self %}

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">{{ "title_user_account" | trans({}, 'SonataUserBundle')}}</h3>
        </div>
        <div class="panel-body">
            <form action="{{ path('sonata_user_profile_edit') }}" method="POST" class="form-horizontal">
                
                
                {#{{ form_widget(form) }}#} 
                
                <div class="form-group">
                    <div class="col-md-6 col-sm-6">
                    {{ form_label(form.firstname, "Prénom:") }}
                    {{ form_errors(form.firstname) }}
                    {{ form_widget(form.firstname, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="col-md-6 col-sm-6">
                    {{ form_label(form.lastname, "Nom:") }}
                    {{ form_errors(form.lastname) }}
                    {{ form_widget(form.lastname, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div> 
                
                <div class="form-group">
                    <div class="col-md-6 col-sm-6">
                    {{ form_label(form.gender, "Civilité:") }}
                    {{ form_errors(form.gender) }}
                    {{ form_widget(form.gender, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="col-md-6 col-sm-6">
                    {{ form_label(form.dateOfBirth, "Date de naissance:") }}
                    {{ form_errors(form.dateOfBirth) }}
                    {{ form_widget(form.dateOfBirth, { 'attr': {'class': ''} }) }}
                    </div>
                </div> 
                
                <div class="form-group">
                    <div class="col-md-6 col-sm-6">
                        {{ form_label(form.phone, "Téléphone:") }}
                        {{ form_errors(form.phone) }}
                        {{ form_widget(form.phone, { 'attr': {'class': 'form-control'} }) }}

                    </div>
                    <div class="col-md-6 col-sm-6">
                        {{ form_label(form.website, "Site web:") }}
                        {{ form_errors(form.website) }}
                        {{ form_widget(form.website, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div> 
                
                <div class="form-group">
                    <div class="col-md-6 col-sm-6">
                    {{ form_label(form.locale, "langue:") }}
                    {{ form_errors(form.locale) }}
                    {{ form_widget(form.locale, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="col-md-6 col-sm-6">
                    {{ form_label(form.timezone, "Fuseau horaire:") }}
                    {{ form_errors(form.timezone) }}
                    {{ form_widget(form.timezone, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div> 
                
                <div class="form-group">
                    <div class="col-md-6 col-sm-6">
                    {{ form_label(form.biography, "Biographie:") }}
                    {{ form_errors(form.biography) }}
                    {{ form_widget(form.biography, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div> 
                {{ form_rest(form) }}
                
                <div class="form-actions">
                    <button type="submit" name="submit"  class="btn btn-register"><i class="fa fa-save"></i> {{ 'sonata_user_submit'|trans({}, 'SonataUserBundle') }}</button>
                </div>
            </form>
        </div>
    </div>

    {#{% render url("sonata_user_profile_edit_authentication") %}#}
{% endblock %}
