{% extends "FoBundle:Gestion:index.html.twig" %}

{% block gst_contents %}
{% block stylesheets %}
	{{parent()}}
	<style>
	.btn-register { margin-bottom: 2px;}
	.panel-connexion {margin-top: 10px;}
	</style>
{% endblock %}
		<div class="panel panel-info">
			
			<div class="panel-heading">
                <h2 style=" font-size: 1.8em; margin: 0px; " >Historiques {{app.session.get('enfant').nom|upper~" "~app.session.get('enfant').prenom|capitalize}}</h2>
            </div>

            <div class="panel-body">
				<h2 style=" font-size: 1.8em; margin: 10px; " >Communication</h2>

				{% block details %}
                {% if list_his_commu%}
				<div class="table-responsive">
                    <table class="table table-responsive table-bordered table-condensed table-striped">
                        <thead>
                            <tr class="btn-primary">
                                <th>#</th>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Date de nainssance</th>
                                <th>Niveau</th>
                                <th>Date</th>
                                <th>Phrase composée</th>
                            </tr>
                        </thead>
                        {% for i, his in list_his_commu %}
                        <tr> 
                            <td> {{ i+ 1 }} </td>
                            <td> {{ his.refEnfant.nom }} </td>
                            <td> {{ his.refEnfant.prenom }} </td>
                            <td> {{ his.refEnfant.dateDeNaissance|date('d m Y') }} </td>
                            <td> {{ his.refNiveau }} </td>
                            <td> {{ his.dateSaved | date('d/m/Y, H:i')}} </td>
                                {#  <td> {{ his.contenu | truncate(20, true, '...') }} </td>#}
                            <td> {{ his.contenu}} </td>
                        </tr>
                        {% endfor %}

                    </table>
				</div>
                                {# display navigation #}
                                <div class="navigation">
                                    {{ knp_pagination_render(list_his_commu) }}
                                </div>
                {% else %}
                    <h3>Il n'y a pas de record pour cet enfant.</h3>
                {% endif %}					
            
                <hr>

				<h2 style=" font-size: 1.8em; margin: 10px; ">Socialisation</h2>                   
                {% if list_his_social%}
                    <table class="table table-bordered table-condensed table-striped table-hover">
                        <thead>
                            <tr class="btn-primary">
                                <th>#</th>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Date de nainssance</th>
                                <th>Niveau</th>
                                <th>Date</th>
                                <th>Evaluation</th>
                                <th>Observation</th>
                            </tr>
                        </thead>
                        {% for i, his in list_his_social %}
                        <tr> 
                            <td> {{ i+ 1 }} </td>
                            <td> {{ his.refEnfant.nom }} </td>
                            <td> {{ his.refEnfant.prenom }} </td>
                            <td> {{ his.refEnfant.dateDeNaissance|date('d m Y') }} </td>
                            <td> {{ his.refEnfant.refNiveau }} </td>
                            <td> {{ his.dateSaved | date('d/m/Y, H:i')}} </td>
                                {#  <td> {{ his.contenu | truncate(20, true, '...') }} </td>#}
                            <td> 
                                    {% if his.evaluation == 0 %}Non favorable{% endif %}
                                    {% if his.evaluation == 1 %}Bon{% endif %}
                                    {% if his.evaluation == 2 %}Très bon{% endif %}
                            </td>
                            <td>{{ his.observation }}</td>
                        </tr>
                        {% endfor %}

                    </table>
                    {# display navigation #}
                    <div class="navigation">
                        {{ knp_pagination_render(list_his_social) }}
                    </div>
                {% else %}
                    <h3>Il n'y a pas de record pour cet enfant.</h3>
                {% endif %}					
            </div>         
        </div>
    {% endblock %}
{% endblock %}