{% extends "FoBundle:Gestion:index.html.twig" %}

{% block javascripts %}
{{ parent() }}
<script>
    // select refEnfant by default
    $('select.option-selected').find('option').attr('selected', 'selected');
    $('select.option-selected').parent('div').css('display' , 'none');
</script>
{% endblock %}

{% block gst_contents -%}
    <h1>Activité éditer</h1>

    {{form_start(edit_form)}}
    {{ form_errors(edit_form) }}

        <div class="form-group">
          {{ form_label(edit_form.titre, "Titre:") }}
          {{ form_errors(edit_form.titre) }}
          {{ form_widget(edit_form.titre, { 'attr': {'class': 'form-control'} }) }}
        </div>  

        <div class="form-group">
          {{ form_label(edit_form.dateDebut, "Date début:") }}
          {{ form_errors(edit_form.dateDebut) }}
          {{ form_widget(edit_form.dateDebut, { 'attr': {'class': ''} }) }}
        </div>  

        <div class="form-group" id="">
          {{ form_label(edit_form.dateFin, "Date Fin:") }}
          {{ form_errors(edit_form.dateFin) }}
          {{ form_widget(edit_form.dateFin) }}
        </div>  

        <div class="form-group" id="">
          {{ form_label(edit_form.statut, "Fini?") }}
          {{ form_errors(edit_form.statut) }}
          {{ form_widget(edit_form.statut, { 'attr': {'class': ''} }) }}
        </div>  

        <div class="form-group" id="">
          {{ form_label(edit_form.refPictogramme, "Pictogramme:") }}
          {{ form_errors(edit_form.refPictogramme) }}
          {{ form_widget(edit_form.refPictogramme, { 'attr': {'class': 'form-control'} }) }}
        </div>  

        <div class="form-group hidden" id="">
          {{ form_label(edit_form.refEnfant, "Enfant") }}
          {{ form_errors(edit_form.refEnfant) }}
          {{ form_widget(edit_form.refEnfant, { 'attr': {'class': 'form-control'} }) }}
        </div>  

        <div class="form-group" id="">
          {{ form_label(edit_form.submit, "Mettre à jour:") }}
          {{ form_widget(edit_form.submit, { 'attr': {'class': 'form-control'} }) }}
        </div>  

    {{ form_rest(edit_form) }}
    {{ form_end(edit_form) }}
    

        <ul class="record_actions">
    <li>
        <a href="{{ path('activite') }}">
            Revenir à la liste
        </a>
    </li>
    <li>
        {{form_start(delete_form)}}
        {{ form_errors(delete_form) }}
        
        {#{{ form(delete_form) }}#}
        <div class="form-group">
          {{ form_label(delete_form.submit, "Supprimer:") }}
          {{ form_widget(delete_form.submit, { 'attr': {'class': 'form-control'} }) }}
        </div>
        
        {{ form_rest(delete_form) }}
        {{ form_end(delete_form) }}
    </li>
</ul>
{% endblock %}
