{% extends "FoBundle:Gestion:index.html.twig" %}

{% block javascripts %}
{{ parent() }}
<script>
    // select refEnfant by default
    $('select.option-selected').find('option').attr('selected', 'selected');
    $('select.option-selected').parent('div').css('display' , 'none');
</script>
{% endblock %}

{% block gst_contents -%}
    <h1>Activité création</h1>

    {{ form(form) }}
    

        <ul class="record_actions">
    <li>
        <a href="{{ path('activite') }}">
            Revenir à la liste
        </a>
    </li>
</ul>
{% endblock %}
