{% extends "::base.html.twig" %}

{% block title %}{{parent()}} - Planning{% endblock %}

{% block stylesheets %}    {{parent()}}
<link href="{{ asset('/bundles/fo/css/planning.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}    {{parent()}}
    <script src="{{ asset('/bundles/fo/js/planning.js') }}"></script>
{% endblock %}

{% block body %}
	<div id="content" class="panel panel-primary">
        <div class="panel-heading">
            <h3 style="color:white;">Emploi du temps {{ limite_planning_message }}
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <b class="glyphicon glyphicon-cog"></b> Modifier l'affichage <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                    <li class=""><a href="{{ path('planning_view', {'limite_planning' : 'jour'}) }}">Journée</a></li>
                    <li class=""><a href="{{ path('planning_view', {'limite_planning' : 'week'}) }}">Semaine</a></li>
                    <li class=""><a href="{{ path('planning_view', {'limite_planning' : 'mois'}) }}">Mois</a></li>
                    </ul>
                </div>
            </h3>
        </div>
		<div class="panel-body">
			{% set index_activity = 1 %}
			{% set trans_days = {'Mon': 'Lundi', 'Tue': 'Mardi','Wed': 'Mercredi', 'Thu': 'Jeudi', 'Fri': 'Vendredi', 'Sat': 'Samedi', 'Sun': 'Dimanche'} %}
			{% set trans_months = {'Jan': 'janvier', 'Feb': 'février', 'Mar': 'mars', 'Apr': 'avril', 'May': 'mai', 'Jun': 'juin', 'Jul': 'juillet', 'Aug': 'août', 'Sept': 'septembre', 'Oct': 'octobre', 'Nov': 'novembre', 'Dec': 'décembre'} %}
			
			<div class="">	
				<div class="btn-group" id="limite_planning">
					<a class="btn btn-default {{ limite_planning|active_link('jour') }}" id="jour" href="{{ path('planning_view', {'limite_planning' : 'jour'}) }}"> Jour  </a>
					<a class="btn btn-default {{ limite_planning|active_link('week') }}" id="week" href="{{ path('planning_view', {'limite_planning' : 'week'}) }}"> Semaine  </a>
					<a class="btn btn-default {{ limite_planning|active_link('mois') }}" id="month" href="{{ path('planning_view', {'limite_planning' : 'mois'}) }}"> Mois  </a>
				</div>
                                |
                                {# Buttons 3 jours #}
				<div class="btn-group" id="yesterday_today_tomorrow">
					<a class="btn btn-default {{ limite_planning|active_link('hier') }}" id="hier" href="{{ path('planning_view', {'limite_planning' : 'hier'}) }}"> Hier  </a>
					<a class="btn btn-primary {{ limite_planning|active_link('aujourdhui') }}" id="aujourdhui" href="{{ path('planning_view', {'limite_planning' : 'aujourdhui'}) }}"> Aujourd'hui  </a>
					<a class="btn btn-default {{ limite_planning|active_link('demain') }}" id="demain" href="{{ path('planning_view', {'limite_planning' : 'demain'}) }}"> Demain  </a>
				</div>
				<br >
				
				{% if limite_planning == "jour" %}
					<br >
					<div class="btn-group" id="interval_planning">
						{% for n, d in days_list %}
							<a data-toggle="buttons" role="{{n}}" class="btn btn-default {% if days_list2[n]  is defined %}active{% endif %}" id='{{d}}'> {{ d|replace(trans_days) }}  </a>
						{% endfor %}
					</div>
					<a id="valider" class="btn btn-valid">Valider</a>	
					<p class="result"></p>
				{% endif %}
				
			</div>
				
			<br >

			{% for m, days in dates %}
				{% if loop.last %} {% set  last_loop = true %} {% endif %}
			    <div class='month' id='{{m}}'>
			    	<table class='table table-bordered table-condensed planning'>
			    		<thead>
                            <tr class='btn-primary'>
                                <td>#</td>
                                    {% if limite_planning == "jour" or limite_planning == "aujourdhui"%}
                                        {% if days_list2 %}
                                            {% for d in days_list2 %}
                                                <td>{{ d|replace(trans_days) }}</td>
                                            {% endfor %}
                                        {% else %}
                                            <td style="width:90%;"> {{ 'now'|date('D')|replace(trans_days) }} </td>
                                        {% endif %}
                                    {% elseif limite_planning == "hier" %}
                                            <td style="width:90%;"> {{ 'yesterday'|date('D')|replace(trans_days) }} </td>
                                    {% elseif limite_planning == "demain" %}
                                            <td style="width:90%;"> {{ 'tomorrow'|date('D')|replace(trans_days) }} </td>
                                    {% else %}
                                        {% for d in days_list %}
                                            {# afficher jours de la semaine #}
                                            <td>{{ d|replace(trans_days) }}</td>
                                        {% endfor %}
                                    {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{#Activité {{index_activity}}#} </td>
                                    {% for d, w in days %}
                                        {% set time = 'now'|date('Y')~'-'~m~'-'~d %}

                                        {% if d == 1 %}
                                                <td colspan="{{w-1}}"></td>
                                        {% endif %}
                                <td class="bnt btn-default 
                                        {% if 'now'|date('d/m/Y') == time|date('d/m/Y') %} 
                                            info 
                                        {% elseif 'now'|date('d/m/Y') > time|date('d/m/Y') %} 
                                            warning 
                                        {% endif %}" 
                                > 
                                {#   show the dates  #}
                                {{ time|date('d M Y')|replace(trans_months) }} 
                                    {#   show the activities  #}
                                    {% for row_time_start, activite in activites_v2 %}
                                        {% for row in activite %}
                                            {% if row.dateDebut |date('Ymd') <= time|date('Ymd') and row.dateFin |date('Ymd') >= time|date('Ymd') %}
                                            <div class="btn btn-info btn-block" id="{{row.id}}"
                                               style="
                                               position: relative;
                                                {# ========Si l'activité d'aujourd'hui est passée======== #}
                                                {% if 'now'|date('d/m/Y') == time|date('d/m/Y') and "now"|date('YmdHis') > row.dateFin|date('YmdHis') %}
                                                    opacity: .3;
                                                {% endif %}
                                               ">
                                               {# ========Si l'activité est mentionnnée comme finie======== #}
                                                {% if row.statut == 1 %}
                                                <img src="/bundles/fo/img/ico_cancel.png" 
                                                     class="picto-image"
                                                     style="height: 100px; width: 100px; 
                                                     margin-left: -18px;
                                                     margin-top: -5px;
                                                     position: absolute; text-align: center; vertical-align: middle;"/>
                                                {% endif %}
                                                {# ========Utiliser image - picto personnalisé======== #}
                                                {% if row.refPictogramme.imgUrl is not empty %}
                                                    {% set img = row.refPictogramme.imgUrl %}
                                                    <img id="{{ row.dateDebut | date('Y-m-d H:i:s') }}" class="picto-image" src="{{ asset('/uploads/images/img-perso/'~img )}}" alt="{{row.titre}}">
                                                {% else %}
                                                {# ========Utiliser picto original======== #}
                                                    {% set img =  row.refPictogramme.pictoUrl  %}
                                                    <img id="{{ row.dateDebut | date('Y-m-d H:i:s') }}" class="picto-image" src="{{ asset('/uploads/images/picto/'~img )}}" alt="{{row.titre}}">
                                                {% endif %}
						{# ========Afficher titre d'activité======== #}
                                                    <p id="{{ row.dateFin | date('Y-m-d H:i:s') }}" >{{ row.titre }}</p>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                </td>
                            {% if w == 7 and limite_planning == 'mois' %}
                            {% set index_activity = index_activity + 1 %}
                        </tr>
                        <tr><td>{#Activité {{index_activity}}#} </td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    </tbody>
	</table>

</div>
{% endfor %}

{# === Add a child === #}
<a href="{{ path('planning_add_activite') }}" class="btn btn-valid" ><i class="fa fa-plus"></i> Ajouter une activité dans le planning</a>

</div>
{% endblock %}
