{% extends '::base.html.twig' %}

{% block javascripts %}
{{parent() }}
<script>
	// select refEnfant by default
	$('select.option-selected').find('option').attr('selected', 'selected');
	$('select.option-selected').parent('div').css('display' , 'none');
</script>
{% endblock %}

{% block stylesheets %}
{{parent()}}
<style>
.panel-connexion {margin-top: 10%;}
</style>
{% endblock %}

{% block body %}
	{# L'utilisateur est-il connecté ? #}
	{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
		{# L'utilisateur est connecté ! #}

		{# L'utilisateur est-il admin ? #}
		{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EDUCATEUR') or is_granted('ROLE_PARENT')%}
			{# L'utilisateur est admin ou educateur ou parent! #}
			<div class="panel panel-info">

				<div class="panel-heading">
						<h2  class="panel-title">Créer une activité</h2>
				</div>
				<div class="panel-body">

{#{{ form(formAdd) }}#}
					{{form_start(formAdd)}}
					{{form_errors(formAdd) }}

					<div class="row">
						<div class="col-md-6 col-sm-6">
							<div class="form-group">
								{{form_label(formAdd.titre, "Titre:") }}
								{{form_errors(formAdd.titre) }}
								{{form_widget(formAdd.titre, { 'attr': {'class': 'form-control', 'placeholder' : 'Titre'} }) }}
							</div>
						</div>

						<div class="col-md-6 col-sm-6">
							<div class="form-group" id="">
								{{form_label(formAdd.refPictogramme, "Pictogramme:") }}
								{{form_errors(formAdd.refPictogramme) }}
								{{form_widget(formAdd.refPictogramme, { 'attr': {'class': 'form-control'} }) }}
							</div>  
						</div>
					</div>

					<div class="form-group hidden" id="">
						{{form_label(formAdd.refEnfant, "Enfant") }}
						{{form_errors(formAdd.refEnfant) }}
						{{form_widget(formAdd.refEnfant, { 'attr': {'class': 'form-control option-selected'} }) }}
					</div>  

					<div class="row">
						<div class="col-md-6 col-sm-6">
							<div class="form-group">
								{{form_label(formAdd.dateDebut, "Date début:") }}
								{{form_errors(formAdd.dateDebut) }}
								{{form_widget(formAdd.dateDebut, { 'attr': {'class': ''} }) }}
							</div>
						</div>  

						<div class="col-md-6 col-sm-6">
							<div class="form-group" id="">
								{{form_label(formAdd.dateFin, "Date Fin:") }}
								{{form_errors(formAdd.dateFin) }}
								{{form_widget(formAdd.dateFin, { 'attr': {'class': ''} }) }}
							</div>
						</div>
					</div>
					<div class="col-md-12 col-sm-12">
						<div class="form-group" id="">
							<span class="checkbox">
								{{form_label(formAdd.statut, "L'activité est INDISPONIBLE") }}
								{{form_errors(formAdd.statut) }}
								{{form_widget(formAdd.statut) }}
							</span>
						</div>
					</div> 

					<div class="form-group row">
						<div class="col-sm-6">
						{{form_label(formAdd.submit, "Ajouter") }}
						{{form_widget(formAdd.submit, { 'attr': {'class': 'btn btn-block btn-register'} }) }}
						</div> 
						<div class="col-sm-6">
						<a href="{{ path('planning') }}"  class="btn btn-block btn-info"><i class="fa fa-reply"></i> Revenir sur le planning </a>
						</div>
					</div>
					{{form_rest(formAdd) }}
					{{form_end(formAdd) }}
				</div>
			</div>
		{% endif %}
	{% else %}
		{# L'utilisateur n'est pas connecté ! #}
	{% endif %}
{% endblock %}
