{% extends '::base.html.twig' %}
{% block body %}
<div class="row">
    <h4 style="color: #000000">
        {{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}
    </h4>
</div>
{% endblock %}