{% extends '::base.html.twig' %}
{% block body %}
{% block stylesheets %}
	{{parent()}}
<style>

    body {
        background: url({{ asset('/bundles/fo/img/bg_login.jpg') }}) no-repeat center bottom fixed #7fd5eb;
    }
    header { display: none; }
</style>
{% endblock %}
<div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2 class="panel-title">Réinitialiser le mot de passe</h2>
            </div>
            <div class="panel-body">
                <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12">
					{% if invalid_username is defined %}
                            <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</p>
					{% endif %}
                            <input type="text" id="username" class="form-control" name="username" required="required" placeholder ="Nom d'utilisateur ou Adresse e-mail"/>
                        </div>
                    </div>
                    <br/>
                    <br/>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-12">
                            <input type="submit" value="Réinitialiser" class="btn btn-block btn-register" />
{#                            <input type="submit" value="{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}" class="btn btn-block btn-register" />#}
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <a href="{{path('fos_user_security_login')}}" class="btn btn-back btn-block">Retour</a>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}