{% extends '::base.html.twig' %}
{% block body %}
<div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2 class="panel-title">Réinitialiser le mot de passe</h2>
            </div>
            <div class="panel-body">
                <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
{#                    {{ form_widget(form) }}#}
                    {{ form_errors(form) }}

                    {% form_theme form _self %}
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12">
{#                            {{ form_label(form.new.first, "Mot de passe:") }}#}
                            {{ form_errors(form.new.first) }}
                            {{ form_widget(form.new.first, { 'attr': {'class': 'form-control', 'placeholder': 'Mot de passe'} }) }}
                        </div>
                    </div>
                    <br/>
                    <br/>
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12">
{#                            {{ form_label(form.new.second, "Mot de passe:") }}#}
                            {{ form_errors(form.new.second) }}
                            {{ form_widget(form.new.second, { 'attr': {'class': 'form-control', 'placeholder': 'Vérification'} }) }}
                        </div>
                    </div>
                        {{ form_rest(form) }}
                    <br/>
                    <br/>
                    <div class="col-md-12 col-sm-12">
                        <input type="submit" class="btn btn-block btn-register" value="{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
