{% extends "::base.html.twig" %}

{% block title %}Socialisation{% endblock %}

{% block stylesheets %}    {{parent()}}
<link href="{{ asset('/bundles/fo/css/planning.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}    {{parent()}}
    <script src="{{ asset('/bundles/fo/js/planning.js') }}"></script>
{% endblock %}

{% block body %}

	<br>
	<div class="container bg">
		<div class="starter-template">
			<h1>Socialisation</h1>
			<p class="lead">L'outil de socialisation est une aide aux enfants autistes pour comprendre l'expression des vécus et des expression d'autruis.</p>

			<div class="row">
				<div class="col-md-6">
					<h3>Séléctionner un enfant</h3>
					{% if list_educateur_enfant%}
					<table class="table table-bordered table-condensed table-striped table-hover">
						<thead>
							<tr class="btn-primary">
								<td>#</td>
								<td>Nom</td>
	 							<td>Prénom</td>
								<td>Date de nainssance</td>
								<td>Niveau</td>
								<td>Observation</td>
								<td>Actions</td>
							</tr>
						</thead>
						{% for i, enfant in list_educateur_enfant %}
						<tr> 
							<td> {{ i+ 1 }} </td>
							<td> {{ enfant.nom }} </td>
							<td> {{ enfant.prenom }} </td>
							<td> {{ enfant.dateDeNaissance|date('d m Y') }} </td>
							<td> {{ enfant.refNiveau }} </td>
							<td> {{ enfant.observation | truncate(20, true, '...') }} </td>
							<td class=''>  
								<a class="btn btn-xs btn-success"  href="{{ path('socialisation_sceance', { 'enfant_id': enfant.id, 'exercice_id': null }) }}">Evaluer</a>  
								<a class="btn btn-xs btn-info"  href="{{ path('so_update_child', { 'enfant_id': enfant.id }) }}">Modifier </a>  
							</td>
						</tr>
						{% endfor %}
						
					</table>
					{% endif %}					
				</div>
				<div class="col-md-6">
					<h3>Ajouter un enfant</h3>
					<form action="{{ path('socialisation') }}" method="post" {{ form_enctype(form) }}>

						{{ form_errors(form) }}

						<div class="form-group">
						  {{ form_label(form.nom, "Nom de l'enfant") }}
						  {{ form_errors(form.nom) }}
						  {{ form_widget(form.nom, { 'attr': {'class': 'form-control'} }) }}
						</div>

						<div class="form-group">
						  {{ form_label(form.prenom, "Prénom de l'enfant") }}
						  {{ form_errors(form.prenom) }}
						  {{ form_widget(form.prenom, { 'attr': {'class': 'form-control'} }) }}
						</div>

						<div class="">
						  {{ form_label(form.dateDeNaissance, "Date de naissance") }}
						  {{ form_errors(form.dateDeNaissance) }}
						  {{ form_widget(form.dateDeNaissance, { 'attr': {'class': 'form-group'} }) }}
						</div>
						{{ form_rest(form) }}
						
						<input type="submit" class="btn btn-primary" />
					</form>
				</div>
				
			</div>
		</div>
	</div>
			
{% endblock %}