{% extends "::base.html.twig" %}

{% block title %}Socialisation - {{enfant.nom~" "~enfant.prenom}}  {% endblock %}

{% block stylesheets %}    {{parent()}}
<link href="{{ asset('/bundles/fo/css/planning.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}    {{parent()}}
    <script src="{{ asset('/bundles/fo/js/planning.js') }}"></script>
{% endblock %}

{% block body %}

	<br>
	<div class="container bg">
		<div class="starter-template">
			<h1>Séance enfant : {{enfant.nom~" "~enfant.prenom}} </h1>
                        {% if pptg is defined %}
                                {% set taux = pptg %}
                        {% else %}
                                {% set taux = 0 %}
                        {% endif %}

                        <div class="progress">
                          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{taux}}" aria-valuemin="0" aria-valuemax="100" style="width: {{taux}}%;">
                                
                          </div>
                        </div> 
			<p class="lead">
				{% if exercice != null  %}
				<a class="btn btn-sm btn-primary"  href="{{ path('socialisation_sceance', { 'enfant_id': enfant.id, 'exercice_id': null }) }}">Choisir une autre question</a> 
				{% endif %}
				{#{% if enfant != null  %}
				<a class="btn btn-sm btn-primary"  href="{{ path('socialisation') }}">Séléctionner un autre enfant</a> 
				{% endif %}#}
			</p>
			<hr>
			{% if exercice == null  %}
				{% if list_exercices%}
				<p> <span class="btn btn-primary btn-xs disabled">Question à faire</span> <span class="btn btn-success btn-xs disabled">Question faite</span> </p>
				<ul><strong>Liste des questions: </strong>
					{% for i, exercice in list_exercices%}
					<li style="display: block; margin-bottom: 5px"> <a class="btn btn-xs btn-primary {% if exercice.is_done %} btn-success {% endif %}"  href="{{ path('socialisation_sceance', { 'enfant_id': enfant.id, 'exercice_id': exercice.id }) }}">{{ exercice.question  }}</a> </li>
					{% endfor %}
				</ul>
				{% endif %}
			{% else %}
					<div class="col-md-4 col-lg-4 alert alert-info">
						<p> <strong>Question</strong> : {{exercice.question}} </p>
						<hr>
						<p> <strong>Objectif</strong> : {{exercice.objectif}} </p>
					</div>
					<div class="col-md-8 col-lg-8 well">
						<img class="picto-exercice" src="{{ asset('/uploads/images/picto/'~exercice.refPictogramme )}}" width="35%">
					</div>
			{% endif %}

		</div>
			{% if exercice != null  %}
				<form action="{{ path('socialisation_sceance', { 'enfant_id': enfant.id, 'exercice_id': exercice.id }) }}" method="post" {{ form_enctype(form) }}>

					{{ form_errors(form) }}

					<div class="">
					  {{ form_label(form.evaluation, "Evaluation") }}
					  {{ form_errors(form.evaluation) }}
					  {#{{ form_widget(form.evaluation, { 'attr': {'class': ''} }) }}#}
					  {{ form_label(form.evaluation.placeholder, 'None') }}
					  {{ form_widget(form.evaluation.placeholder, { 'attr': {'class': ''} }) }}
					  {{ form_label(form.evaluation.0, 'AB') }}
					  {{ form_widget(form.evaluation.0, { 'attr': {'class': ''} }) }}
					  {{ form_label(form.evaluation.1, 'B') }}
					  {{ form_widget(form.evaluation.1, { 'attr': {'class': ''} }) }}
					  {{ form_label(form.evaluation.2, 'TB') }}
					  {{ form_widget(form.evaluation.2, { 'attr': {'class': ''} }) }}
					</div>

					<div class="form-group">
					  {{ form_errors(form.observation) }}
					  {{ form_widget(form.observation, { 'attr': {'class': 'form-control', 'placeholder': 'Observation'} }) }}
					</div>
					{{ form_rest(form) }}
					
					<input type="submit" class="btn btn-register" value ="Valider" />
				</form>
			{% endif %}
	</div>
			
{% endblock %}
