/* --- Font --- */
@font-face {
Font-family : hobo ;
Src :  url('/bundles/fo/fonts/HoboStd.otf') ;
}

@font-face {
Font-family : boli ;
Src :  url('/bundles/fo/fonts/mvboli.ttf') ;
}

/* --- Color --- */

@dark-green : #8A9738;
@blue : #3499e3;


/* --- Default --- */
body {
	background: url('/bundles/fo/img/bg_app.jpg') no-repeat center bottom fixed #7fd5eb;
}
input[type="text"] {
	border-radius: 0px;
	border: 1px solid #C5C5C5;
}
ul, ol {
    list-style: none outside none;
    margin-bottom: 10px;
    margin-top: 0;
}

h3, h4 {color : #51A9C0; margin : 1em 0 ;}

/* --- Login --- */

.titre {display: hidden;}

.rotate(@rotation) {
 -webkit-transform: rotate(@rotation);
	-moz-transform: rotate(@rotation);
	-ms-transform: rotate(@rotation);
	-o-transform: rotate(@rotation);
	transform: rotate(@rotation);
}

.panel-connexion
{
	margin-top: 20%;
	position: relative;
	overflow: visible;
	background-color: rgba(255, 255, 255, 0.7);
	text-align: left;
	border-radius: 10px;
	.panel-heading {
		background-color: rgba(0, 0, 0, 0);
		h1 {display:none; text-align: center;}
		h2 {text-align: center;}
		img {margin: 1.3em auto;}
	}
	.form-group {
		input {
			border-radius: 0;
		}
		input[name="_username"] {
		
			border-color: #c5c5c5;
			border-style: solid;
			border-width: 2px 2px 0;
		}
		input[name="_password"] {
		
			border-color: #c5c5c5;
			border-style: solid;
			border-width: 0 2px 2px;
		}
	}
	
	&:before {

	background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
	background-color: rgba(255, 255, 255, 0.3);
	.rotate(10deg);
	}
}


.col-bt-connexion {
			float: right;
			position: absolute;
			right: 0;
			width: 37.333%;
	
	input {
		width:90%;
		height: 68px;
		float: left;
		position: relative;
		overflow: hidden;
		
		background: #369ce7; /* Old browsers */
		background: url("/bundles/fo/img/sprite-ico.png") no-repeat right 0, -moz-radial-gradient(center, ellipse cover,  #369ce7 0%, #2982cb 100%); /* FF3.6+ */
		background: url("/bundles/fo/img/sprite-ico.png") no-repeat right 0, -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#369ce7), color-stop(100%,#2982cb)); /* Chrome,Safari4+ */
		background: url("/bundles/fo/img/sprite-ico.png") no-repeat right 0, -webkit-radial-gradient(center, ellipse cover,  #369ce7 0%,#2982cb 100%); /* Chrome10+,Safari5.1+ */
		background: url("/bundles/fo/img/sprite-ico.png") no-repeat right 0, -o-radial-gradient(center, ellipse cover,  #369ce7 0%,#2982cb 100%); /* Opera 12+ */
		background: url("/bundles/fo/img/sprite-ico.png") no-repeat right 0, -ms-radial-gradient(center, ellipse cover,  #369ce7 0%,#2982cb 100%); /* IE10+ */
		background: url("/bundles/fo/img/sprite-ico.png") no-repeat right 0, radial-gradient(ellipse at center,  #369ce7 0%,#2982cb 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#369ce7', endColorstr='#2982cb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	}
}

.form-horizontal .control-label, .form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0px;
}

.btn-register{
    color: @dark-green;
	border-radius: 0;
    display: inline-block;
    font-size: 16px;
    height: 42px;
    margin: 1em 0 0;
    padding: 8px;
    text-shadow: 1px 1px 0 #FFFFFF;
    vertical-align: middle;
    width: 100%;
	
	background: #dff35b; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #dff35b 0%, #c2d647 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#dff35b), color-stop(100%,#c2d647)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #dff35b 0%,#c2d647 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #dff35b 0%,#c2d647 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #dff35b 0%,#c2d647 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #dff35b 0%,#c2d647 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dff35b', endColorstr='#c2d647',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.btn-valid {
	color: #fff;
	width: 100%;
	border-radius: 0;
    display: inline-block;
	background: #369ce7; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #369ce7 0%, #2982cb 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#369ce7), color-stop(100%,#2982cb)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #369ce7 0%,#2982cb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #369ce7 0%,#2982cb 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #369ce7 0%,#2982cb 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #369ce7 0%,#2982cb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#369ce7', endColorstr='#2982cb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.btn-back {

	background: #ffffff; /* Old browsers */
background: url("/bundles/fo/img/sprite-ico.png") no-repeat 14px -88px, -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #e7e7e7 100%); /* FF3.6+ */
background: url("/bundles/fo/img/sprite-ico.png") no-repeat 14px -88px, -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(100%,#e7e7e7)); /* Chrome,Safari4+ */
background: url("/bundles/fo/img/sprite-ico.png") no-repeat 14px -88px, -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#e7e7e7 100%); /* Chrome10+,Safari5.1+ */
background: url("/bundles/fo/img/sprite-ico.png") no-repeat 14px -88px, -o-radial-gradient(center, ellipse cover,  #ffffff 0%,#e7e7e7 100%); /* Opera 12+ */
background: url("/bundles/fo/img/sprite-ico.png") no-repeat 14px -88px, -ms-radial-gradient(center, ellipse cover,  #ffffff 0%,#e7e7e7 100%); /* IE10+ */
background: url("/bundles/fo/img/sprite-ico.png") no-repeat 14px -88px, radial-gradient(ellipse at center,  #ffffff 0%,#e7e7e7 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7e7e7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

width: 100%;
margin-top: 1em;
}
.delete {background-color: #F36201 !important;
    color: #FFFFFF !important;
    margin-top: 1em;}

.select {
	width: 100% !important;
}
#terreplurielle_bundle_fobundle_activite_observation {margin : 12px 0;}
#terreplurielle_bundle_fobundle_activite_dateDeNaissance select, #terreplurielle_bundle_fobundle_activite_refNiveau,
#terreplurielle_bundle_fobundle_activite_refNiveau {
		margin-bottom: 0;
		background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    display: block;
    float: left;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    margin-left: 10px;
	margin-top: 10px;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 26.6667%;
}
#terreplurielle_bundle_fobundle_activite_file {
	padding : 0 0;
	margin-bottom: 1em;
}

/* --- icon sprite --- */

.sprite {
	float: left;
    height: 24px;
    margin-left: 0;
    margin-top: 17px;
    position: relative;
    width: 24px;
}

.birthday {background: url("/bundles/fo/img/sprite-ico2.png") no-repeat 0 0;}
.niveau{background: url("/bundles/fo/img/sprite-ico2.png") no-repeat scroll -24px 0px rgba(0, 0, 0, 0);}
.show {background: url("/bundles/fo/img/sprite-ico2.png") no-repeat scroll 0px -24px rgba(0, 0, 0, 0);margin-right: 9px;
    margin-top: 0;}
.edit {background: url("/bundles/fo/img/sprite-ico2.png") no-repeat scroll -24px -24px rgba(0, 0, 0, 0);margin-right: 9px;
    margin-right: 0; margin-top: 0;}

.btn-play, .btn-play-phrase, .btn-save, .btn-negation {width: 42px; height: 42px;}
.btn-play {background: url("/bundles/fo/img/sprite-ico3.png") no-repeat scroll 0px 0px rgba(0, 0, 0, 0);}
.btn-play-phrase {background: url("/bundles/fo/img/sprite-ico3.png") no-repeat scroll -43px 0px rgba(0, 0, 0, 0);}
.btn-save {background: url("/bundles/fo/img/sprite-ico3.png") no-repeat scroll 0px -44px rgba(0, 0, 0, 0);}
.btn-negation{background: url("/bundles/fo/img/sprite-ico3.png") no-repeat scroll -43px -43px rgba(0, 0, 0, 0)}

/* --- css autiste --- */
.panel-autiste {background-color: rgba(255, 255, 255, 0.8); border-radius: 4px;}
#gallery {height: 154px;}
    #gallery, #ul-theme { 
        float: left;
    margin: 1em 0;
    position: relative;
    width: 100%;
    z-index: 1;
	background-color: #47c5e5;
	padding: 10px;
    }
    .gallery.custom-state-active { 
        background: #eee; 
    }
    #gallery li, #ul-theme li { 
         background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
		border: 0 solid #FFFFFF;
		float: left;
		padding: 0.4em;
		text-align: center; 
		border-right: 1px solid #7fd5eb;
		border-radius: 0 !important;
    }
    .gallery li:hover { 
        cursor: move;
    }
	.gallery li, .theme-gal li { 
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    float: left;
    margin: 0 0.4em 0.4em 0;
    padding: 0.4em;
    text-align: center; 
    }
    .theme-gal li:hover { 
        cursor: pointer;
    }
	
    .theme-pictos { 
        float: left; 
        width: 50%; 
        min-height: 6em; 
    }
    
    
    .picto-mot, .picto-phrase {
        margin: auto;
    }
    #box { 
        //float: left; 
        //width: 32%; 
        min-height: 11em; 
        padding: 1%;
		background: none repeat scroll 0 0 #7FD5EC;		
    }
    .picto-div {
           margin: auto;
			text-align: center;
			width: auto;
			
    }
    .picto-image {
        width: 100px;
        height: 100px !important;
        display: inline;
    }
    .picto-p {
        color: #FFEFEE;
    font-family: boli;
    font-size: 22px;
    margin: 8px;
    width: auto;
    }
    .zone-text {
        display: inline-block;
    }
	#zone-text {
        text-align: center;
    }

    .highlight { 
        background-color: yellow; 
    }
	.theme-picto-div {text-align: center;}

    #div-phrase-composee {
        background: none repeat scroll 0 0 #FFFFFF;
		border: 2px solid #47C5E5;
		font-family: hobo;
		font-size: 18px;
		margin-top: 1em;
		min-height: 30px;
		text-align: center;	
		p {
			margin: 5px 0 !important;
			
		}
    }
	
	// ======= niveau II ========
    .toggler { 
        width: 50%; 
        height: 200px; 
    }
    #button { 
        padding: .5em 1em; 
        text-decoration: none; 
    }
    #effect { 
        width: 80%; 
        height: 180px; 
        padding: 0.4em; 
        position: relative; 
        margin: auto;
    }
    #effect h3 { 
        margin: 0; 
        padding: 0.4em; 
        text-align: center; 
    }   
	
	.ui-widget-content {
    border: 1px solid #AAAAAA;
    color: #222222;
	background: white;
    border: 0 solid #AAAAAA;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    background: none repeat scroll 0 0 #FFFFFF;
    color: gray;
}
.bg {background-color: white; padding: 1em;}
/* --- Footer --- */

footer{z-index: 0;margin-top: 1em;}