{% if pptg is defined %}
    {% set taux = pptg %}
{% else %}
    {% set taux = 0 %}
{% endif %}
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="{{taux}}" aria-valuemin="0" aria-valuemax="100" style="width: {{taux}}%;">
    <span class="sr-only">{{taux}}% Complete</span>
  </div>
</div>