{% extends "::base.html.twig" %}

{% block title %}Socialisation - {{enfant.nom~" "~enfant.prenom}}  {% endblock %}

{% block stylesheets %}    {{parent()}}
<link href="{{ asset('/bundles/fo/css/planning.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}    {{parent()}}
	<script src="{{ asset('/bundles/fo/js/planning.js') }}"></script>
{% endblock %}

{% block body %}
	{% if pptg is defined %}
		{% set taux = pptg %}
	{% else %}
		{% set taux = 0 %}
	{% endif %}

	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 style="color:white">Séance de socialisation</h3>
			<!-- {{taux}}% de bonne réponse, <small>(Ici chaque bonne réponse vaux 0.5%)</small> -->
			<div class="progress progress-striped active">
              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{taux}}" aria-valuemin="0" aria-valuemax="100" style="width: {{taux}}%;">
              </div>
            </div> 
		</div> 
		<div class="panel-body">    	
			<div class="starter-template">
				<p class="lead">
					{% if exercice != null  %}
						<a class="btn btn-sm btn-info"  href="{{ path('socialisation_sceance', { 'enfant_id': enfant.id, 'exercice_id': null }) }}"><i class="fa fa-reply"></i> Choisir une autre question</a> 
					{% endif %}
					<hr>
				</p>
				
				{% if exercice == null  %}
					{% if list_exercices%}
						<p> <span class="label label-success"><i class="fa fa-check-square-o"></i> Question(s) faite(s)</span> </p>
						<strong>Liste des questions: </strong>
						<div class="list-group">
							{% for i, exercice in list_exercices%}
								{% set question = exercice.question %}
								{% if exercice.is_done %} 
									<a class="list-group-item list-group-item-success" href="{{path('socialisation_sceance',{'enfant_id':enfant.id,'exercice_id':exercice.id })}}" ><i class="fa fa-check-square-o"></i> <strong>{{ question }}</strong></a> 
								{% else %}
									<a class="list-group-item list-group-item-info" href="{{path('socialisation_sceance',{'enfant_id':enfant.id,'exercice_id':exercice.id })}}" ><i class="fa fa-square-o"></i> <strong>{{ question }}</strong> </a> 
								{% endif %}
							{% endfor %}
						</div>
					{% endif %}
				{% else %}
					<div class="thumbnail">
						<img class="picto-exercice" src="{{ asset('/uploads/images/picto/'~exercice.refPictogramme )}}" style="max-width: 35%">
						<div class="caption">
							<h3> <strong>Question</strong> : {{exercice.question}} </h3>
							<p> <strong>Objectif</strong> : {{exercice.objectif}} </p>
						</div>
					</div>
				{% endif %}

			</div>
			{% if exercice != null  %}
				<form action="{{ path('socialisation_sceance', { 'enfant_id': enfant.id, 'exercice_id': exercice.id }) }}" method="post" {{ form_enctype(form) }}>

					{{ form_errors(form) }}

					<div class="">
					  {{ form_label(form.evaluation, "Evaluation") }}
					  {{ form_errors(form.evaluation) }}
					  {#{{ form_widget(form.evaluation, { 'attr': {'class': ''} }) }}#}
					  {{ form_label(form.evaluation.placeholder, 'None') }}
					  {{ form_widget(form.evaluation.placeholder, { 'attr': {'class': ''} }) }}
					  {{ form_label(form.evaluation.0, 'AB') }}
					  {{ form_widget(form.evaluation.0, { 'attr': {'class': ''} }) }}
					  {{ form_label(form.evaluation.1, 'B') }}
					  {{ form_widget(form.evaluation.1, { 'attr': {'class': ''} }) }}
					  {{ form_label(form.evaluation.2, 'TB') }}
					  {{ form_widget(form.evaluation.2, { 'attr': {'class': ''} }) }}
					</div>

					<div class="form-group">
					  {{ form_errors(form.observation) }}
					  {{ form_widget(form.observation, { 'attr': {'class': 'form-control', 'placeholder': 'Observation'} }) }}
					</div>
					{{ form_rest(form) }}
					
					<button type="submit" class="btn btn-register btn-lg"><i class="fa fa-save"></i> Valider</button>
				</form>
			{% endif %}
		</div>
	</div>
			
{% endblock %}
