{% extends "::base.html.twig" %}

{% block title %}Socialisation - {{enfant.nom~" "~enfant.prenom}}  {% endblock %}

{% block stylesheets %}    {{parent()}}
<link href="{{ asset('/bundles/fo/css/planning.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}    {{parent()}}
    <script src="{{ asset('/bundles/fo/js/planning.js') }}"></script>
{% endblock %}

{% block body %}

	<br>
	<div class="container">
		<h3>Ajouter un enfant</h3>
			<form action="{{ path('so_update_child', { 'enfant_id': enfant.id}) }}" method="post" {{ form_enctype(form) }}>

				{{ form_errors(form) }}

				<div class="form-group">
				  {{ form_label(form.nom, "Nom de l'enfant") }}
				  {{ form_errors(form.nom) }}
				  {{ form_widget(form.nom, { 'attr': {'class': 'form-control'} }) }}
				</div>

				<div class="form-group">
				  {{ form_label(form.prenom, "Prénom de l'enfant") }}
				  {{ form_errors(form.prenom) }}
				  {{ form_widget(form.prenom, { 'attr': {'class': 'form-control'} }) }}
				</div>

				<div class="">
				  {{ form_label(form.dateDeNaissance, "Date de naissance") }}
				  {{ form_errors(form.dateDeNaissance) }}
				  {{ form_widget(form.dateDeNaissance, { 'attr': {'class': 'form-group'} }) }}
				</div>

				<div class="form-group">
				  {{ form_label(form.observation, "Observation") }}
				  {{ form_errors(form.observation) }}
				  {{ form_widget(form.observation, { 'attr': {'class': 'form-control'} }) }}
				</div>

				<div class="form-group">
				  {{ form_label(form.file, "Image personnalisée") }}
				  {{ form_errors(form.file) }}
				  {{ form_widget(form.file, { 'attr': {'class': 'form-control'} }) }}
				</div>
				
				<div class="form-group">
				  {{ form_label(form.refNiveau, "Niveau") }}
				  {{ form_errors(form.refNiveau) }}
				  {{ form_widget(form.refNiveau, { 'attr': {'class': 'form-control'} }) }}
				</div>
			
				<div class="form-group">
				  {{ form_label(form.refParent, "Parent") }}
				  {{ form_errors(form.refParent) }}
				  {{ form_widget(form.refParent, { 'attr': {'class': 'form-control'} }) }}
				</div>

				<div class="form-group">
				  {{ form_label(form.refEducateur, "Educateur") }}
				  {{ form_errors(form.refEducateur) }}
				  {{ form_widget(form.refEducateur, { 'attr': {'class': 'form-control'} }) }}
				</div>

				{{ form_rest(form) }}
				
				<input type="submit" class="btn btn-primary" />
			</form>
		</div>
	</div>
			
{% endblock %}