{% extends "FoBundle:Gestion:index.html.twig" %}

{% block gst_contents -%}
    <h1>Liste Pictogrammes</h1>
<div class="table-responsive">
    <table class="records_list table table-bordered table-condensed table-striped table-hover">
        <thead>
            <tr class="btn-primary">
                <th>Id</th>
                <th>Image</th>
                <th>Pour Mot</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('image_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.url }}</td>
                <td>{{ entity.refPictogramme.refMot }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('image_show', { 'id': entity.id }) }}">visualiser</a>
                    </li>
                    <li>
                        <a href="{{ path('image_edit', { 'id': entity.id }) }}">éditer</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
        <ul>
        <li>
            <a href="{{ path('image_new') }}" class="btn btn-register">
                Ajouter un pictogramme
            </a>
        </li>
    </ul>
    {% endblock %}
