{% extends "FoBundle:Gestion:index.html.twig" %}

{% block javascripts %}
{{ parent() }}
<script>
    $('#file-upload').find('input').attr('required', 'required');
    $('#file-upload').find('input').change(function(){
        var fileName = $(this).val().split('/').pop().split('\\').pop();;
        var inputText =  $('#file-name').find('input');
        
        inputText.removeAttr('readonly');
        inputText.val(fileName);
        inputText.attr('readonly', 'readonly');
    });
</script>
{% endblock %}

{% block gst_contents -%}
    <h1>Image création</h1>

    {#{{ form(form) }}#}

    {{form_start(form)}}
    {{ form_errors(form) }}

        <div class="form-group hidden">
          {{ form_label(form.refEnfant, "Pour enfant:") }}
          {{ form_errors(form.refEnfant) }}
          {{ form_widget(form.refEnfant, { 'attr': {'class': 'form-control'} }) }}
        </div>  

        <div class="form-group">
          {{ form_label(form.refPictogramme, "Mot:") }}
          {{ form_errors(form.refPictogramme) }}
          {{ form_widget(form.refPictogramme, { 'attr': {'class': 'form-control'} }) }}
        </div>  

        <div class="form-group" id="file-upload">
          {{ form_label(form.file, "Fichier image:") }}
          {{ form_errors(form.file) }}
          {{ form_widget(form.file) }}
        </div>  

        <div class="form-group" id="file-name">
          {{ form_label(form.url, "Nom d\image:") }}
          {{ form_errors(form.url) }}
          {{ form_widget(form.url, { 'attr': {'class': 'form-control'} }) }}
        </div>  

    {{ form_rest(form) }}
    {{ form_end(form) }}
    
        <ul class="record_actions">
    <li>
        <a href="{{ path('image') }}">
            Revenir à la liste
        </a>
    </li>
</ul>
{% endblock %}
