{% extends "FoBundle:Gestion:index.html.twig" %}

{% block gst_contents -%}
    <h1>Image</h1>
<div class="table-responsive">
    <table class="record_properties table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><div  class="col-md-6 thumbnail" style="max-width: 220px;"><img src="{{ asset('/uploads/images/img-perso/'~entity.url) }}"/></div></td>
            </tr>
            <tr>
                <th>Pour mot</th>
                <td>{{entity.refPictogramme.refMot}}</td>
            </tr>
        </tbody>
    </table>
</div>
        <ul class="record_actions">
    <li>
        <a href="{{ path('image') }}" class="btn btn-back">
            Revenir vers la liste
        </a>
    </li>
    <li>
        <a href="{{ path('image_edit', { 'id': entity.id }) }}" class="btn btn-valid">
            Editer
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
