{% extends '::base.html.twig' %}
{% block body %}
{% block stylesheets %}
	{{parent()}}
	<style>
	/*footer { position: fixed; bottom : 0px; }*/
	</style>
{% endblock %}
<div class="container-fluid">
    <div class="sonata-user-show">
        {# menu #}
        <div class="col-md-8 col-lg-8 col-lg-offset-2 col-md-offset-2">
            <div id="cms-block-5329cee5a26ba" class="cms-block cms-block-element">
				<ul class="nav nav-pills nav-justified gestion-nav">
                    <li><a href="{{ path('enfant') }}" class="list-group-item ">Liste des enfants</a></li>                    

                    <li><a href="{{ path('activite') }}" class="list-group-item ">Activité</a></li>                      

                    <li><a href="{{ path('historique') }}" class="list-group-item ">Historique</a></li>     
                    
                    <li><a href="{{ path('image') }}" class="list-group-item ">pictogramme personnalisé</a></li>            
                </ul>
            </div>
        </div>
        
        {# contents #}
                {% block gst_contents %}{% endblock %}

    </div>
</div>
{% endblock %}
