{% extends '::base.html.twig' %}

{% block body -%}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 style="color:white">Pictogramme list
            <a href="{{ path('pictogramme_new') }}" class="btn btn-register pull-right"><i class="fa fa-plus"></i> 
                Ajouter un pictogramme
            </a>
        </h3>
        <div class="count">
        {{ pagination.getTotalItemCount }} résultats
        </div>
    </div>

    <div class="panel-body">

        <div class="table-responsive">
            <table class="records_list table table-responsive table-condensed table-striped">
                <thead>
            {#<tr>
                <th>Id</th>
                <th>Pictourl</th>
                <th>Imgurl</th>
                <th>Actions</th>
            </tr>#}
                    <tr>
                {# sorting of properties based on query components #}
                        <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
                        <th{% if pagination.isSorted('a.refMot.titre') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Mot associé', 'a.refMot.titre') }}</th>
                        <th>Fichier picto</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
        {#{% for entity in entities %}
            <tr>
                <td><a href="{{ path('pictogramme_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.pictoUrl }}</td>
                <td>{{ entity.imgUrl }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('pictogramme_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('pictogramme_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}#}
        {# table body #}
        {% for article in pagination %}
                    <tr {% if loop.index is odd %}class="color"{% endif %}>
                        <td><kbd><a href="{{ path('pictogramme_show', { 'id': article.id }) }}" style="color:white; width:20px; text-decoration:none;">{{ article.id }}</a></kbd></td>
                        <td>{{ article.refMot.titre }}</td>
                        <td>{{ article.pictoUrl }}</td>
                        <td>
                            <span>
                                    <a href="{{ path('pictogramme_show', { 'id': article.id }) }}" class="btn btn-info"><i class="fa fa-eye"></i></a>
                                
                    {#<a href="{{ path('pictogramme_edit', { 'id': article.id }) }}">edit</a>#}
                            </span>
                        </td>
                    </tr>
        {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {# display navigation #}
    <div class="navigation" style="text-align: center;">
        {{ knp_pagination_render(pagination) }}
    </div>
</div>
    {% endblock %}
