{% extends "FoBundle:Gestion:index.html.twig" %}

{% block javascripts %}
{{ parent() }}
<script>
    $('#file-upload').find('input').attr('required', 'required');
    $('#file-upload').find('input').change(function() {
        var fileName = $(this).val().split('/').pop().split('\\').pop();
        ;
        var inputText = $('#file-name').find('input');

        if (fileName.length > 0) {
            inputText.removeAttr('readonly');
            inputText.val(fileName);
            inputText.attr('readonly', 'readonly');
        }

    });
</script>
{% endblock %}

{% block gst_contents -%}
<div class="panel panel-info">

    <div class="panel-heading">
        <h2 class="panel-title">Ajouter un Pictogramme</h2>
    </div>
    <div class="panel-body">
    {{form_start(form)}}
    {{ form_errors(form) }}

    {# ==== traitement du pictogramme ==== #}
        <h3 style="text-align: center;">Pictogramme</h3>
        <div class="form-group row">
            <div id="file-upload" class="col-md-12 col-sm-12">
            {{ form_label(form.pictoFile, "Choisissez:") }}
            {{ form_errors(form.pictoFile) }}
            {{ form_widget(form.pictoFile, { 'attr': {'class': ''} }) }}
            </div>

            <div id="file-name" class="hidden">
            {{ form_label(form.pictoUrl, "Nom du fichier:") }}
            {{ form_errors(form.pictoUrl) }}
            {{ form_widget(form.pictoUrl, { 'attr': {'class': 'form-control', 'placeholder' : 'Nom du fichier picto'} }) }}
            </div>
        </div>


    {# ==== traitement du mot associé ==== #}
        <h3 style="text-align: center;">Mot associé</h3>
    {# --------- Général ----------- #}
        <h5>Général</h5>
        <div class="form-group row">
            <div class="col-md-6 col-sm-6">
            {{ form_label(form.refMot.titre, "Mot:") }}
            {{ form_errors(form.refMot.titre) }}
            {{ form_widget(form.refMot.titre, { 'attr': {'class': 'form-control', 'placeholder' : 'Mot associé'} }) }}
            </div>

            <div class="col-md-6 col-sm-6">
            {{ form_label(form.refMot.niveau, "Niveau: (A partir duquel)") }}
            {{ form_errors(form.refMot.niveau) }}
            {{ form_widget(form.refMot.niveau, { 'attr': {'class': 'form-control', 'placeholder' : 'Niveau'} }) }}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-6 col-sm-6">
            {{ form_label(form.refMot.refTheme, "Thème:") }}
            {{ form_errors(form.refMot.refTheme) }}
            {{ form_widget(form.refMot.refTheme, { 'attr': {'class': 'form-control', 'placeholder' : 'Thème'} }) }}
            </div>

            <div class="col-md-6 col-sm-6"></div>
        </div>
        <hr/>

    {# --------- Si c'est un sujet ----------- #}
        <h5>Sujet</h5>
        <div class="form-group row">
            <div class="col-md-6 col-sm-6">
            {{ form_label(form.refMot.personne, "Personne (Sujet):") }}
            {{ form_errors(form.refMot.personne) }}
            {{ form_widget(form.refMot.personne, { 'attr': {'class': 'form-control', 'placeholder' : 'Personne'} }) }}
            </div>

            <div class="col-md-6 col-sm-6"></div>
        </div>
        <hr/>

    {# --------- Si c'set un verbe ----------- #}
        <h5>Verbe</h5>
        <div class="form-group row">
            <div class="col-md-6 col-sm-6">
            {{ form_label(form.refMot.pps, "je:") }}
            {{ form_errors(form.refMot.pps) }}
            {{ form_widget(form.refMot.pps, { 'attr': {'class': 'form-control', 'placeholder' : ''} }) }}
            </div>

            <div class="col-md-6 col-sm-6">
            {{ form_label(form.refMot.dps, "tu:") }}
            {{ form_errors(form.refMot.dps) }}
            {{ form_widget(form.refMot.dps, { 'attr': {'class': 'form-control', 'placeholder' : ''} }) }}
            </div>

        </div>
        <div class="form-group row">
            <div class="col-md-6 col-sm-6">
            {{ form_label(form.refMot.tps, "il/elle:") }}
            {{ form_errors(form.refMot.tps) }}
            {{ form_widget(form.refMot.tps, { 'attr': {'class': 'form-control', 'placeholder' : ''} }) }}
            </div>

            <div class="col-md-6 col-sm-6">
            {{ form_label(form.refMot.ppp, "nous:") }}
            {{ form_errors(form.refMot.ppp) }}
            {{ form_widget(form.refMot.ppp, { 'attr': {'class': 'form-control', 'placeholder' : ''} }) }}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-6 col-sm-6">
            {{ form_label(form.refMot.dpp, "vous:") }}
            {{ form_errors(form.refMot.dpp) }}
            {{ form_widget(form.refMot.dpp, { 'attr': {'class': 'form-control', 'placeholder' : ''} }) }}
            </div>

            <div class="col-md-6 col-sm-6">
            {{ form_label(form.refMot.tpp, "ils/elles:") }}
            {{ form_errors(form.refMot.tpp) }}
            {{ form_widget(form.refMot.tpp, { 'attr': {'class': 'form-control', 'placeholder' : ''} }) }}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-6 col-sm-6">
            {{ form_label(form.refMot.pc, "Passé composé:") }}
            {{ form_errors(form.refMot.pc) }}
            {{ form_widget(form.refMot.pc, { 'attr': {'class': 'form-control', 'placeholder' : ''} }) }}
            </div>

            <div class="col-md-6 col-sm-6"></div>
        </div>
        <hr/>

    {# --------- Si c'est un complément ----------- #}
        <h5>Complément</h5>
        <div class="form-group row">
            <div class="col-md-6 col-sm-6">
            {{ form_label(form.refMot.genre, "Genre:") }}
            {{ form_errors(form.refMot.genre) }}
            {{ form_widget(form.refMot.genre, { 'attr': {'class': 'form-control', 'placeholder' : ''} }) }}
            </div>

            <div class="col-md-6 col-sm-6">
            {{ form_label(form.refMot.plur, "Format pluriel:") }}
            {{ form_errors(form.refMot.plur) }}
            {{ form_widget(form.refMot.plur, { 'attr': {'class': 'form-control', 'placeholder' : ''} }) }}
            </div>
        </div>
        <hr/>

    {# --------- Si c'est un adjectif ----------- #}
        <h5>Adjectif</h5>
        <div class="form-group row">
            <div class="col-md-6 col-sm-6">
            {{ form_label(form.refMot.ms, "Masculin sigulier:") }}
            {{ form_errors(form.refMot.ms) }}
            {{ form_widget(form.refMot.ms, { 'attr': {'class': 'form-control', 'placeholder' : ''} }) }}
            </div>

            <div class="col-md-6 col-sm-6">
            {{ form_label(form.refMot.fs, "Féminin sigulier:") }}
            {{ form_errors(form.refMot.fs) }}
            {{ form_widget(form.refMot.fs, { 'attr': {'class': 'form-control', 'placeholder' : ''} }) }}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-6 col-sm-6">
            {{ form_label(form.refMot.mp, "Masculin pluriel:") }}
            {{ form_errors(form.refMot.mp) }}
            {{ form_widget(form.refMot.mp, { 'attr': {'class': 'form-control', 'placeholder' : ''} }) }}
            </div>

            <div class="col-md-6 col-sm-6">
            {{ form_label(form.refMot.fp, "Féminin pluriel:") }}
            {{ form_errors(form.refMot.fp) }}
            {{ form_widget(form.refMot.fp, { 'attr': {'class': 'form-control', 'placeholder' : ''} }) }}
            </div>
        </div>
        <hr/>

    {# ==== phrase proposée pour ce picto/mot ==== #}
        <div class="form-group row">
            <div class="col-md-6 col-sm-6">
            {{ form_label(form.refPhrase.contenu, "Phrase proposée:") }}
            {{ form_errors(form.refPhrase.contenu) }}
            {{ form_widget(form.refPhrase.contenu, { 'attr': {'class': 'form-control', 'placeholder' : 'Phrase'} }) }}
            </div>

            <div class="col-md-6 col-sm-6"></div>
        </div>
        <hr/>

        <div class="form-group row">
            <div class="col-md-6 col-sm-6">
                {{ form_label(form.submit, "Ajouter") }}
                {{ form_widget(form.submit, { 'attr': {'class': 'form-control btn-register'} }) }}
            </div>
            <div class="col-md-6 col-sm-6">
                <a href="{{ path('pictogramme') }}" class="btn btn-info btn-block"><i class="fa fa-reply"></i> Revenir à la liste</a>
            </div>
        </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
    </div>

</div>
{% endblock %}
