{% extends '::base.html.twig' %}

{% block body -%}
<div class="panel panel-info">
    <div class="panel-heading">
        <h2 >Pictogramme</h2>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class=" table table-striped table-condensed record_properties">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ entity.id }}</td>
                    </tr>
                    <tr>
                        <th>Pictogramme</th>
                        <td>
                            <img class="thumbnail" style="width: 120px;" src="{{ asset('/uploads/images/picto/'~entity.pictoUrl) }}"/>
                        </td>
                    </tr>
                    <tr>
                        <th>Mot associé</th>
                        <td>{{ entity.refMot.titre }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
{#    <a href="{{ path('pictogramme_edit', { 'id': entity.id }) }}" class="btn btn-valid"><i class="fa fa-edit"></i> Editer</a>#}
        <a href="{{ path('pictogramme') }}" class="btn btn-default"><i class="fa fa-reply"></i> Revenir à la liste</a>
    </div>
{% endblock %}
