{% extends "FoBundle:Gestion:index.html.twig" %}

{% block gst_contents -%}
    <h1>Liste Activite</h1>

    <table class="records_list table table-bordered table-condensed table-striped table-hover">
        <thead>
            <tr class="btn-primary">
                <th>Id</th>
                <th>Titre</th>
                <th>Datedebut</th>
                <th>Datefin</th>
                <th>Statut</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('activite_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.titre }}</td>
                <td>{% if entity.dateDebut %}{{ entity.dateDebut|date('d/m/Y') }}{% endif %}</td>
                <td>{% if entity.dateFin %}{{ entity.dateFin|date('d/m/Y') }}{% endif %}</td>
                <td>{{ entity.statut }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('activite_show', { 'id': entity.id }) }}">visualiser</a>
                    </li>
                    <li>
                        <a href="{{ path('activite_edit', { 'id': entity.id }) }}">editer</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('activite_new') }}">
                Créer une activité
            </a>
        </li>
    </ul>
    {% endblock %}
