<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    {#{{ form_widget(form) }}#}
    <div class="form-group">
        {{ form_label(form.current_password, "Mot de passe actuel:") }}
        {{ form_errors(form.current_password) }}
        {{ form_widget(form.current_password, { 'attr': {'class': 'form-control'} }) }}
    </div> 

    <div class="form-group">
        {{ form_label(form.new.first, "Mot de passe:") }}
        {{ form_errors(form.new.first) }}
        {{ form_widget(form.new.first, { 'attr': {'class': 'form-control'} }) }}
    </div> 

    <div class="form-group">
        {{ form_label(form.new.second, "Vérification:") }}
        {{ form_errors(form.new.second) }}
        {{ form_widget(form.new.second, { 'attr': {'class': 'form-control'} }) }}
    {{ form_rest(form) }}
    </div>
    <div>
        <input type="submit" class="btn btn-danger pull-right" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>